<template>
  <component
  :is="whichPage"></component>
</template>

<script>
import Notification from './Notification';

export default {
  data() {
    return {
      whichPage: 'Notification',
    };
  },
  components: {
    Notification,
  },
};
</script>

<style lang="scss" scoped>
</style>
