<template>
  <div class="notifi-container portlet stnd-font m-7">
    <div class="header">
      <div class="title height-50 fs-20 p-15 white black-text">
        <i class="icon-bell fw-600 pr-5"></i>
        <span class="fs-23">Notification</span>
      </div>
    </div>
    <div class="bottom scroll-bar scroll-y">
      <div class="notify m-10"
      v-for="(notifi,index) in notifiList"
      :class="getColor(index)"
      :key="notifi.id">
        <div class="title fs-22 pl-10 pt-5 pb-5 white-text fw-500">{{ notifi.title }}</div>
        <div class="content m-10 fs-15">{{ notifi.content }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      notifiList: 'getNotification',
    }),
  },
  methods: {
    getColor(index) {
      if ((index % 4) === 0) {
        return 'notify-red';
      } else if ((index % 4) === 1) {
        return 'notify-green';
      } else if ((index % 4) === 2) {
        return 'notify-blue';
      }
      return 'notify-yellow';
    },
  },
};
</script>

<style lang="scss" scoped>
.notifi-container {
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);

  .header {
    border-bottom: .5rem solid #eee;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .7rem;
  }

  .bottom {
    height: calc(100vh - 13rem);
    .notify {
      box-shadow: 0 0 40px 0 rgba(0, 0, 0, .13);
    }
  }

  .notify-red {
    border: .2rem solid #F36A5A;
    .title {
      background: #F36A5A;
    }
    .content {
      color: #808080;
    }
  }
  .notify-green {
    border: .2rem solid #26C281;
    .title {
      background: #26C281;
    }
    .content {
      color: #808080;
    }
  }
  .notify-blue {
    border: .2rem solid #4272d7;
    .title {
      background: #4272d7;
    }
    .content {
      color: #808080;
    }
  }
  .notify-yellow {
    border: .2rem solid rgba(252, 185, 1, 0.87);
    .title {
      background: rgba(252, 185, 1, 0.87);
    }
    .content {
      color: #808080;
    }
  }
}
</style>
