<template>
  <div class="create-order-container stnd-font portlet scroll-bar m-7 scroll-y"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  delete: ['del'], enter: ['enter'], f2: ['f2']}"
  @shortkey="keyEvents">
    <div class="page-header pt-2">
      <div class="title mt-10">
        <i class="icon-basket fw-500"></i>
        <span class="fw-500">Create Order</span>
      </div>
      <div class="all-total fs-30">
        {{ getTotal }}
      </div>
      <div class="btn-group mt-1">
        <button
        class="btn btn-gradient-blue"
        @click="next"
        ><i class="icons icon-arrow-right-circle mr-10 va-middle fw-700"></i>
           Next
        </button>
      </div>
    </div>
    <div class="product-select-container scroll-bar scroll-y">
      <div class="table table-bubble table-hover full-width">
        <div class="table-header">
          <div class="table-cell">Product</div>
          <div class="table-cell">Batch</div>
          <div class="table-cell">Quantity</div>
          <div class="table-cell base-price-header">Rate</div>
          <div class="table-cell">Discount</div>
          <div class="table-cell">Tax</div>
          <div class="table-cell">Net</div>
          <div class="table-cell">Total</div>
          <div class="table-cell">Prescription</div>
          <div class="table-cell"></div>
        </div>
        <div
        class="table-row"
        v-for="(product, index) in products"
        @click="selectProduct(index)"
        :key="index"
        :class="{
          'red': (product.maxQuantity < product.quantity),
          'selected': (productIndex === index)
          }">
          <div class="table-cell product fw-500">
            {{ product.name }}
          </div>
          <div class="table-cell batch fw-500">
            {{ product.batch }}
          </div>
          <div class="table-cell quantity">
            <input type="number" class="input stnd-font"
            tabindex="1" v-model="products[index].quantity"
            :max="products[index].maxQuantity"
            min=1
            v-on:keyup="reCalculate($event, 'quantity', index)"
            v-on:mouseup="reCalculate($event, 'quantity', index)"
            ref="product">
          </div>
          <div class="table-cell base-price fw-500">
            {{ product.basePrice }}
          </div>
          <div class="table-cell discount">
            <input type="number" class="input stnd-font"
            tabindex="1" v-model="products[index].discount"
            v-on:keyup="reCalculate($event, 'discount', index)"
            v-on:mouseup="reCalculate($event, 'discount', index)">
          </div>
          <div class="table-cell tax">
            <select
            tabindex="1" v-model="products[index].tax"
            v-on:keyup="reCalculate($event, 'tax', index)"
            v-on:mouseup="reCalculate($event, 'tax', index)"
            class="select stnd-font">
              <option class="list" v-for="tax in taxes" :key="tax">{{tax}}</option>
            </select>
          </div>
          <div class="table-cell net-price">
            <input type="number" class="input stnd-font"
            tabindex="1"
            :value="products[index].netPrice"
            v-on:keyup="reCalculate($event, 'netPrice', index)"
            v-on:mouseup="reCalculate($event, 'netPrice', index)">
          </div>
          <div class="table-cell total fw-500">
            {{ products[index].total }}
          </div>
          <div class="table-cell prescription ta-left">
            <template v-if="product.details">
              <template v-if="product.details.prescription">
                <i class="icon-check blue-text fs-18"></i>
              </template>
              <template v-else>
                <i class="icon-close red-text fs-18"></i>
              </template>
            </template>
          </div>
          <div class="table-cell">
            <i class="icons icon-trash red-text fs-20" @click="removeProduct(index)"></i>
          </div>
        </div>
      </div>
      <div class="button">
        <a
          class="btn btn-gradient-green mt-20 mb-10"
          @click="openProductSearch">
          <span><i class="icons icon-plus va-middle fw-700 mr-1 fs-21 pr-10 fw-700"></i></span>
          Add New
        </a>
      </div>
    </div>
    <template
    v-if="clicked">
      <div class="search-product scroll-bar scroll-y position-absolute white z-index-1000"
      :class="(getSidebarType) ? 'small-sidebar' : 'big-sidebar'">
        <input type="text" class="input stnd-font" placeholder="search"
        v-model="search"
        v-focus>
        <div class="table table-bubble table-hover full-width">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Batch</div>
            <div class="table-cell white-text">Qty</div>
            <div class="table-cell white-text">Expiry</div>
            <div class="table-cell white-text">HSN Code</div>
            <div class="table-cell white-text">Cost Price</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Discount</div>
            <div class="table-cell white-text">Net</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in searchProducts"
          :key="index"
          :class="(searchProductIndex === index) ? 'selected': ''"
          @click="addProduct(index)">
            <div class="table-cell fw-500">{{ product.name }}</div>
            <div class="table-cell">{{ product.batch }}</div>
            <div class="table-cell fw-500">{{ product.quantity }}</div>
            <div class="table-cell">{{ product.expiry ?
              (new Date(product.expiry)).toDateString() : '' }}</div>
            <div class="table-cell">{{ product.hsn }}</div>
            <div class="table-cell">{{ product.costPrice }}</div>
            <div class="table-cell">{{ product.basePrice }}</div>
            <div class="table-cell">{{ product.tax }}</div>
            <div class="table-cell">{{ product.discount }}</div>
            <div class="table-cell fw-500">{{ product.netPrice }}</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  data() {
    return {
      search: '',
      productIndex: -1,
      products: [],
      clicked: false,
      searchProductIndex: 0,
    };
  },
  methods: {
    selectProduct(index) {
      this.productIndex = index;
    },
    keyEvents({ srcKey }) {
      if (srcKey === 'f2') {
        this.openProductSearch();
        return 0;
      }
      if (this.clicked) {
        this.productSelectArrow(srcKey);
      } else {
        if (srcKey === 'enter') {
          if (!this.cantSubmit) {
            this.next();
          }
          return 0;
        }
        this.productArrow(srcKey);
      }
      return 0;
    },
    productSelectArrow(srcKey) {
      if (srcKey === 'up' && this.searchProductIndex > 0) {
        this.searchProductIndex -= 1;
      }
      if (srcKey === 'down' && this.searchProductIndex < this.searchProducts.length) {
        this.searchProductIndex += 1;
      }
      if (srcKey === 'enter') {
        if (this.searchProducts.length > 0) {
          this.addProduct(this.searchProductIndex);
        }
      }
    },
    resetSearchProductIndex() {
      this.searchProductIndex = 0;
    },
    productArrow(srcKey) {
      if (srcKey === 'up' && this.productIndex > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.products.length) {
        this.productIndex += 1;
      }
      if (srcKey === 'delete') {
        this.removeProduct(this.productIndex);
      }
    },
    convert(products) {
      const toPaise = (product) => {
        const newProduct = _.pick(_.cloneDeep(product), [
          '_id', 'basePrice', 'batch', 'discount', 'expiry', 'id', 'name', 'netPrice', 'quantity', 'refund', 'tax', 'costPrice', 'total', 'hsn',
        ]);
        newProduct.basePrice = parseInt(newProduct.basePrice * 100, 10);
        newProduct.netPrice = parseInt(newProduct.netPrice * 100, 10);
        newProduct.costPrice = parseInt(newProduct.costPrice * 100, 10);
        newProduct.sellPrice = newProduct.netPrice;
        newProduct.tax = parseInt(newProduct.tax * 100, 10);
        newProduct.discount = parseInt(newProduct.discount * 100, 10);
        newProduct.total = parseInt(newProduct.total * 100, 10);
        newProduct.quantity = parseInt(newProduct.quantity, 10);
        return newProduct;
      };
      return products.map(toPaise);
    },
    reCalculate(event, property, index) {
      if (property === 'netPrice') {
        this.products[index].netPrice = event.target.value;
      }
      if (property === 'tax' || property === 'discount') {
        this.products[index].netPrice = (this.products[index].basePrice
        * (1 + (this.products[index].tax / 100))
        * (1 - (this.products[index].discount / 100))).toFixed(2);
      } else if (property === 'netPrice') {
        this.products[index].discount = ((1 - (this.products[index].netPrice
        / this.products[index].basePrice
        / (1 + (this.products[index].tax / 100)))) * 100).toFixed(2);
      }
      this.products[index].total = (this.products[index].netPrice
        * this.products[index].quantity)
        .toFixed(2);
    },
    ...mapMutations([
      'setOrderCreateSubPageFromCreate',
      'setPopup',
    ]),
    ...mapActions([
      'loadLocalProducts',
      'loadStockOverview',
    ]),
    addProduct(index) {
      const newProduct = _.cloneDeep(this.searchProducts[index]);
      newProduct.maxQuantity = newProduct.quantity;
      newProduct.quantity = 1;
      newProduct.total = newProduct.netPrice;
      this.products.push(newProduct);
      this.clicked = !this.clicked;
      this.$nextTick(() => {
        this.$refs.product[this.products.length - 1].focus();
      });
      this.searchProductIndex = 0;
      this.productIndex = this.products.length - 1;
    },
    removeProduct(index) {
      this.products.splice(index, 1);
      this.productIndex = this.products.length - 1;
    },
    async openProductSearch() {
      this.search = '';
      if (this.searchProducts.length > 0) {
        this.resetSearchProductIndex();
        this.clicked = !this.clicked;
      }
    },
    next() {
      if (this.cantSubmit) {
        this.setPopup({
          title: 'Invalid',
          text: 'Product quantity is more than that available in stock.',
          type: 'error',
        });
      } else {
        this.setOrderCreateSubPageFromCreate(this.convert(this.products));
      }
    },
    updatedProducts() {
      const initialProductNumber = this.products.length;
      if (this.inStockProducts.length > 0) {
        this.products = this.products.map((prod) => {
          const reloadProds = this.inStockProducts
            .filter(stProd => stProd._id === prod._id);
          if (reloadProds.length > 0) {
            const copyProd = _.cloneDeep(prod);
            copyProd.maxQuantity = reloadProds[0].quantity;
            return copyProd;
          }
          return null;
        })
          .filter(prod => prod);
      }
      const finalProductNumber = this.products.length;
      if (finalProductNumber !== initialProductNumber) {
        this.productIndex = 0;
      }
    },
  },
  computed: {
    ...mapGetters({
      inStockProducts: 'getInStockProducts',
      getSidebarType: 'getSidebarType',
      taxes: 'getGstPercent',
    }),
    cantSubmit() {
      if (this.products.length === 0) {
        return true;
      }
      return this.products.map(prod => (prod.quantity > prod.maxQuantity))
        .reduce((a, c) => a || c);
    },
    getTotal() {
      if (this.products.length === 0) {
        return 0;
      }
      return this.products
        .map(product => parseFloat(product.total, 10))
        .reduce((a, c) => a + c)
        .toFixed(2);
    },
    searchProducts() {
      if (!this.inStockProducts) {
        return this.inStockProducts;
      }
      const r = new RegExp(`${this.search.split(' ').join('.*')}`, 'i');
      if (this.products.length === 0) {
        return this.inStockProducts
          .filter(product => product.name.match(r));
      }
      return this.inStockProducts
        .filter(product => product.name.match(r))
        .filter(stProd => !this.products
          .map(prod => stProd._id === prod._id)
          .reduce((a, c) => a || c));
    },
  },
  watch: {
    inStockProducts() {
      this.updatedProducts();
    },
  },
};
</script>

<style lang="scss" scoped>
.create-order-container {
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);

  .page-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 5rem;
  }
  .product-select-container {
    height: calc(100vh - 14rem);
    .btn {
      margin: {
        left: 45%;
      }
    }
    .table {
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
        &.red .table-cell {
          background: rgb(255, 200, 200);
        }
      }
    }
  }
  .search-product {
    height: calc(100vh - 74px);
    top: 67px;
    &.big-sidebar {
    width: calc(100vw - 264px);
    }
    &.small-sidebar {
    width: calc(100vw - 74px);
    }
    .table {
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
      }
    }
  }
}
</style>
