<template>
  <div class="customer-info stnd-font scroll-bar m-7 scroll-y">
    <div class="left portlet width-350">
      <img class="grid-row-1" :src="`static/img/customer/${whichImage}.svg`" alt="">
      <div class="middle p-10 mt-50">
        <div class="order-total pb-20">
          <div class="title fs-19 ta-center">Order Total</div>
          <div class="value fs-21 fw-700 mt-10 ta-center grey-text darken-1">
          ₹ {{ (transaction.total / 100).toFixed(2) }}</div>
        </div>
        <div class="payment">
          <div class="payment-type">
            <div class="toggle-bar mr-10 pb-10">
              <span class="fs-15 pt-5 pl-10">Full Payment</span>
              <label class="switch grid-col-2 ml-16">
              <input type="checkbox" v-model="open">
              <span class="slider round"></span>
              </label>
              <span class="toggle-text fs-15 pt-5 pl-15">Part Payment</span>
            </div>
          </div>
          <input type="number" class="input stnd-font" placeholder="Part Payment"
          v-model="partPay"
          v-if="open">
        </div>
        <div class="total-due mt-10" v-if="open">
          <div class="title fs-19 ta-center mt-3">Total Due</div>
          <div class="value fs-21 fw-700 ta-center grey-text darken-1">₹ {{ ((this.transaction.total
            - parseInt(this.partPay * 100, 10)) / 100).toFixed(2) }}</div>
        </div>
      </div>
      <div class="button-group grid-row-3 pb-5 ph-10">
        <a href="#" class="btn btn-gradient-green mv-5 full-width"
        v-shortkey="['enter']"
        @shortkey="submit(infoToObject)"
        @click="submit(infoToObject)">
          <i class="icons icon-check fs-18 fw-600 mr-7"></i>
          Submit
        </a>
        <a href="#" class="btn btn-gradient-red mv-5 full-width"
        @click="reset">
          <i class="icons icon-reload fs-18 fw-600 mr-7"></i> Reset
        </a>
        <a href="#" class="btn btn-gradient-blue mv-5 full-width"
        @click="back">
          <i class="icons icon-arrow-left-circle fs-18 fw-600 mr-7"></i> Back
        </a>
      </div>
    </div>
    <div class="right portlet p-15">
      <div class="doctor-details mb-10">
        <div class="title fs-20 mb-5">Doctor Details</div>
        <input class="input stnd-font grid-col-1"
        v-focus
        placeholder="Doctor" v-model="doctor">
        <input class="input stnd-font" placeholder="License" v-model="license">
      </div>
      <div class="customer-details mv-20">
        <div class="title fs-20 mb-5 grid-col-1-5">Customer Details</div>
        <input class="input stnd-font grid-col-1-3" placeholder="Name" v-model="name">
        <div class="gender">
          <span class="fs-18 mt-5 ta-center">Male</span>
          <label class="switch">
            <input type="checkbox" v-model="gender">
            <span class="slider round"></span>
          </label>
          <span class="fs-18 mt-5 ta-center">Female</span>
        </div>
        <input class="input stnd-font" type="number"
         placeholder="Age" min="0" v-model="age">
        <input class="input stnd-font" type="date"
         placeholder="Date of Birth" v-model="yob">
        <input class="input stnd-font" type="email"
         placeholder="Email" v-model="email">
        <input class="input stnd-font" type="number"
         placeholder="Phone" v-model="phone">
         <input class="input stnd-font" type="number"
         placeholder="GSTIN" v-model="gstin">
      </div>
      <div class="address mv-20">
        <div class="title fs-20 mb-5 grid-col-1-5">Address</div>
        <input class="input stnd-font" type="number"
         placeholder="Pincode" v-model="pincode">
        <input class="input stnd-font" placeholder="City" v-model="city">
        <div class="state">
          <select
          class="select stnd-font" v-model="state">
            <option class="list" v-for="(state, idx) in getIndianStates" :key="idx">
              {{ state }}
            </option>
          </select>
        </div>
        <div class="country">
          <select
          class="select stnd-font">
            <option class="list">India</option>
          </select>
        </div>
        <input class="input stnd-font grid-col-1-5" placeholder="Address Line 1" v-model="address1">
        <input class="input stnd-font grid-col-1-5" placeholder="Address Line 2" v-model="address2">
        <input class="input stnd-font grid-col-1-5" placeholder="Landmark" v-model="landmark">
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  async destroyed() {
    this.loadOrderHistory();
    this.loadStockOverview();
    this.accountTransactions();
  },
  data() {
    return {
      open: false,
      partPay: null,
      name: '',
      gender: false,
      yob: '',
      age: '',
      email: '',
      phone: '',
      gstin: '',
      country: 'India',
      state: '19 - West Bengal',
      pincode: '',
      city: 'Howrah',
      address1: '',
      address2: '',
      landmark: '',
      paymentType: 'cash',
      doctor: '',
      license: '',
      creditCardNumber: '',
      CreditName: '',
      CreditExpiry: '',
      CreditCvv: '',
      debitCardNumber: '',
      debitName: '',
      debitExpiry: '',
      debitCvv: '',
    };
  },
  watch: {
    yob(val) {
      if (val) {
        this.age = (new Date()).getFullYear()
        - (new Date(val)).getFullYear();
      }
    },
  },
  computed: {
    ...mapGetters({
      transaction: 'getOrderCreateTransaction',
      user: 'getUser',
      getIndianStates: 'getIndianStates',
    }),
    infoToObject() {
      const person = {};
      let secondPerson;
      let payment;
      if (this.name) {
        person.name = this.name;
      }
      person.gender = this.gender;
      if (this.yob) {
        person.birthDate = new Date(this.yob).toISOString();
      }
      if (this.age) {
        person.age = parseInt(this.age, 10);
      }
      if (this.email || this.phone) {
        person.contacts = {};
        if (this.email) {
          person.contacts.emails = [this.email];
        }
        if (this.phone) {
          person.contacts.phones = [this.phone];
        }
      }
      person.address = {};
      person.address.country = this.country;
      person.address.state = this.state;
      person.address.city = this.city;
      person.address.lines = [this.address1, this.address2];
      person.address.landmark = this.landmark;
      person.address.pincode = this.pincode;
      person.gstin = this.gstin;
      if (this.doctor) {
        secondPerson = {};
        secondPerson.name = this.doctor;
        if (this.license) {
          secondPerson.license = this.license;
        }
      }
      if (this.paymentType) {
        payment = {};
        payment.type = this.paymentType;
        payment.closed = !this.open;
        if (this.open) {
          payment.paid = Math.min(parseInt(`0${this.partPay * 100}`, 10), this.transaction.total);
          payment.due = this.transaction.total - payment.paid;
          payment.history = [{
            amount: parseInt(this.partPay * 100, 10),
            date: (new Date()).toISOString(),
            user: this.user._id,
            username: this.user.username,
          }];
          if (payment.due === 0) {
            payment.closed = true;
          }
        } else {
          payment.due = 0;
          payment.paid = this.transaction.total;
          payment.history = [{
            amount: this.transaction.total,
            date: (new Date()).toISOString(),
            user: this.user._id,
            username: this.user.username,
          }];
        }
      }
      return {
        person,
        secondPerson,
        payment,
      };
    },
    whichImage() {
      if (this.age) {
        if (this.age >= 30) {
          if (this.gender) {
            return 'women';
          } return 'man';
        }
      }
      if (this.gender) {
        return 'girl';
      } return 'boy';
    },
  },
  methods: {
    ...mapActions({
      submit: 'addOrderCreate',
      loadOrderHistory: 'loadOrderHistory',
      loadStockOverview: 'loadStockOverview',
      accountTransactions: 'accountTransactions',
    }),
    ...mapMutations({
      back: 'backFromCusfo',
    }),
    reset() {
      this.open = false;
      this.partPay = null;
      this.name = '';
      this.gender = false;
      this.yob = '';
      this.age = '';
      this.email = '';
      this.phone = '';
      this.country = 'India';
      this.state = 'West Bengal';
      this.pincode = '';
      this.city = 'Howrah';
      this.address1 = '';
      this.address2 = '';
      this.landmark = '';
      this.paymentType = 'cash';
      this.doctor = '';
      this.license = '';
      this.creditCardNumber = '';
      this.CreditName = '';
      this.CreditExpiry = '';
      this.CreditCvv = '';
      this.debitCardNumber = '';
      this.debitName = '';
      this.debitExpiry = '';
      this.debitCvv = '';
    },
  },
};
</script>

<style lang="scss" scoped>
.customer-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 7px;
  height: calc(100vh - 8rem);

  .left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    img {
      width: 90%;
      padding: {
        left: 10%;
        top: 5%;
      }
    }
    .middle {
      .payment {
        .toggle-bar {
          min-width: 12rem;
          display: grid;
          grid-template-columns: auto auto auto;
        }
      }
      .total-due {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .right {
    .doctor-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    .customer-details {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
    .address {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
    .gender {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
  }

}
</style>

