<template>
  <div class="new-product-container stnd-font m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  right: ['arrowright'], left: ['arrowleft'], enter: ['enter']}"
  @shortkey="keyEvents">
    <div class="left-container portlet grid-col-1 p-10">
      <div class="input stnd-font">
        <input type="text" class="input stnd-font " placeholder="Search Product"
        v-model="search"
        v-focus
        ref="search"
        @keyup="loadLocalProducts({
          name: search,
        }), productIndex = 0">
      </div>
      <div class="list scroll-bar scroll-y">
        <div class="table table-hover table-bubble full-width">
          <div class="table-row"
          v-for="(product, index) in globalProducts"
          :key="index">
            <div class="table-cell fw-600"
            :class="(productIndex === index) ? 'grey lighten-3': ''"
            @click="chooseProduct(index)">
              {{ product.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container-medicine scroll-bar portlet">
      <div class="top-header">
        <div class="title height-50 fs-20 white p-15 black-text">
          <i class="icon-plus fw-600 pr-5"></i>
          <span class="fs-23">Edit</span>
        </div>
        <div class="btn-group grid-col-3 mt-5 mr-5">
          <a class="btn btn-gradient-blue"
          @click="done(infoToObject)">
            <i class="icons icon-check mr-10 va-middle fw-700"></i>
            Done
          </a>
        </div>
      </div>
      <div class="form-medicine mh-10 mt-10">
        <div class="drug-name grid-col-1-4">
          <div class="title fs-15 mb-5">Drug Name</div>
          <input type="text" class="input stnd-font"
          placeholder="Drug Name" v-model="product.name"
          ref="product">
        </div>
        <div class="intake-type grid-col-4">
          <div class="title fs-15 mb-5">Intake Type</div>
          <input type="text" class="input stnd-font"
          placeholder="Intake Type" v-model="product.details.intake">
        </div>
        <div class="manufacturer grid-col-1-3">
          <div class="title fs-15 mb-5">Manufacturer</div>
          <input type="text" class="input stnd-font"
          placeholder="Manufacturer" v-model="product.details.company">
        </div>
        <div class="quantity grid-col-3-4">
          <div class="title fs-15 mb-5">Quantity Per Unit</div>
          <input type="text" class="input stnd-font"
          placeholder="Quantity Per Unit" v-model="product.details.quantity">
        </div>
        <div class="prescription grid-col-4-5">
          <div class="title fs-15 mb-5">Prescription</div>
          <div class="toggle-bar">
            <span class=" fs-15 pt-8">No</span>
            <label class="switch grid-col-2 ml-10">
            <input type="checkbox" v-model="product.details.prescription">
            <span class="slider round"></span>
            </label>
            <span class="ml-10 fs-15 pt-8">Yes</span>
          </div>
        </div>
        <div class="generic-name grid-col-1-2">
          <div class="title fs-15 mb-5">Generic Name</div>
          <input type="text" class="input stnd-font"
          placeholder="Generic Name" v-model="product.details.generic">
        </div>
        <div class="drug-form grid-col-2-3">
          <div class="title fs-15 mb-5">Drug Form</div>
          <input type="text" class="input stnd-font"
          placeholder="Drug From" v-model="product.details.form">
        </div>
        <div class="min-quantity">
          <div class="title fs-15 mb-5">Min Quantity</div>
          <input type="number" class="input stnd-font"
          placeholder="Min Quantity" v-model="product.minQuantity">
        </div>
        <div class="max-quantity">
          <div class="title fs-15 mb-5">Max Quantity</div>
          <input type="number" class="max input stnd-font"
          placeholder="Max Quantity" v-model="product.maxQuantity">
        </div>
        <div class="checkbox-container">
          <div class="title fs-15 mb-5 mb-15">Drug Type</div>
          <div class="drug-type">
            <label class="container display-block position-relative pl-35 mb-12 fs-22">X
              <input type="checkbox" v-model="product.details.schedule.x">
              <span class="checkmark position-absolute height-25 width-25"></span>
            </label>
            <label class="container display-block position-relative pl-35 mb-12 fs-22">H1
              <input type="checkbox" v-model="product.details.schedule.h1">
              <span class="checkmark position-absolute height-25 width-25"></span>
            </label>
            <label class="container display-block position-relative pl-35 mb-12 fs-22">H
              <input type="checkbox" v-model="product.details.schedule.h">
              <span class="checkmark position-absolute height-25 width-25"></span>
            </label>
            <label class="container display-block position-relative pl-35 mb-12 fs-22">TB
              <input type="checkbox" v-model="product.details.schedule.tb">
              <span class="checkmark position-absolute height-25 width-25"></span>
            </label>
            <label class="container display-block position-relative pl-35 mb-12 fs-22">Narcotics
              <input type="checkbox" v-model="product.details.schedule.narcotics">
              <span class="checkmark position-absolute height-25 width-25"></span>
            </label>
          </div>
        </div>
        <div class="use grid-col-1-3">
          <div class="title fs-15 mb-5">Use</div>
          <input type="text" class="input stnd-font"
          placeholder="Use" v-model="product.details.use[0]">
        </div>
        <div class="atc-codes grid-col-3-5">
          <div class="title fs-15 mb-5">ATC Codes</div>
          <input type="text" class="input stnd-font"
          placeholder="ATC Codes" v-model="product.details.atc">
        </div>
      </div>
      <div class="title header fs-15 mb-5 mt-10 ml-10">Compositions</div>
      <div class="composition mh-10 mb-1">
        <div class="composition-row mb-10"
        v-for="(composition, index) in product.details.composition"
        :key="index">
          <input
          type="text"
          class="input stnd-font chemical grid-col-1-3"
          placeholder="Chemical"
          ref="composition"
          v-model="product.details.composition[index].chemical">

          <input
          type="text"
          class="input stnd-font quantity"
          placeholder="Quantity"
          v-model="product.details.composition[index].quantity">

          <a
          class="btn btn-gradient-red"
          @click="deleteComposition(index)"
          v-if="index < product.details.composition.length-1">
            <span>
              <i class="icons icon-minus va-middle fw-700 fs-15 fw-700 pr-5"></i>
            </span>
            Delete
          </a>
          <a
          class="btn btn-gradient-green"
          @click.prevent.stop="addComposition"
          v-if="index === product.details.composition.length-1">
            <span><i class="icons icon-plus va-middle fw-700 fs-15 fw-700 pr-5"></i></span> Add
          </a>
        </div>
      </div>
      <div class="discount-hsn mh-10">
        <div class="price">
          <div class="title fs-15 mb-5">Maximum Retail Price (₹)</div>
          <input type="number" class="input stnd-font" placeholder="Price"
          v-model="product.price">
        </div>
        <div class="discount">
          <div class="title fs-15 mb-5">Discount (%) </div>
          <input type="number" class="input stnd-font" placeholder="Discount"
          v-model="product.discount">
        </div>
        <div class="tax">
          <div class="title fs-15 mb-5">Tax</div>
          <select
            v-model="product.tax"
            class="select stnd-font">
              <option class="list" v-for="tax in taxes" :key="tax">{{tax}}</option>
          </select>
        </div>
        <div class="hsn-code">
          <div class="title fs-15 mb-5">HSN/SAC code</div>
          <input type="number" class="input stnd-font" placeholder="HSN/SAC Code"
          v-model="product.details.hsn">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  computed: {
    ...mapGetters({
      globalProducts: 'getLocalProducts',
      taxes: 'getGstPercent',
    }),
    infoToObject() {
      const newProduct = _.cloneDeep(this.product);
      newProduct.details.stockable = !newProduct.details.stockable;
      newProduct.netPrice = parseInt(newProduct.netPrice * 100, 10);
      newProduct.discount = parseInt(newProduct.discount * 100, 10);
      newProduct.tax = parseInt(newProduct.tax * 100, 10);
      newProduct.basePrice = parseInt(newProduct.netPrice
      / (1 + (newProduct.tax / 10000))
      / (1 - (newProduct.discount / 10000)), 10);
      newProduct.minQuantity = parseInt(newProduct.minQuantity, 10);
      newProduct.maxQuantity = parseInt(newProduct.maxQuantity, 10);
      delete newProduct.price;
      delete newProduct.details.url;
      return newProduct;
    },
  },
  data() {
    return {
      productIndex: 0,
      search: '',
      product: {
        name: '',
        tax: 0,
        price: 0,
        discount: 0,
        minQuantity: 5,
        maxQuantity: 10000,
        details: {
          composition: [{
            quantity: '',
            chemical: '',
          }],
          form: '',
          intake: '',
          generic: '',
          atc: [],
          use: [''],
          company: '',
          hsn: '',
          schedule: {
            h: false,
            h1: false,
            x: false,
            tb: false,
            narcotics: false,
          },
        },
      },
    };
  },
  methods: {
    ...mapActions({
      loadLocalProducts: 'loadLocalProducts',
      updateProduct: 'updateProduct',
    }),
    keyEvents({ srcKey }) {
      if (srcKey === 'up' && this.productIndex > 0 && this.globalProducts.length > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.globalProducts.length && this.globalProducts.length > 0) {
        if (this.productIndex === this.globalProducts.length - 1) {
          this.productIndex = this.productIndex;
        } else {
          this.productIndex += 1;
        }
      }
      if (srcKey === 'right' && this.productIndex < this.globalProducts.length && this.globalProducts.length > 0 && this.productIndex >= 0) {
        this.chooseProduct(this.productIndex);
      }
      if (srcKey === 'left') {
        this.$nextTick(() => {
          this.$refs.search.focus();
        });
      }
      if (srcKey === 'enter') {
        this.done(this.infoToObject);
      }
    },
    done(data) {
      this.updateProduct(data);
      this.$nextTick(() => {
        this.$refs.search.focus();
      });
    },
    getType() {
      const typeList = [
        'Tablet',
        'Cream',
        'Wash',
        'Syrup',
        'Capsule',
        'Suspension',
        'Drop',
        'Injection',
        'Gel',
        'Ointment',
        'Liquid',
        'Tincture',
        'Solution',
      ];
      const typeStrings = typeList.map(type => [type.toUpperCase(), type.toLowerCase(), type]);
      const finalType = typeStrings.filter(typeArr => this.product.name.split(' ')
        .map(word => typeArr.indexOf(word) > -1)
        .reduce((a, c) => a || c));
      if (finalType.length > 0) {
        this.product.details.form = finalType[0][2];
      }
    },
    chooseProduct(index) {
      this.product = _.cloneDeep(this.globalProducts[index]);
      this.product.minQuantity = this.product.minQuantity || 5;
      this.product.maxQuantity = this.product.maxQuantity || 10000;
      this.getType();
      this.$nextTick(() => {
        this.$refs.product.focus();
      });
    },
    addComposition() {
      this.product.details.composition.push({
        chemical: '',
        quantity: '',
      });
    },
    deleteComposition(index) {
      this.product.details.composition.splice(index, 1);
    },
    newProduct() {
      this.product = {
        name: '',
        tax: 0,
        price: 0,
        discount: 0,
        minQuantity: 5,
        maxQuantity: 10000,
        details: {
          composition: [{
            quantity: '',
            chemical: '',
          }],
          form: '',
          intake: '',
          generic: '',
          atc: [],
          use: [''],
          company: '',
          hsn: '',
          schedule: {
            h: false,
            h1: false,
            x: false,
            tb: false,
            narcotics: false,
          },
        },
      };
      this.$nextTick(() => {
        this.$refs.product.focus();
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  .new-product-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.7rem;

    .left-container {
      .list {
        height: calc(100vh - 129px)
      }
    }

    .right-container-medicine {
      height: calc(100vh - 7.5rem);
      .top-header {
        border-bottom: .2rem solid #eee;
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-gap: 1rem;
      }
      .form-medicine {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

        .toggle-bar {
          display: grid;
          grid-template-columns: auto auto auto;
        }

        .checkbox-container {
          .drug-type {
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 1rem;
              .container {
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
                background-color: #eee;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                background-color: #ccc;
            }

            /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color: #2196F3;
            }

            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }

            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
          }
        }
      }
      .composition {
        .composition-row {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 1rem;
          .btn {
            height: 3.5rem;
            line-height: 3.5rem;
          }
        }
      }
      .discount-hsn {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
      }
    }
  }
</style>
