<template>
  <component
  :is="getSubPage">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

import Create from './Create';
import Edit from './Edit';
import Overview from './Overview';

export default {
  components: {
    Create,
    Edit,
    Overview,
  },
  computed: {
    ...mapGetters([
      'getSubPage',
    ]),
  },
};
</script>

<style lang="scss" scoped>
</style>
