<template>
  <div class="product-overview-container stnd-font m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  right: ['arrowright'], left: ['arrowleft'], delete: ['del']}"
  @shortkey="keyEvents">
    <div class="left-container portlet grid-col-1 p-10">
      <div class="input stnd-font">
        <input type="text" class="input stnd-font"
        placeholder="Search Product"
        v-model="search"
        v-focus
        ref="search"
        @keyup="loadLocalProducts({
          name: search,
        }), productIndex = 0">
      </div>
      <div class="product scroll-bar scroll-y">
        <div class="table table-hover table-bubble full-width">
          <div class="table-row"
          v-for="(product, index) in products"
          :class="(productIndex === index) ? 'selected': ''"
          @click="productIndex = index"
          :key="index">
            <div class="table-cell fw-600 pv-9 ph-40">
              {{ product.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-container portlet">
      <div class="header">
        <div class="title height-50 fs-20 white p-15">
          <i class="icon-check fw-600 pr-5"></i>
          <span class="fs-23">Overview</span>
        </div>
        <i class="icon-trash fs-25 fw-600 red-text p-10"
        @click="deleteProduct(product)"></i>
      </div>
      <template v-if="products.length > 0">
        <div class="form m-10">
          <div class="table full-width mb-10">
            <div class="table-header blue accent-4">
              <div class="table-cell white-text">Drug</div>
              <div class="table-cell white-text">Manufacturer</div>
              <div class="table-cell white-text">Prescription</div>
              <div class="table-cell white-text">Form</div>
              <div class="table-cell white-text">Quantity</div>
            </div>
            <div class="table-row">
              <div class="table-cell fw-500 fw-600">{{ product.name }}</div>
              <div class="table-cell fw-500">
                <template v-if="product.details">
                  <template v-if="product.details.company">
                    {{ product.details.company }}
                  </template>
                </template>
              </div>
              <div class="table-cell fw-500">
                <template v-if="product.details">
                  <template v-if="product.details.prescription">
                    <i class="icon-check blue-text"></i>
                  </template>
                  <template v-else>
                    <i class="icon-close red-text"></i>
                  </template>
                </template>
              </div>
              <div class="table-cell fw-500">
                <template v-if="product.details">
                  <template v-if="product.details.form">
                    {{ product.details.form }}
                  </template>
                </template>
              </div>
              <div class="table-cell fw-500 fw-600">
                <template v-if="product.details">
                  <template v-if="product.details.quantity">
                    {{ product.details.quantity }}
                  </template>
                </template>
              </div>
            </div>
          </div>
          <div class="table mb-10 full-width">
            <div class="table-header green lighten-1">
              <div class="table-cell white-text">Base Price (₹)</div>
              <div class="table-cell white-text">Discount (%)</div>
              <div class="table-cell white-text">Tax (%)</div>
              <div class="table-cell white-text">Net Price (₹)</div>
            </div>
            <div class="table-row">
              <div class="table-cell fw-600"> {{ product.basePrice || 0 }}</div>
              <div class="table-cell"> {{ product.discount || 0 }} </div>
              <div class="table-cell fw-600"> {{ product.tax || 0 }} </div>
              <div class="table-cell fw-600"> {{ product.netPrice || 0 }} </div>
            </div>
          </div>
          <div class="table mb-10 full-width">
            <div class="table-header red accent-2">
              <div class="table-cell white-text">Schedule</div>
              <div class="table-cell white-text">HSN/SAC</div>
              <div class="table-cell white-text">Generic</div>
              <div class="table-cell white-text">ATC</div>
              <div class="table-cell white-text">Use</div>
            </div>
            <div class="table-row">
              <div class="table-cell">
                <template v-if="product.details">
                  <template v-if="product.details.schedule">
                    {{ (product.details.schedule.h) ? 'H' : ''}}
                    {{ (product.details.schedule.h1) ? 'H1' : ''}}
                    {{ (product.details.schedule.x) ? 'X' : ''}}
                  </template>
                </template>
              </div>
              <div class="table-cell">
                <template v-if="product.details">
                  <template v-if="product.details.hsn">
                    {{ product.details.hsn }}
                  </template>
                </template>
              </div>
              <div class="table-cell">
                <template v-if="product.details">
                  <template v-if="product.details.generic">
                    {{ product.details.generic }}
                  </template>
                </template>
              </div>
              <div class="table-cell">
                <template v-if="product.details">
                  <template v-if="product.details.atc">
                    {{ product.details.atc }}
                  </template>
                </template>
              </div>
              <div class="table-cell fw-600">
                <template v-if="product.details">
                  <template v-if="product.details.use">
                    <div
                    v-html="`<ul>
                    <li>${(product.details.use || []).join('</li><li>')}
                    </li></ul>`">
                    </div>
                  </template>
                </template>
              </div>
            </div>
          </div>
          <template v-if="product.details">
            <template v-if="product.details.composition">
              <div class="compositions">
                <div class="table mb-10 full-width">
                  <div class="table-header purple accent-1">
                    <div class="table-cell white-text">Composition</div>
                    <div class="table-cell"></div>
                  </div>
                  <div class="table-row"
                  v-for="(comp, index) in product.details.composition"
                  :key="index">
                    <div class="table-cell fw-600">{{ comp.chemical }}</div>
                    <div class="table-cell">{{ comp.quantity }}</div>
                  </div>
                </div>
              </div>
            </template>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      search: '',
      productIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      products: 'getLocalProducts',
    }),
    product() {
      return this.products[this.productIndex];
    },
  },
  methods: {
    ...mapActions([
      'loadLocalProducts',
      'deleteProduct',
    ]),
    keyEvents({ srcKey }) {
      if (srcKey === 'up' && this.productIndex > 0 && this.products.length > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.products.length && this.products.length > 0) {
        this.productIndex += 1;
      }
      if (srcKey === 'delete') {
        this.deleteProduct(this.product);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.product-overview-container {
  display: grid;
  grid-template-columns: 30rem auto;
  grid-gap: 0.7rem;

  .left-container {
    .product {
      height: calc(100vh - 13rem);
      .table {
        &-row {
          &.selected .table-cell {
          background: #ebebeb;
          }
        }
      }
    }
  }
  .right-container {
    .header {
      border-bottom: .2rem solid #eee;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: .7rem;
    }
  }
}
</style>
