<template>
  <div class="reports-container portlet stnd-font">
    <div class="heading pt-10 pl-10 pb-10">
      <div class="title fs-22 fw-500 mt-7"><i class="icons icon-note mr-10"></i>Reports</div>
    </div>
    <div class="body m-10">
      <div class="month grid-col-1">
        <div class="title fs-20 ta-center mb-10">Month</div>
        <select
          class="select stnd-font mb-20" :disabled="button !== 'Month'"
          v-model="month">
          <option class="list" v-for="m in months" :key="m">{{ m }}</option>
        </select>
        <label class="radio-button mb-20">
          <input type="radio" value="Month" v-model="button">
        <span class="checkmark"></span>
        </label>
        <a class="btn btn-gradient-green mt-20 full-width"
        @click="generate(['r1'])">
          Generate GSTR1
        </a>
        <a class="btn btn-gradient-green mt-20 full-width"
        @click="generate(['schedule'])">
          Schedule Drugs Report
        </a>
      </div>
      <div class="quarter grid-col-2">
        <div class="title fs-20 ta-center mb-10">Quarter</div>
        <select
          class="select stnd-font mb-20" :disabled="button !== 'Quarter'"
          v-model="quarter">
          <option class="list" v-for="i in 4" :key="i">{{ i }}</option>
        </select>
        <label class="radio-button mb-20">
          <input type="radio" value="Quarter" v-model="button">
        <span class="checkmark"></span>
        </label>
        <a class="btn btn-gradient-green mt-20 full-width"
        @click="generate(['r2'])">
          Generate GSTR2
        </a>
        <a class="btn btn-gradient-green mt-20 full-width"
        @click="generate(['prescription'])">
          Prescribed Drugs Report
        </a>
      </div>
      <div class="date grid-col-3">
        <div class="start-date grid-col-1">
          <div class="title fs-20 ta-center mb-10">Start Date</div>
          <input type="date" class="input stnd-font mb-20" :disabled="button !== 'Date'"
          v-model="startDate">
          <label class="radio-button mb-20">
            <input type="radio" value="Date" v-model="button">
          <span class="checkmark"></span>
          </label>
          <a class="btn btn-gradient-green mt-22 full-width"
          @click="generate(['invoice'])">
            Generate Invoice Summary
          </a>
        </div>
        <div class="end-date grid-col-2">
          <div class="title fs-20 ta-center mb-10">End date</div>
          <input type="date" class="input stnd-font mb-28" :disabled="button !== 'Date'"
          v-model="endDate">
          <a class="btn btn-gradient-green mt-34 full-width"
          @click="generate(['r1', 'r2', 'invoice'])">
            Generate All
          </a>
          <a class="btn btn-gradient-green mt-34 full-width"
          @click="generate(['stock'])">
            Generate Stock Overview
          </a>
        </div>
      </div>
      <div class="expiry grid-col-4">
        <div class="title fs-20 ta-center mb-10">Expiry</div>
        <select
          class="select stnd-font mb-20" :disabled="button !== 'Expiry'"
          v-model="expiry">
          <option class="list" v-for="m in months" :key="m">{{ m }}</option>
        </select>
        <label class="radio-button mb-20" id="expiry-radio">
          <input type="radio" value="Expiry" v-model="button">
        <span class="checkmark"></span>
        </label>
        <a class="btn btn-gradient-green mt-20 full-width"
        >
          Generate Expiry Report
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      button: 'Month',
      months: [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December',
      ],
      month: null,
      quarter: null,
      startDate: null,
      endDate: null,
      expiry: null,
    };
  },
  methods: {
    ...mapActions(['generateReport']),
    generate(types) {
      const today = new Date();
      let startDate;
      let endDate;
      switch (this.button) {
        case 'Month':
          startDate = new Date(today.getFullYear(),
            this.months.indexOf(this.month), 1);
          endDate = new Date(startDate);
          endDate.setMonth(endDate.getMonth() + 1);
          break;

        case 'Quarter':
          startDate = new Date(today.getFullYear(),
            (((this.quarter + 1) % 4) - 1) * 3, 1);
          endDate = new Date(startDate);
          endDate.setMonth(endDate.getMonth() + 3);
          break;

        case 'Date':
          startDate = new Date(this.startDate || today);
          endDate = new Date(this.endDate ||
            new Date(startDate).setMonth(startDate.getMonth() + 1));
          break;

        default:
          break;
      }
      startDate = startDate.toISOString();
      endDate = endDate.toISOString();
      const reportReq = {
        startDate,
        endDate,
      };
      types.forEach((type) => {
        reportReq[type] = true;
      });
      // eslint-disable-next-line
      this.generateReport(reportReq);
    },
  },
};
</script>

<style lang="scss" scoped>
  select[disabled="disabled"] {
    background: #eee !important;
  }
  .reports-container {
    margin: 0.7rem;
    width: calc(100% - 1.4rem);
    .heading {
      border-bottom: .2rem solid #eee;
    }
    .body {
      display: grid;
      grid-template-columns: repeat(1fr, 4);
      grid-gap: 1rem;
      .date {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-gap: 1rem;
      }
      .radio-button {
        margin: {
          left: calc(50% - 10px);
        }
      }
    }
  }
</style>

