<template>
  <div
  class="create-stock-container stnd-font portlet scroll-bar scroll-y m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  delete: ['del'], enter: ['enter'], f2: ['f2']}"
  @shortkey="keyEvents">
    <div class="page-header pt-2">
      <div class="title mt-10">
        <i class="icon-basket fw-500"></i>
        <span class="fw-500">Create Stock</span>
      </div>
      <div class="fs-30">
        {{ getTotal }}
      </div>
      <div class="btn-group mt-1">
        <a
        :class="(gstin || distributor) ?
        'btn btn-gradient-green': 'btn btn-gradient-blue'"
        @click="next(convert(products))">
        <template v-if="gstin || distributor">
          <i class="icons mr-10 va-middle fw-700 icon-check"></i> Submit
        </template>
        <template v-if="!(gstin || distributor)">
          <i class="icons mr-10 va-middle fw-700 icon-arrow-right-circle"></i> Next
        </template>
        </a>
      </div>
    </div>
    <div class="stock-details mv-15 mh-10">
      <div class="recipt">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Receipt Number</div>
        <input type="text" class="input stnd-font" placeholder="Receipt number"
        v-model="receiptNum">
      </div>
      <div class="distributor">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Distributor Name</div>
        <input type="text" class="input stnd-font" placeholder="Distributor Name"
        v-model="distributor">
      </div>
      <div class="gstin">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">GSTIN</div>
        <input type="text" class="input stnd-font" placeholder="GSTIN"
        v-model="gstin">
      </div>
      <div class="state">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">State</div>
          <select
          class="select stnd-font" v-model="state">
            <option class="list" v-for="(state, idx) in getIndianStates" :key="idx">
              {{ state }}
            </option>
          </select>
      </div>
    </div>
    <div class="product-select-container scroll-bar scroll-y">
      <div class="table table-bubble table-hover full-width">
        <div class="table-header">
          <div class="table-cell">Product</div>
          <div class="table-cell">Batch</div>
          <div class="table-cell">Quantity</div>
          <div class="table-cell">Unit</div>
          <div class="table-cell">HSN</div>
          <div class="table-cell expiry-date">Expiry Date</div>
          <div class="table-cell">Rate</div>
          <div class="table-cell">Tax</div>
          <div class="table-cell">Sell Price</div>
          <div class="table-cell">Discount</div>
          <div class="table-cell">Total</div>
          <div class="table-cell"></div>
        </div>
        <div
        class="table-row"
        v-for="(product, index) in products"
        :class="{'selected': (productIndex === index)}"
        :key="index">
          <div class="table-cell fw-500">
            {{ product.name }}
          </div>
          <div class="table-cell">
            <input type="text" class="input stnd-font" v-model="products[index].batch">
          </div>
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].quantity"
            v-on:keyup="reCalculate($event, 'quantity', index)"
            v-on:mouseup="reCalculate($event, 'quantity', index)"
            ref="product">
          </div>
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].unit">
          </div>
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].hsn">
          </div>
          <div class="table-cell">
            <input type="date" class="input stnd-font" v-model="products[index].expiry">
          </div>
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].basePrice"
            v-on:keyup="reCalculate($event, 'price', index)"
            v-on:mouseup="reCalculate($event, 'price', index)">
          </div>
          <div class="table-cell">
            <select
            v-model="products[index].tax"
            v-on:change="reCalculate($event, 'tax', index)"
            v-on:click="reCalculate($event, 'tax', index)"
            v-on:keyup="reCalculate($event, 'tax', index)"
            class="select stnd-font">
              <option class="list" v-for="tax in taxes" :key="tax">{{tax}}</option>
            </select>
          </div>
          <!-- Net Price, i.e., price inclusive of GST -->
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].sellPrice">
          </div>
          <div class="table-cell">
            <input type="number" class="input stnd-font" v-model="products[index].discount">
          </div>
          <div class="table-cell">
            {{ product.total }}
          </div>
          <div class="table-cell fs-20 red-text">
            <i class="icons icon-trash" @click="removeProductRow(index)"></i>
          </div>
        </div>
      </div>
      <div class="button">
        <a
        class="btn btn-gradient-green mt-20"
        @click="openProductSearch">
          <span class="fs-20 fw-700">
            <i class="icons icon-plus pr-10 fw-700 va-middle"></i></span>Add New
        </a>
      </div>
    </div>
    <template v-if="clicked">
      <div
      class="search-product scroll-bar position-absolute scroll-y z-index-1000"
      :class="(getSidebarType) ? 'small-sidebar' : 'big-sidebar'">
        <input type="text" class="input stnd-font" placeholder="search"
        v-model="search"
        @keyup="loadLocalProducts({
        name: search,
        })"
        v-focus>
        <div class="table full-width">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Sell Price</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in searchProducts"
          :key="index"
          :class="(searchProductIndex === index) ? 'selected': ''"
          @click="addProduct(index)">
            <div class="table-cell">{{ product.name }}</div>
            <div class="table-cell">{{ product.netPrice }}</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  created() {
    this.loadLocalProducts();
  },
  data() {
    return {
      search: '',
      products: [],
      clicked: false,
      searchProductIndex: 0,
      productIndex: -1,
      state: '19 - West Bengal',
      receiptNum: null,
      distributor: null,
      gstin: null,
    };
  },
  methods: {
    ...mapActions([
      'loadLocalProducts',
      'createStockPageOne',
    ]),
    keyEvents({ srcKey }) {
      if (srcKey === 'f2') {
        this.openProductSearch();
        return 0;
      }
      if (this.clicked) {
        this.productSelectArrow(srcKey);
      } else {
        if (srcKey === 'enter') {
          if (!this.cantSubmit) {
            this.next(this.convert(this.products));
          }
          return 0;
        }
        this.productArrow(srcKey);
      }
      return 0;
    },
    productSelectArrow(srcKey) {
      if (srcKey === 'up' && this.searchProductIndex > 0) {
        this.searchProductIndex -= 1;
      }
      if (srcKey === 'down' && this.searchProductIndex < this.searchProducts.length) {
        this.searchProductIndex += 1;
      }
      if (srcKey === 'enter') {
        if (this.searchProducts.length > 0) {
          this.addProduct(this.searchProductIndex);
        }
      }
    },
    resetSearchProductIndex() {
      this.searchProductIndex = 0;
    },
    productArrow(srcKey) {
      if (srcKey === 'up' && this.productIndex > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.products.length) {
        this.productIndex += 1;
      }
      if (srcKey === 'delete') {
        this.removeProductRow(this.productIndex);
      }
    },
    convert(products) {
      const toPaise = (product) => {
        const newProduct = _.cloneDeep(product);
        delete newProduct.details;
        const unit = parseInt(newProduct.unit, 10);
        delete newProduct.unit;
        newProduct.basePrice = Math.round(parseInt(newProduct.basePrice * 100, 10) / unit);
        newProduct.netPrice = Math.round(parseInt(newProduct.netPrice * 100, 10) / unit);
        newProduct.costPrice = newProduct.netPrice;
        newProduct.sellPrice = Math.round(parseInt(newProduct.sellPrice * 100, 10) / unit);
        newProduct.tax = parseInt(newProduct.tax * 100, 10);
        newProduct.discount = parseInt(newProduct.discount * 100, 10);
        newProduct.total = parseInt(newProduct.total * 100, 10);
        newProduct.quantity = parseInt(newProduct.quantity, 10) * unit;
        if (newProduct.expiry) {
          newProduct.expiry = new Date(newProduct.expiry).toISOString();
        }
        return newProduct;
      };
      return products.map(toPaise);
    },
    reCalculate(event, property, index) {
      if (property === 'price') {
        this.products[index].basePrice = event.target.value;
        this.products[index].netPrice = (this.products[index].basePrice
        * (1 + (this.products[index].tax / 100))).toFixed(2);
      }
      if (property === 'tax') {
        this.products[index].netPrice = (this.products[index].basePrice
        * (1 + (this.products[index].tax / 100))).toFixed(2);
      }
      this.products[index].total = (this.products[index].netPrice *
       this.products[index].quantity).toFixed(2);
    },
    addProduct(index) {
      const newProduct = { ...this.searchProducts[index] };
      delete newProduct.minQuantity;
      delete newProduct.maxQuantity;
      newProduct.quantity = 1;
      newProduct.unit = 1;
      newProduct.sellPrice = newProduct.netPrice;
      newProduct.basePrice = 0;
      newProduct.netPrice = 0;
      newProduct.total = 0;
      newProduct.hsn = this.searchProducts[index].details.hsn || '';
      this.products.push(newProduct);
      this.clicked = !this.clicked;
      this.$nextTick(() => {
        this.$refs.product[this.products.length - 1].focus();
      });
    },
    removeProductRow(index) {
      this.products.splice(index, 1);
    },
    openProductSearch() {
      this.clicked = !this.clicked;
    },
    next() {
      const data = {
        receiptNum: this.receiptNum,
        distributor: this.distributor,
        gstin: this.gstin,
        state: this.state,
        products: this.convert(this.products),
      };
      this.createStockPageOne(data);
    },
  },
  computed: {
    ...mapGetters({
      searchProducts: 'getLocalProducts',
      getSidebarType: 'getSidebarType',
      taxes: 'getGstPercent',
      getIndianStates: 'getIndianStates',
    }),
    getTotal() {
      if (this.products.length === 0) {
        return 0;
      }
      return this.products
        .map(product => parseFloat(product.total, 10))
        .reduce((a, c) => a + c)
        .toFixed(2);
    },
  },
};
</script>

<style lang="scss" scoped>
.create-stock-container {
  // margin: 0.7rem;
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  // overflow-y: scroll;
  // overflow-x: hidden;
  height: calc(100vh - 8rem);
  .page-header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 5rem;
    // padding: {
    //   top: 0.2rem;
    // }
    .title {
      // margin: {
      //   top: 1rem;
      // }
      // i{
      //   font-weight: 500;
      // }
      // span {
      //   font-weight: 500;
      // }
    }
    // .all-total {
    //     font: {
    //       size: 3rem;
    //     }
    //   }
    // .btn-group {
    //   // margin: {
    //   //   top: 0.1rem;
    //   // }
    //   i {
    //     // margin: {
    //     //   right: 1rem;
    //     // }
    //     // vertical-align: middle;
    //     // font: {
    //     //   weight: 700;
    //     // }
    //   }
    // }
  }
  .stock-details {
    // margin: 1.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.7rem;
    // .title {
    //   font-size: 1.8rem;
    //   margin: {
    //     bottom: 1rem;
    //     left: .5rem;
    //   }
    //   text-transform: uppercase;
    // }
  }
  .product-select-container {
    // overflow-y: scroll;
    // overflow-x: hidden;
    height: calc(100vh - 13rem);
    .btn {
      margin: {
        // top: 2rem;
        left: 45%;
        // bottom: 1rem;
      }
    }

    // span {
    //   font-size: 2rem;
    //   padding-right: 1rem;
    //   font-weight: 700;
    // }
    .table {
      // width: 100%;
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
        // .table-cell:nth-child(12) {
        //   color: red;
        //   font-size: 20px;
        // }
        .table-cell:nth-child(8) {
          min-width: 70px;
        }
      }
    }
  }
  .search-product {
    // position: absolute;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // z-index: 1000;
    top: 67px;
    height: calc(100vh - 74px);
    width: calc(100vw - 264px);
    background: white;
    &.big-sidebar {
      width: calc(100vw - 264px);
    }
    &.small-sidebar {
      width: calc(100vw - 74px);
    }
    .table {
      // width: 100%;
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
      }
    }
  }
}
</style>
