<template>
  <div class="stock-details stnd-font portlet m-7">
    <div class="top p-7">
      <div class="stock-id grid-col-1 fw-500 fs-20 mt-10 ml-5">
        <i class="icons icon-basket-loaded fs-25">
        </i> STOCK: {{ stock.num }} |
        {{ (new Date(stock.createdAt)).toLocaleDateString() }}
        {{ (new Date(stock.createdAt)).toLocaleTimeString() }}
      </div>
      <div class="button-group grid-col-4 mt-1">
        <a class="btn btn-gradient-green mr-20"
        v-shortkey="['enter']"
        @shortkey="next"
        @click="next">
        <i class="icons mr-10 va-middle fw-700 icon-check"></i>
          Done</a>
        <a class="btn btn-gradient-blue"><i class="icons mr-10 va-middle fw-700 icon-printer"></i>
        Print</a>
      </div>
    </div>
    <template
    v-if="stock">
    <div class="bottom scroll-bar scroll-y m-7">
      <div class="total-expense mb-30">
        <div class="title pb-5 fs-20">
          <i class="icons icon-wallet">
          </i> <span>Total Expense</span>
        </div>
        <div class="table full-width">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Sub Total</div>
            <div class="table-cell white-text">Discount</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Grand Total</div>
          </div>
          <div class="table-row">
            <div class="table-cell fw-500">₹{{ paiseToRupees(stock.price) }}</div>
            <div class="table-cell">₹{{ paiseToRupees(stock.discount) }}</div>
            <div class="table-cell fw-500">₹{{ paiseToRupees(stock.tax) }}</div>
            <div class="table-cell fw-500">₹{{ paiseToRupees(stock.total) }}</div>
          </div>
        </div>
      </div>
      <div class="product-list mb-30">
        <div class="title pb-5 fs-20">
          <i class="icons icon-basket-loaded">
          </i> <span>Product List</span>
        </div>
         <div class="table table-stripe-pink full-width">
          <div class="table-header green lighten-1">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Batch</div>
            <div class="table-cell white-text">Expiry</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Discount</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Net</div>
            <div class="table-cell white-text">Quantity</div>
            <div class="table-cell white-text">Total</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in stock.products"
          :key="index">
            <div class="table-cell fw-500">{{ product.name }}</div>
            <div class="table-cell fw-500">{{ product.batch }}</div>
            <div class="table-cell">{{ product.expiry ?
              (new Date(product.expiry)).toDateString() : '' }}</div>
            <div class="table-cell">{{ paiseToRupees(product.basePrice) }}</div>
            <div class="table-cell">{{ paiseToRupees(product.tax) }}</div>
            <div class="table-cell">{{ paiseToRupees(product.netPrice) }}</div>
            <div class="table-cell">{{ paiseToRupees(product.discount) }}</div>
            <div class="table-cell fw-500">{{ product.quantity }}</div>
            <div class="table-cell">{{ paiseToRupees(product.total) }}</div>
          </div>
        </div>
      </div>
      <div class="stock-detail mr-2 mb-30">
        <div class="title pb-5 fs-20">
          <i class="icons icon-basket">
          </i> <span>Details</span>
        </div>
        <div class="table full-width">
          <div class="table-header red lighten-1">
            <div class="table-cell white-text">Stock#</div>
            <div class="table-cell white-text">User</div>
            <div class="table-cell white-text">Distributor Name</div>
            <div class="table-cell white-text">Company</div>
            <div class="table-cell white-text">Phone</div>
          </div>
          <div class="table-row">
            <div class="table-cell">{{ stock.num }}</div>
            <div class="table-cell">{{ stock.username }}</div>
            <div class="table-cell">
              <template v-if="stock.person">
                {{ stock.person.name }}
              </template>
            </div>
            <div class="table-cell">
              <template v-if="stock.person">
                <template v-if="stock.person.company">
                  {{ stock.person.company }}
                </template>
              </template>
            </div><div class="table-cell">
              <template v-if="stock.person">
                <template v-if="stock.person.contacts">
                  <template v-if="stock.person.contacts.phones.length > 0">
                    {{ stock.person.contacts.phones[0]}}
                  </template>
                </template>
              </template>
            </div>
          </div>
        </div>
      </div>
      <template  v-if="stock.person">
        <div class="distributor-info">
          <div class="title pb-5 fs-20">
              <i class="icons icon-book-open">
              </i> <span>Distributor Information</span>
          </div>
          <div class="table table-stripe-pink full-width">
            <div class="table-row">
              <div class="table-cell fw-500">Name:</div>
              <div class="table-cell">{{ stock.person.name }}</div>
              <div class="table-cell fw-500">Gender:</div>
              <div class="table-cell">{{ (stock.person.gender) ? 'Female' : 'Male' }}</div>
            </div>
            <!-- <template v-if="stock.person.age">
              <div class="table-row">
                <div class="table-cell">Age:</div>
                <div class="table-cell">{{ stock.person.age }}</div>
                <div class="table-cell">Date of Birth:</div>
                <div class="table-cell">{{ stock.person.birthDate }}</div>
              </div>
            </template> -->
            <template v-if="stock.person.contacts">
              <div class="table-row">
                <template v-if="stock.person.contacts.emails.length > 0">
                  <div class="table-cell fw-500">Email:</div>
                  <div class="table-cell">{{ stock.person.contacts.emails[0] }}</div>
                </template>
                <template v-if="stock.person.contacts.phones.length > 0">
                  <div class="table-cell fw-500">Phone:</div>
                  <div class="table-cell">{{ stock.person.contacts.phones[0] }}</div>
                </template>
              </div>
            </template>
            <div class="table-row">
              <div class="table-cell fw-500">Pincode:</div>
              <div class="table-cell">{{ stock.person.address.pincode }}</div>
              <div class="table-cell fw-500">City:</div>
              <div class="table-cell">{{ stock.person.address.city }}</div>
            </div>
            <div class="table-row">
              <div class="table-cell fw-500">State:</div>
              <div class="table-cell">{{ stock.person.address.state }}</div>
              <div class="table-cell fw-500">Country:</div>
              <div class="table-cell">{{ stock.person.address.country }}</div>
            </div>
            <template v-if="stock.person.address.lines[0] !== ''">
              <div class="table-row">
                <div class="table-cell fw-500">Address 1:</div>
                <div class="table-cell">{{ stock.person.address.lines[0] }}</div>
                <div class="table-cell fw-500">Address 2:</div>
                <div class="table-cell">{{ stock.person.address.lines[1] }}</div>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>
    </template>
    <template v-else>
      <div class="empty-stock">
        <img class="width-300" src="static/img/customer/cross.svg" alt="">
      </div>
    </template>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

export default {
  methods: {
    ...mapMutations({
      next: 'setStockCreateSubPageFromDetails',
    }),
    paiseToRupees(paise) {
      return (paise / 100).toFixed(2);
    },
  },
  computed: {
    ...mapGetters({
      stock: 'getStockCreateTransaction',
    }),
  },
};
</script>

<style lang="scss" scoped>
.stock-details {
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  .top {
    border-bottom: 0.1rem solid #dde;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
  }
  .bottom {
    height: calc(100vh - 15rem);
  }
  .empty-stock {
    margin: {
      top: calc(50vh - 25rem);
      left: calc(50vw - 20rem);
    }
  }
}
</style>
