<template>
  <div class="distributor-info stnd-font scroll-bar scroll-y m-7">
    <div class="left portlet width-350">
      <div class="circle pt-10 mt-30 width-250 height-250">
      <img src="static/img/customer/distributor.svg" alt="">
      </div>
      <div class="middle p-10 mt-40">
        <div class="order-total pb-20">
          <div
          class="title fs-19 ta-center">Stock Total</div>
          <div
          class="value fs-21 fw-600 mt-10 ta-center">₹
          {{ (transaction.total / 100).toFixed(2) }}</div>
        </div>
        <div class="payment">
          <div class="payment-type">
            <div class="toggle-bar">
              <span>Full Payment</span>
              <label class="switch">
              <input type="checkbox" v-model="open">
              <span class="slider round"></span>
              </label>
              <span class="toggle-text">Part Payment</span>
            </div>
          </div>
          <input type="number" class="input stnd-font" placeholder="Part Payment"
          v-model="partPay"
          v-if="open">
        </div>
        <div class="total-due mt-10" v-if="open">
          <div class="title fs-19 ta-center mt-3">Total Due</div>
          <div class="value fs-21 fw-600 ta-center">₹ {{ ((this.transaction.total
            - parseInt(this.partPay * 100, 10)) / 100).toFixed(2) }}</div>
        </div>
      </div>
      <div class="button-group mb-5">
        <a href="#" class="btn mv-5 mh-10 btn-gradient-green"
        v-shortkey="['enter']"
        @shortkey="next(infoToObject)"
        @click="next(infoToObject)">
        <i class="icons fs-18 fw-600 mr-10 icon-check">
        </i>Submit</a>
        <a href="#" class="btn mv-5 mh-10 btn-gradient-red"
        @click="reset">
        <i class="icons fs-18 fw-600 mr-10 icon-reload"></i>Reset</a>
        <a href="#" class="btn mv-5 mh-10 btn-gradient-blue"
        @click="back">
          <i class="icons fs-18 fw-600 mr-10 icon-arrow-left-circle"></i> Back
        </a>
      </div>
    </div>
    <div class="right portlet p-15">
      <div class="distributor-details mb-20">
        <div class="title fs-20 mb-5 pt-5">Distributor Details</div>
        <input class="input name grid-col-1-3" placeholder="Name" v-model="name" v-focus>
        <input class="input company grid-col-3-5" placeholder="Company Name" v-model="company">
        <input class="input email grid-col-1-3" placeholder="Email" v-model="email">
        <input class="input phone grid-col-3-5" type="text" placeholder="Phone" v-model="phone">
        <input class="input gstin grid-col-1-3" placeholder="GSTIN" v-model="gstin">
        <input class="input license grid-col-3-5" type="text"
         placeholder="License Number" v-model="license">
      </div>
      <div class="address">
        <div class="title fs-20 mb-5 grid-col-1-5">Address</div>
        <input class="input city" placeholder="City" v-model="city">
        <input class="input pincode" placeholder="Pincode" v-model="pincode">
        <div class="state">
          <select
          class="select stnd-font" v-model="state">
            <option class="list" v-for="(state, idx) in getIndianStates" :key="idx">
              {{ state }}
            </option>
          </select>
        </div>
        <div class="country">
          <select
          class="select stnd-font">
            <option class="list">India</option>
          </select>
        </div>
        <input class="input adl1 grid-col-1-5" placeholder="Address Line 1" v-model="address1">
        <input class="input adl2 grid-col-1-5" placeholder="Address Line 2" v-model="address2">
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';

export default {
  data() {
    return {
      open: false,
      partPay: null,
      name: '',
      company: '',
      email: '',
      phone: null,
      address1: '',
      address2: '',
      city: 'Howrah',
      pincode: null,
      state: 'West Bengal',
      country: 'India',
      gstin: null,
      license: '',
      paymentType: 'cash',
    };
  },
  methods: {
    ...mapActions({
      next: 'createStock',
    }),
    ...mapMutations({
      back: 'backFromDisfo',
    }),
    reset() {
      this.open = false;
      this.partPay = null;
      this.name = '';
      this.company = '';
      this.email = '';
      this.phone = null;
      this.address1 = '';
      this.address2 = '';
      this.city = 'Howrah';
      this.pincode = null;
      this.state = '19 - West Bengal';
      this.country = 'India';
      this.gstin = null;
      this.license = '';
      this.paymentType = 'cash';
    },
  },
  computed: {
    ...mapGetters({
      transaction: 'getStockCreateTransaction',
      user: 'getUser',
      getIndianStates: 'getIndianStates',
    }),
    infoToObject() {
      let person;
      let payment;
      if (this.company || this.name) {
        person = {};
        person.company = this.company || 'N/A';
        person.name = this.name || 'N/A';
        if (this.email || this.phone) {
          person.contacts = {};
          if (this.email) {
            person.contacts.emails = [this.email];
          }
          if (this.phone) {
            person.contacts.phones = [this.phone];
          }
        }
        person.address = {};
        if (this.country) {
          person.address.country = this.country;
        }
        if (this.state) {
          person.address.state = this.state;
        }
        if (this.city) {
          person.address.city = this.city;
        }
        if (this.address1 || this.address2) {
          person.address.lines = [];
          if (this.address1) {
            person.address.lines.push(this.address1);
          }
          if (this.address2) {
            person.address.lines.push(this.address2);
          }
        }
        if (this.landmark) {
          person.address.landmark = this.landmark;
        }
        if (this.pincode) {
          person.address.pincode = this.pincode;
        }
        if (this.gstin) {
          person.gstin = this.gstin;
        }
        if (this.license) {
          person.license = this.license;
        }
      }
      if (this.paymentType) {
        payment = {};
        payment.type = this.paymentType;
        payment.closed = !this.open;
        if (this.open) {
          payment.paid = Math.min(parseInt(`0${this.partPay * 100}`, 10), this.transaction.total);
          payment.due = this.transaction.total - payment.paid;
          payment.history = [{
            amount: parseInt(this.partPay * 100, 10),
            date: (new Date()).toISOString(),
          }];
          if (payment.due === 0) {
            payment.closed = true;
          }
        } else {
          payment.due = 0;
          payment.paid = this.transaction.total;
          payment.history = [{
            amount: this.transaction.total,
            date: (new Date()).toISOString(),
            user: this.user._id,
            username: this.user.username,
          }];
        }
      }
      return {
        person,
        payment,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.distributor-info {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.7rem;
  height: calc(100vh - 8rem);

  .left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    .circle {
      overflow: hidden;
      border-radius: 50%;
      background: rgb(3, 206, 138);
      margin: {
        left: 5rem;
      }
    }
    .middle {
      .payment {
        .toggle-bar {
          margin-right: 1rem;
          min-width: 12rem;
          padding: {
            bottom: 1rem;
          }
          display: grid;
          grid-template-columns: auto auto auto;

          span {
            font-size: 1.5rem;
            padding-top: 0.5rem;
            padding-left: 1rem;
          }

          span:last-child {
            padding-left: 1.5rem;
          }

          .switch {
            grid-column: 2;
            margin : {
              left: 1.6rem;
            }
          }
        }
      }
      .total-due {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    .button-group {
      .btn {
        width: calc(100% - 2rem);
      }
    }
  }

  .right {
    .distributor-details {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr auto;
      grid-gap: .7rem;
    }
    .address {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 0.7rem;
    }
  }
}
</style>

