<template>
  <component
  :is="getSubPage"></component>
</template>

<script>
import { mapGetters } from 'vuex';

import Create from './Create';
import DistributorInfo from './DistributorInfo';
import Details from './Details';

export default {
  computed: {
    ...mapGetters({
      getSubPage: 'getStockCreateSubPage',
    }),
  },
  components: {
    Create,
    DistributorInfo,
    Details,
  },
};
</script>
