<template>
  <div class="discard-order-container stnd-font portlet m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  delete: ['del'], enter: ['enter'], f2: ['f2']}"
  @shortkey="keyEvents">
    <div class="header">
      <div class="title height-50 fs-20 white p-15">
        <i class="icon-close fw-600 pr-5"></i>
        <span class="fs-23">Discard</span>
      </div>
      <div class="btn-group mt-4">
        <button class="btn btn-gradient-blue mr-20"
        :disabled="cantSubmit"
        @click="discardAndReload(products)">
          <i class="icons icon-check mr-10 va-middle fw-700"></i>
          Done
        </button>
        <button class="btn btn-gradient-red"
        :disabled="cantSubmit"
        @click="discardAndReload(products)">
          <i class="icons icon-printer mr-10 va-middle fw-700"></i>
          Done & Print
        </button>
      </div>
    </div>
    <div class="product-select-container scroll-bar scroll-y">
      <div class="bill-table">
        <div class="table table-bubble table-hover full-width">
          <div class="table-header">
            <div class="table-cell">Product</div>
            <div class="table-cell">Batch</div>
            <div class="table-cell">Quantity</div>
            <div class="table-cell base-price-header">Rate</div>
            <div class="table-cell">Tax</div>
            <div class="table-cell">Net</div>
            <div class="table-cell">Total</div>
            <div class="table-cell"></div>
          </div>
          <div
          class="table-row"
          v-for="(product, index) in products"
          @click="selectProduct(index)"
          :key="index"
          :class="{
            'red': (product.quantity > product.maxQuantity),
            'selected': (productIndex === index)
          }">
            <div class="table-cell product">
              {{ product.name }}
            </div>
            <div class="table-cell batch">
              {{ product.batch }}
            </div>
            <div class="table-cell quantity">
              <input type="number" class="input stnd-font"
              tabindex="1" v-model="products[index].quantity"
              :max="products[index].maxQuantity"
              min=1
              v-on:keyup="reCalculate($event, 'quantity', index)"
              v-on:mouseup="reCalculate($event, 'quantity', index)">
            </div>
            <div class="table-cell base-price">
              {{ product.basePrice }}
            </div>
            <div class="table-cell tax">
              <select
              tabindex="1" v-model="products[index].tax"
              class="select stnd-font">
                <option class="list" v-for="tax in taxes" :key="tax">{{tax}}</option>
              </select>
            </div>
            <div class="table-cell net-price">
              {{ product.netPrice }}
            </div>
            <div class="table-cell total">
              {{ (product.netPrice * product.quantity).toFixed(2) }}
            </div>
            <div class="table-cell red-text fs-20">
              <i class="icons icon-trash va-middle mr-1" @click="removeProduct(index)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <a
          class="btn btn-gradient-green mt-20 mb-10"
          @click="openProductSearch">
          <span class="fs-21 pr-10 fw-700">
          <i class="icons icon-plus va-middle fw-700 mr-1"></i></span>
          Add New
        </a>
      </div>
    </div>
    <template
    v-if="clicked">
      <div class="search-product scroll-bar scroll-y position-absolute white z-index-1000"
      :class="(getSidebarType) ? 'small-sidebar' : 'big-sidebar'">
        <input type="text" class="input stnd-font" placeholder="search"
        v-model="search"
        v-focus>
        <div class="table table-bubble table-hover full-width fw-500">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Batch</div>
            <div class="table-cell white-text">Qty</div>
            <div class="table-cell white-text">Expiry</div>
            <div class="table-cell white-text">Cost Price</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Discount</div>
            <div class="table-cell white-text">Net</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in searchProducts"
          :key="index"
          :class="(searchProductIndex === index) ? 'selected': ''"
          @click="addProduct(index)">
          <template v-if="product.visible">
            <div class="table-cell fw-500">{{ product.name }}</div>
            <div class="table-cell">{{ product.batch }}</div>
            <div class="table-cell fw-500">{{ product.quantity }}</div>
            <div class="table-cell">{{ product.expiry ?
              (new Date(product.expiry)).toDateString() : '' }}</div>
            <div class="table-cell">{{ product.costPrice }}</div>
            <div class="table-cell">{{ product.basePrice }}</div>
            <div class="table-cell">{{ product.tax }}</div>
            <div class="table-cell">{{ product.discount }}</div>
            <div class="table-cell fw-500">{{ product.netPrice }}</div>
          </template>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  destroyed() {
    this.reset();
  },
  data() {
    return {
      search: '',
      productIndex: -1,
      products: [],
      clicked: false,
      searchProductIndex: 0,
    };
  },
  methods: {
    selectProduct(index) {
      this.productIndex = index;
    },
    keyEvents({ srcKey }) {
      if (srcKey === 'f2') {
        this.openProductSearch();
        return 0;
      }
      if (this.clicked) {
        this.productSelectArrow(srcKey);
      } else {
        if (srcKey === 'enter') {
          this.discardAndReload(this.products);
          return 0;
        }
        this.productArrow(srcKey);
      }
      return 0;
    },
    productSelectArrow(srcKey) {
      if (srcKey === 'up' && this.searchProductIndex > 0) {
        this.searchProductIndex -= 1;
      }
      if (srcKey === 'down' && this.searchProductIndex < this.searchProducts.length) {
        this.searchProductIndex += 1;
      }
      if (srcKey === 'enter') {
        if (this.searchProducts.length > 0) {
          this.addProduct(this.searchProductIndex);
        }
      }
    },
    resetSearchProductIndex() {
      this.searchProductIndex = 0;
    },
    productArrow(srcKey) {
      if (srcKey === 'up' && this.productIndex > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.products.length) {
        this.productIndex += 1;
      }
      if (srcKey === 'delete') {
        this.removeProduct(this.productIndex);
      }
    },
    reset() {
      this.search = '';
      this.products = [];
      this.clicked = false;
      for (let i = 0; i < this.inStockProducts.length; i += 1) {
        this.inStockProducts[i].visible = true;
      }
    },
    reCalculate(event, property, index) {
      this.products[index].quantityShort = (this.products[index].quantity
        > this.products[index].maxQuantity);
    },
    discardAndReload(products) {
      this.discardOrder(this.convert(products));
      this.reset();
    },
    convert(products) {
      const toPaise = (product) => {
        const newProduct = _.pick(_.cloneDeep(product), [
          '_id', 'basePrice', 'batch', 'discount', 'expiry', 'id', 'name', 'netPrice', 'quantity', 'refund', 'tax', 'costPrice', 'total',
        ]);
        newProduct.basePrice = parseInt(newProduct.basePrice * 100, 10);
        newProduct.tax = parseInt(newProduct.tax * 100, 10);
        newProduct.quantity = parseInt(newProduct.quantity, 10);
        newProduct.total = 0;
        newProduct.netPrice = 0;
        newProduct.costPrice = parseInt(newProduct.costPrice * 100, 10);
        newProduct.sellPrice = 0;
        return newProduct;
      };
      return products.map(toPaise);
    },
    ...mapMutations({
      next: 'setOrderCreateSubPageFromCreate',
    }),
    ...mapActions([
      'loadLocalProducts',
      'discardOrder',
    ]),
    addProduct(index) {
      const newProduct = _.cloneDeep(this.searchProducts[index]);
      newProduct.quantityShort = false;
      newProduct.id = newProduct._id;
      newProduct.maxQuantity = newProduct.quantity;
      newProduct.quantity = 1;
      newProduct.discount = 0;
      newProduct.total = newProduct.netPrice;
      this.products.push(newProduct);
      this.clicked = !this.clicked;
      this.inStockProducts[this.searchProducts[index].idx].visible = false;
    },
    removeProduct(index) {
      this.inStockProducts[this.products[index].idx].visible = true;
      this.products.splice(index, 1);
    },
    openProductSearch() {
      this.clicked = !this.clicked;
    },
  },
  computed: {
    ...mapGetters({
      inStockProducts: 'getInStockProducts',
      getSidebarType: 'getSidebarType',
      user: 'getUser',
      taxes: 'getGstPercent',
    }),
    cantSubmit() {
      if (this.products.length === 0) {
        return true;
      }
      return this.products.map(prod => prod.quantityShort)
        .reduce((a, c) => a || c);
    },
    searchProducts() {
      if (!this.inStockProducts) {
        return this.inStockProducts;
      }
      const r = new RegExp(`${this.search.split(' ').join('.*')}`, 'i');
      return this.inStockProducts
        .filter(product => product.name.match(r));
    },
  },
};
</script>

<style lang="scss" scoped>
.discard-order-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 7.4rem);

  .header {
    border-bottom: .1rem solid #eee;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: .7rem;
    .title {
      color: rgba(20, 20, 20, 0.952);
    }
  }
  .product-select-container {
    height: calc(100vh - 14rem);
    .btn {
      margin: {
        left: 45%;
      }
    }
    .table {
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
      }
    }
  }
  .search-product {
    top: 67px;
    height: calc(100vh - 74px);
    &.big-sidebar {
    width: calc(100vw - 264px);
    }
    &.small-sidebar {
    width: calc(100vw - 74px);
    }
    .table {
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
      }
    }
  }
}
</style>
