<template>
  <component
  :is="getSubPage">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

import Create from './Create';
import Discard from './Discard';
import Refund from './Refund';
import History from './History';

export default {
  components: {
    Create,
    Discard,
    Refund,
    History,
  },
  computed: {
    ...mapGetters([
      'getSubPage',
    ]),
  },
};
</script>

<style lang="scss" scoped>
</style>
