<template>
  <div class="refund-order-container stnd-font m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  right: ['arrowright'], left: ['arrowleft'], enter: ['enter']}"
  @shortkey="keyEvents">
  <div class="left portlet grid-col-1 ">
    <div class="order-select-container stnd-font">
      <div class="input-container grid-row-1 p-10">
        <input class="input stnd-font" placeholder="search"
        v-model="search"
        v-focus
        ref="search"
        @keyup="searchOrders">
      </div>
      <div class="order-id scroll-bar scroll-y">
        <div v-infinite-scroll="loadMore"
        infinite-scroll-disabled="busy" infinite-scroll-distance="10">
          <div class="table table-hover table-bubble full-width">
            <div class="table-row"
            v-for="(refundableOrder, index) in refundableOrders"
            :class="(productIndex === index) ? 'selected': ''"
            :key="index"
            @click="loadOrderProducts(refundableOrder._id), productIndex = index">
              <div class="table-cell fw-500">
                <div class="id">
                  # {{ refundableOrder.num }}
                </div>
              </div>
              <div class="table-cell ta-center">
                <div class="total">
                  <span>₹</span>{{ (refundableOrder.total / 100).toFixed(2) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right portlet grid-col-3">
    <div class="header">
      <div class="title height-50 fs-20 white p-15">
        <i class="icon-minus fw-600 pr-5"></i>
        <span class="fs-23">Refund</span>
        <template v-if="order">
          <span class="fs-23">#{{ order.num }}</span>
        </template>
      </div>
      <div class="btn-group mt-5">
        <span class="fs-25 mr-20">
          {{ (refundAmount / 100).toFixed(2) }}
        </span>
        <button class="btn btn-gradient-red"
        @click="saveRefund">
          <i class="icons icon-printer mr-10 va-middle fw-700"></i>
          Done
        </button>
      </div>
    </div>
    <template v-if="order">
      <div class="bottom scroll-bar scroll-y">
        <div class="table table-stripe-pink full-width">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Quantity</div>
            <div class="table-cell white-text">Price</div>
            <div class="table-cell white-text">Total</div>
            <div class="table-cell white-text">Refund Qty</div>
            <div class="table-cell white-text">Discard Qty</div>
            <div class="table-cell white-text"></div>
          </div>
          <div class="table-row"
            v-for="(product, index) in order.products"
            :key="index"
            :class="!cantSubmit
                ? '' : 'error'">
            <template v-if="visible[index]">
              <div class="table-cell product fw-500">{{ product.name }}</div>
              <div class="table-cell fw-500">
                {{ product.quantity }}
                </div>
              <div class="table-cell fw-500">{{ (product.netPrice / 100).toFixed(2) }}</div>
              <div class="table-cell fw-500">{{ (product.total / 100).toFixed(2) }}</div>
              <div class="table-cell refund">
                <input class="input stnd-font" v-model="order.products[index].refund.refund"
                  type="number"
                  :max="order.products[index].quantity"
                  :min=1
                  ref="refundQty">
                </div>
              <div class="table-cell discard">
                <input class="input stnd-font" v-model="order.products[index].refund.discard"
                  type="number"
                  :max="order.products[index].refund.refund"
                  :min=0>
                </div>
              <div class="table-cell ta-center fs-25 red-text">
                <i class="icons icon-trash" @click="removeProductRow(index)"></i>
              </div>
            </template>
          </div>
        </div>
      </div>
    </template>
  </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from 'vuex';

export default {
  mounted() {
    this.loadOrderHistory({ limit: 20 });
  },
  data() {
    return {
      discardQty: '',
      refundQty: '',
      search: null,
      productIndex: 0,
      busy: false,
      limit: 20,
      change: 10,
    };
  },
  methods: {
    ...mapMutations({
      orderActive: 'setOrderRefundActive',
      setPopup: 'setPopup',
    }),
    ...mapActions(['loadOrderProducts', 'refundOrder', 'loadOrderHistory']),
    searchOrders() {
      this.limit = 20;
      this.change = 10;
      this.loadOrderHistory({
        id: Number(this.search),
        limit: this.limit,
      });
      this.productIndex = 0;
    },
    async loadMore() {
      const initialOrderLength = this.orders.length;
      if (this.change >= 10) {
        this.limit += 10;
        this.busy = true;
        await this.loadOrderHistory({ id: Number(this.search), limit: this.limit });
        this.busy = false;
      }
      const finalOrderLength = this.orders.length;
      this.change = finalOrderLength - initialOrderLength;
    },
    removeProductRow(index) {
      this.visible[index] = false;
      this.order.products[index].refund.discard = 0;
      this.order.products[index].refund.refund = 0;
    },
    /* eslint no-param-reassign: ["error", { "props": false }] */
    saveRefund() {
      if (this.cantSubmit) {
        this.setPopup({
          title: 'Invalid',
          text: this.cantSubmit,
          type: 'error',
        });
      } else {
        let refundAmount = 0;
        this.order.products.forEach((product) => {
          if (product.refund) {
            if (!product.refund.refund || !(product.refund.refund >= 0)) {
              delete product.refund;
            } else {
              product.refund.refund = parseInt(product.refund.refund, 10);
              product.refund.discard = parseInt(product.refund.discard, 10);
              if (Number.isNaN(product.refund.discard)) {
                product.refund.discard = 0;
              }
              product.refund.keep = product.refund.refund - product.refund.discard;
              product.refund.amount = product.sellPrice * product.refund.refund;
              refundAmount += product.refund.amount;
            }
          }
        });
        this.order.subType = 'refund';
        this.order.refundAmount = refundAmount;
        this.order.refundDate = (new Date()).toISOString();
        this.refundOrder([this.order, this.config]);
      }
    },
    keyEvents({ srcKey }) {
      if (srcKey === 'up' && this.productIndex > 0 && this.orders.length > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.orders.length && this.orders.length > 0) {
        if (this.productIndex === this.orders.length - 1) {
          this.productIndex = this.productIndex;
        } else {
          this.productIndex += 1;
        }
      }
      if (srcKey === 'right' && this.productIndex < this.orders.length && this.orders.length > 0 && this.productIndex >= 0) {
        this.loadOrderProducts(this.refundableOrders[this.productIndex]._id);
        this.$nextTick(() => {
          this.$refs.refundQty[0].focus();
        });
      }
      if (srcKey === 'left') {
        this.$nextTick(() => {
          this.$refs.search.focus();
        });
      }
      if (srcKey === 'enter') {
        this.saveRefund();
      }
    },
  },
  computed: {
    ...mapGetters({
      orders: 'getOrderHistory',
      order: 'getRefundOrder',
      config: 'getConfig',
    }),
    refundAmount() {
      if (this.order) {
        return this.order.products.map(product => product.refund.refund * product.netPrice)
          .reduce((a, c) => a + c);
      }
      return 0;
    },
    refundableOrders() {
      return this.orders.filter(order => order.subType === 'create');
    },
    visible() {
      if (!this.order) {
        return null;
      } else if (!Array.isArray(this.order.products)) {
        return null;
      }
      return Array(this.order.products.length).fill(true);
    },
    cantSubmit() {
      if (!this.order) {
        return 'No order to refund';
      } else if (!Array.isArray(this.order.products)) {
        return 'No product to refund';
      } else if (this.order.products.length === 0) {
        return 'No product to refund';
      }
      const refundableProducts = this.order.products.filter(p => p.refund);
      const c1 = refundableProducts
        .map(prod => !(parseInt(`0${prod.refund.refund}`, 10) >= 1))
        .reduce((a, c) => a && c, true);
      if (c1) {
        return 'No product chosen for refund';
      }
      const c2 = refundableProducts
        .map(prod => parseInt(`0${prod.refund.refund}`, 10) > prod.quantity)
        .reduce((a, c) => a || c, false);
      if (c2) {
        return 'Refundable quantity is more than quantity ordered.';
      }
      const c3 = refundableProducts
        .map(prod => parseInt(`0${prod.refund.discard}`, 10) > parseInt(`0${prod.refund.refund}`, 10))
        .reduce((a, c) => a || c, false);
      if (c3) {
        return 'Discard quantity is more than quantity refunded.';
      }
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
.refund-order-container {
  display: grid;
  grid-template-columns: 1fr 0.7rem 3fr;

  .left {
    display: grid;
    grid-template-rows: auto 1fr;

    .order-id {
      height: calc(100vh - 15rem);
    }
  }

  .right {
    .header {
      border-bottom: .5rem solid #eee;
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: .7rem;
      .title {
        color: rgba(20, 20, 20, 0.952);
      }
    }
    .bottom {
      height: calc(100vh - 15rem);
      .table {
        &-row {
          &.error .table-cell {
            background: rgb(255, 200, 200);
          }
        }
      }
    }
  }
}
</style>
