<template>
  <component
  :is="getPage"></component>
</template>

<script>
import { mapGetters } from 'vuex';
import User from './User';

export default {
  computed: {
    ...mapGetters({
      getPage: 'getProfileFromMainbar',
    }),
  },
  components: {
    User,
  },
};
</script>
