<template>
  <div class="user stnd-font m-7">
    <div class="left portlet width-350">
      <img :src="`static/img/user/${whichGender}.svg`" alt="">
      <a href="#" class="btn btn-gradient-blue
      mv-5 mh-10 grid-row-3"
      @click="checkInfo"><i class="icons icon-cloud-download va-middle fw-700 mr-10"></i>
        Update Info
      </a>
    </div>
    <div class="right portlet p-10">
      <div class="container">
        <input class="input name" placeholder="Name" v-model="user.name">
        <input class="input a username" placeholder="Username" v-model="user.username">
        <input class="input a password" placeholder="Password"
        type="password" v-model="newPassword">
          <input class="input a reTypePassword" placeholder="Retype Password"
          type="password" v-model="retypePassword">
        <div class="toggle">
          <span class="fs-20 pt-5 ta-center">Male</span>
          <label class="switch">
            <input type="checkbox" v-model="user.gender">
            <span class="slider round"></span>
          </label>
          <span class="fs-20 pt-5 ta-center">Female</span>
        </div>
        <input class="input yob" type="date"
          placeholder="Date Of Birth" v-model="user.birthDate">
        <input class="input phone" type="number"
          placeholder="Phone" v-model="user.contacts.phones[0]">
        <input class="input department"
          placeholder="Department" v-model="user.department">
        <input class="input email"
          placeholder="Email" v-model="user.contacts.emails[0]">
        <input class="input stnd-font pincode" type="number"
        placeholder="Pincode" v-model="user.address.pincode">
        <input class="input stnd-font city"
          placeholder="City" v-model="user.address.city">
        <input class="input stnd-font state"
          placeholder="State" v-model="user.address.state">
        <input class="input stnd-font country"
          placeholder="Country" v-model="user.address.country">
        <input class="input stnd-font landmark"
          placeholder="Landmark" v-model="user.address.landmark">
        <input class="input stnd-font adl1"
          placeholder="Address Line 1" v-model="user.address.lines[0]">
        <input class="input stnd-font adl2"
          placeholder="Address Line 2" v-model="user.address.lines[1]">
      </div>
      <div class="modal" v-if="modal">
        <div class="header">
          Current Password
        </div>
        <div class="body">
          <input class="input a password" placeholder="Password"
          type="password" v-model="password">
          <div class="button-group">
            <a href="#" class="btn btn-gradient-blue" @click="update">
              Submit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  data() {
    return {
      modal: false,
      password: '',
      newPassword: '',
      retypePassword: '',
    };
  },
  methods: {
    ...mapActions([
      'setUser',
    ]),
    ...mapMutations(['setPopup']),
    toggleModal() {
      this.modal = !this.modal;
    },
    checkInfo() {
      if (this.invalid) {
        this.setPopup({
          title: 'Invalid values',
          text: this.invalid,
          type: 'error',
        });
      } else {
        this.toggleModal();
      }
    },
    update() {
      this.toggleModal();
      if (this.newPassword.length > 0) {
        this.user.password = this.newPassword;
      } else {
        this.user.password = this.password;
      }
      this.setUser({
        oldUser: {
          _id: this.user._id,
          password: this.password,
        },
        user: this.user,
      });
    },
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
    }),
    whichGender() {
      return (this.user.gender) ? 'Female' : 'Male';
    },
    invalid() {
      if (this.newPassword.length > 0 && !this.newPassword.match(/.{8,}/)) {
        return 'Password should be at least 8 characters long.';
      }
      if (this.newPassword !== this.retypePassword) {
        return 'Passwords don\'t match';
      }
      if (!this.user.username.match(/^[a-z0-9_-]{3,}$/)) {
        return 'Username should be alphanumeric and at least 3 characters long';
      }
      if (this.user.username.length < 1) {
        return 'Username is required';
      }
      if (this.email && !this.email.match(this.emailRe)) {
        return 'Invalid email';
      }
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
.user {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.7rem;
  .btn {
    width: calc(100% - 2rem);
    margin: .5rem 1rem;
  }

  .left {
    display: grid;
    grid-template-rows: auto 1fr auto;
    img {
      width: 90%;
      padding: {
        left: 10%;
        top: 5%;
      }
    }
  }
  .right {
    .toggle {
      max-width: 35rem;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
    .container {
      display: grid;
      grid-template-columns: auto 1fr 1fr 1fr;
      grid-gap: 1rem;
      .name, .password, .country, .email, .city {
        grid-column: 1/3;
      }
      .username, .reTypePassword, .landmark, .pincode, .state {
        grid-column: 3/5;
      }
      .adl1, .adl2 {
        grid-column: 1/5;
      }
    }
    .modal {
      left: calc(50% + 5rem);
      z-index: 1000;
      position: absolute;
      padding: 2rem;
      width: 50rem;
      background-image:
        linear-gradient(to right, #eee,
        #ddd);
      border-radius: .5rem;
      .header {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: .7rem;
      }
      .body{
        .button-group {
          margin-top: .7rem;
          .btn {
            margin: 0rem;
            width: 100%;
          }
        }
      }
    }
  }
}
</style>
