<template>
  <div class="order-details stnd-font portlet m-7">
    <div class="top p-6">
      <div class="order-id grid-col-1 fw-500 fs-20 mt-10 ml-5">
        <i class="icons icon-basket-loaded fs-25">
        </i> ORDER
        <template v-if="order">
          {{ order.num }} |
          {{ (new Date(order.createdAt)).toLocaleDateString() }}
          {{ (new Date(order.createdAt)).toLocaleTimeString() }}
        </template>
      </div>
      <div class="button-group grid-col-3">
        <a class="btn btn-gradient-green mr-20"
        v-shortkey="['enter']"
        @shortkey="done"
        @click="done"><i class="icons icon-check mr-10 va-middle fw-600"></i>
          Done</a>
        <a class="btn btn-gradient-blue"
        v-shortkey="['p']"
        @shortkey="billPrint({ order, config })"
        @click="billPrint({ order, config })">
        <i class="icons icon-printer mr-10 va-middle fw-600"></i>
          Print</a>
      </div>
    </div>
    <template
    v-if="order">
      <div class="bottom scroll-bar scroll-y m-7">
        <div class="total-expense mb-20">
          <div class="title pb-5 fs-20">
            <i class="icons icon-wallet mr-6">
            </i><span>Summary</span>
          </div>
          <div class="table full-width">
            <div class="table-header blue accent-4">
              <div class="table-cell white-text">Sub Total</div>
              <div class="table-cell white-text">Taxes</div>
              <div class="table-cell white-text">Grand Total</div>
              <div class="table-cell white-text">Paid</div>
              <div class="table-cell white-text">Total Due</div>
            </div>
            <div class="table-row">
              <div class="table-cell fw-600">₹{{ paiseToRupees(order.price) }}</div>
              <div class="table-cell">₹{{ paiseToRupees(order.tax) }}</div>
              <div class="table-cell fw-600">₹{{ paiseToRupees(order.total) }}</div>
              <div class="table-cell">₹{{ paiseToRupees(order.payment.paid) }}</div>
              <div class="table-cell fw-600">
              ₹{{ paiseToRupees(order.payment.due) }}</div>
            </div>
          </div>
        </div>
        <div class="product-list mb-20">
          <div class="title pb-5 fs-20">
            <i class="icons icon-basket-loaded">
            </i> <span>Product List</span>
          </div>
          <div class="table full-width table-stripe-pink">
            <div class="table-header green lighten-1">
              <div class="table-cell white-text">Product</div>
              <div class="table-cell white-text">Batch</div>
              <div class="table-cell white-text">Expiry</div>
              <div class="table-cell white-text">Rate</div>
              <div class="table-cell white-text">Tax</div>
              <div class="table-cell white-text">Discount</div>
              <div class="table-cell white-text">Net</div>
              <div class="table-cell white-text">Quantity</div>
              <div class="table-cell white-text">Total</div>
            </div>
            <div class="table-row"
            v-for="(product, index) in order.products"
            :key="index">
              <div class="table-cell fw-600">{{ product.name }}</div>
              <div class="table-cell">{{ product.batch }}</div>
              <div class="table-cell fw-600">{{ product.expiry ?
                (new Date(product.expiry)).toDateString() : '' }}</div>
              <div class="table-cell fw-600">{{ paiseToRupees(product.basePrice) }}</div>
              <div class="table-cell">{{ paiseToRupees(product.tax) }}</div>
              <div class="table-cell">{{ paiseToRupees(product.discount) }}</div>
              <div class="table-cell">{{ paiseToRupees(product.netPrice) }}</div>
              <div class="table-cell">{{ product.quantity }}</div>
              <div class="table-cell fw-600">{{ paiseToRupees(product.total) }}</div>
            </div>
          </div>
        </div>
        <div class="order-detail">
          <div class="title pb-5 fs-20">
            <i class="icons icon-note">
            </i> <span>Details</span>
          </div>
          <div class="table full-width">
            <div class="table-header red accent-2">
              <div class="table-cell white-text">Order#</div>
              <div class="table-cell white-text">Doctor Name</div>
              <div class="table-cell white-text">Payment Method</div>
              <div class="table-cell white-text">User</div>
              <div class="table-cell white-text">Customer Name</div>
              <div class="table-cell white-text">Phone No</div>
            </div>
            <div class="table-row">
              <div class="table-cell">{{ order.num }}</div>
              <div class="table-cell">
                <template v-if="order.secondPerson">
                  <template v-if="order.secondPerson.name !== ''">
                    {{ order.secondPerson.name }}
                  </template>
                </template>
              </div>
              <div class="table-cell">
                {{ (order.payment.type).replace(/\b\w/g, l => l.toUpperCase()) }}
              </div>
              <div class="table-cell">{{ order.username }}</div>
              <div class="table-cell">
                <template v-if="order.person">
                  {{ order.person.name }}
                </template>
              </div>
              <div class="table-cell">
                <template v-if="order.person">
                  <template v-if="order.person.contacts">
                    <template v-if="order.person.contacts.phones">
                      <template v-if="order.person.contacts.phones.length > 0">
                        {{ order.person.contacts.phones[0]}}
                      </template>
                    </template>
                  </template>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="message">
        <div class="empty-stock">
          <img src="static/img/customer/cross.svg width-300" alt="">
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      order: 'getQuickOrderTransaction',
      config: 'getConfig',
    }),
  },
  methods: {
    ...mapMutations({
      done: 'toggleQuickOrderSubPage',
    }),
    ...mapActions(['billPrint']),
    paiseToRupees(paise) {
      return (paise / 100).toFixed(2);
    },
  },
  mounted() {
    if (this.config.autoBill) {
      this.billPrint({ order: this.order, config: this.config });
    }
  },
};
</script>

<style lang="scss" scoped>
.order-details {
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  .top {
    border-bottom: 0.1rem solid #dde;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .bottom {
    height: calc(100vh - 12rem);
  }
  .empty-stock {
    margin: {
      top: calc(50vh - 25rem);
      left: calc(50vw - 20rem);
    }
  }
}
</style>
