<template>
  <component
  :is="subPage"></component>
</template>

<script>
import { mapGetters } from 'vuex';

import QuickOrder from './QuickOrder';
import Details from './Details';

export default {
  computed: {
    ...mapGetters({
      subPage: 'getQuickOrderSubPage',
    }),
  },
  components: {
    QuickOrder,
    Details,
  },
};
</script>

<style lang="scss" scoped>
</style>
