<template>
  <div class="order-container stnd-font portlet scroll-bar m-7 scroll-y"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'],
  delete: ['del'], enter: ['enter'], f2: ['f2']}"
  @shortkey="keyEvents">
    <div class="page-header pt-2">
      <div class="title mt-10">
        <i class="icon-basket fw-500"></i>
        <span class="fw-500">Quick Order</span>
      </div>
      <div class="all-total fs-30">
        {{ getTotal }}
      </div>
      <div class="btn-group mt-2">
        <button
        class="btn btn-gradient-blue"
        @click="next">
          <i class="icons icon-check fw-600 mr-10 va-middle"></i>
          Submit
        </button>
      </div>
    </div>
    <div class="customer-details mv-15 mh-10">
      <div class="customer-name">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Customer Name</div>
        <input type="text" class="input stnd-font"
        v-focus
        placeholder="Customer Name"
        v-model="customer">
      </div>
      <div class="phone-no">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Phone</div>
        <input type="number"
        class="input stnd-font" placeholder="Phone"
        v-model="phone">
      </div>
      <div class="gstin">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Gstin</div>
        <input type="number"
        class="input stnd-font" placeholder="GSTIN"
        v-model="gstin">
      </div>
      <div class="state">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">State</div>
        <select
        class="select stnd-font" v-model="state">
          <option class="list" v-for="(state, idx) in getIndianStates" :key="idx">
              {{ state }}
            </option>
        </select>
      </div>
      <div class="doctor-name">
        <div class="title fs-18 mb-10 ml-5 text-uppercase">Doctor</div>
        <input type="text" class="input stnd-font"
        placeholder="Doctor"
        v-model="doctor">
      </div>
    </div>
    <div class="product-select-container scroll-bar scroll-y">
      <div class="bill-table">
        <div class="table table-bubble table-hover">
          <div class="table-header">
            <div class="table-cell">Product</div>
            <div class="table-cell">Batch</div>
            <div class="table-cell">Quantity</div>
            <div class="table-cell base-price-header">Rate</div>
            <div class="table-cell">Discount</div>
            <div class="table-cell">Tax</div>
            <div class="table-cell">Net</div>
            <div class="table-cell">Total</div>
            <div class="table-cell">Precription</div>
            <div class="table-cell"></div>
          </div>
          <div
          class="table-row"
          v-for="(product, index) in products"
          @click="selectProduct(index)"
          :key="index"
          :class="{
            'red': (product.maxQuantity < product.quantity),
            'selected': (productIndex === index)
            }">
            <div class="table-cell product fw-600">
              {{ product.name }}
            </div>
            <div class="table-cell batch fw-600">
              {{ product.batch }}
            </div>
            <div class="table-cell quantity">
              <input type="number" class="input stnd-font"
              tabindex="1" v-model="products[index].quantity"
              :max="products[index].maxQuantity"
              min=1
              v-on:keyup="reCalculate($event, 'quantity', index)"
              v-on:mouseup="reCalculate($event, 'quantity', index)"
              ref="product">
            </div>
            <div class="table-cell base-price fw-600 ta-center">
              {{ product.basePrice }}
            </div>
            <div class="table-cell discount">
              <input type="number" class="input stnd-font"
              tabindex="1" v-model="products[index].discount"
              v-on:keyup="reCalculate($event, 'discount', index)"
              v-on:mouseup="reCalculate($event, 'discount', index)">
            </div>
            <div class="table-cell tax">
              <select
              tabindex="1" v-model="products[index].tax"
              v-on:keyup="reCalculate($event, 'tax', index)"
              v-on:mouseup="reCalculate($event, 'tax', index)"
              class="select stnd-font">
                <option class="list" v-for="tax in taxes" :key="tax">{{tax}}</option>
              </select>
            </div>
            <div class="table-cell net-price">
              <input type="number" class="input stnd-font"
              tabindex="1"
              :value="products[index].netPrice"
              v-on:keyup="reCalculate($event, 'netPrice', index)"
              v-on:mouseup="reCalculate($event, 'netPrice', index)">
            </div>
            <div class="table-cell total fw-600 ta-center">
              {{ products[index].total }}
            </div>
            <div class="table-cell precription">
              <template v-if="product.details">
                <template v-if="product.details.prescription">
                  <i class="icon-check icon-check-precription fs-18 blue-text"></i>
                </template>
                <template v-else>
                  <i class="icon-close fs-18 red-text"></i>
                </template>
              </template>
            </div>
            <div class="table-cell">
              <i class="icons icon-trash fs-25 fw-500 red-text" @click="removeProduct(index)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <a
          class="btn btn-gradient-green mt-20 mb-10"
          @click="openProductSearch">
          <span class="fs-21 pr-10 fw-600">
          <i class="icons icon-plus va-middle fw-600 mr-1"></i></span>
          Add New
        </a>
      </div>
    </div>
    <template
    v-if="clicked">
      <div class="search-product scroll-bar scroll-y position-absolute white z-index-1000"
      :class="(getSidebarType) ? 'small-sidebar' : 'big-sidebar'">
        <input type="text" class="input stnd-font" placeholder="search"
        v-model="search"
        v-focus>
        <div class="table table-bubble table-hover full-width">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Batch</div>
            <div class="table-cell white-text">Qty</div>
            <div class="table-cell white-text">Expiry</div>
            <div class="table-cell white-text">HSN Code</div>
            <div class="table-cell white-text">Cost Price</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Discount</div>
            <div class="table-cell white-text">Net</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in searchProducts"
          :key="index"
          :class="(searchProductIndex === index) ? 'selected': ''"
          @click="addProduct(index)">
            <div class="table-cell fw-500">{{ product.name }}</div>
            <div class="table-cell">{{ product.batch }}</div>
            <div class="table-cell fw-500">{{ product.quantity }}</div>
            <div class="table-cell">{{ product.expiry ?
              (new Date(product.expiry)).toDateString() : '' }}</div>
            <div class="table-cell">{{ product.hsn }}</div>
            <div class="table-cell">{{ product.costPrice }}</div>
            <div class="table-cell">{{ product.basePrice }}</div>
            <div class="table-cell">{{ product.tax }}</div>
            <div class="table-cell">{{ product.discount }}</div>
            <div class="table-cell fw-500">{{ product.netPrice }}</div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  async destroyed() {
    this.loadOrderHistory();
    this.loadStockOverview();
    this.accountTransactions();
  },
  data() {
    return {
      search: '',
      products: [],
      productIndex: -1,
      customer: null,
      phone: null,
      gstin: '',
      state: '19 - West Bengal',
      clicked: false,
      doctor: null,
      searchProductIndex: 0,
    };
  },
  methods: {
    selectProduct(index) {
      this.productIndex = index;
    },
    keyEvents({ srcKey }) {
      if (srcKey === 'f2') {
        this.openProductSearch();
        return 0;
      }
      if (this.clicked) {
        this.productSelectArrow(srcKey);
      } else {
        if (srcKey === 'enter') {
          if (!this.cantSubmit) {
            this.next({
              products: this.convert(this.products),
              customer: this.customer,
              doctor: this.doctor,
              phone: this.phone,
              gstin: this.gstin,
              state: this.state,
            });
          }
          return 0;
        }
        this.productArrow(srcKey);
      }
      return 0;
    },
    productSelectArrow(srcKey) {
      if (srcKey === 'up' && this.searchProductIndex > 0) {
        this.searchProductIndex -= 1;
      }
      if (srcKey === 'down' && this.searchProductIndex < this.searchProducts.length) {
        this.searchProductIndex += 1;
      }
      if (srcKey === 'enter') {
        if (this.searchProducts.length > 0) {
          this.addProduct(this.searchProductIndex);
        }
      }
    },
    resetSearchProductIndex() {
      this.searchProductIndex = 0;
    },
    productArrow(srcKey) {
      if (srcKey === 'up' && this.productIndex > 0) {
        this.productIndex -= 1;
      }
      if (srcKey === 'down' && this.productIndex < this.products.length) {
        this.productIndex += 1;
      }
      if (srcKey === 'delete') {
        this.removeProduct(this.productIndex);
      }
    },
    convert(products) {
      const toPaise = (product) => {
        const newProduct = _.pick(_.cloneDeep(product), [
          '_id', 'basePrice', 'batch', 'discount', 'expiry', 'id', 'name', 'netPrice', 'quantity', 'refund', 'tax', 'costPrice', 'total', 'hsn',
        ]);
        newProduct.basePrice = parseInt(newProduct.basePrice * 100, 10);
        newProduct.netPrice = parseInt(newProduct.netPrice * 100, 10);
        newProduct.costPrice = parseInt(newProduct.costPrice * 100, 10);
        newProduct.sellPrice = newProduct.netPrice;
        newProduct.tax = parseInt(newProduct.tax * 100, 10);
        newProduct.discount = parseInt(newProduct.discount * 100, 10);
        newProduct.total = parseInt(newProduct.total * 100, 10);
        newProduct.quantity = parseInt(newProduct.quantity, 10);
        return newProduct;
      };
      return products.map(toPaise);
    },
    reCalculate(event, property, index) {
      if (property === 'netPrice') {
        this.products[index].netPrice = event.target.value;
      }
      if (property === 'tax' || property === 'discount') {
        this.products[index].netPrice = (this.products[index].basePrice
        * (1 + (this.products[index].tax / 100))
        * (1 - (this.products[index].discount / 100))).toFixed(2);
      } else if (property === 'netPrice') {
        this.products[index].discount = ((1 - (this.products[index].netPrice
        / this.products[index].basePrice
        / (1 + (this.products[index].tax / 100)))) * 100).toFixed(2);
      }
      this.products[index].total = (this.products[index].netPrice
        * this.products[index].quantity)
        .toFixed(2);
    },
    ...mapMutations([
      'setPopup',
    ]),
    ...mapActions([
      'addQuickOrderCreate',
      'loadLocalProducts',
      'loadOrderHistory',
      'loadStockOverview',
      'accountTransactions',
    ]),
    addProduct(index) {
      const newProduct = _.cloneDeep(this.searchProducts[index]);
      newProduct.maxQuantity = newProduct.quantity;
      newProduct.quantity = 1;
      newProduct.total = newProduct.netPrice;
      this.products.push(newProduct);
      this.clicked = !this.clicked;
      this.$nextTick(() => {
        this.$refs.product[this.products.length - 1].focus();
      });
      this.searchProductIndex = 0;
      this.productIndex = this.products.length - 1;
    },
    removeProduct(index) {
      this.products.splice(index, 1);
      this.productIndex = this.products.length - 1;
    },
    async openProductSearch() {
      this.search = '';
      if (this.searchProducts.length > 0) {
        this.resetSearchProductIndex();
        this.clicked = !this.clicked;
      }
    },
    next() {
      if (this.cantSubmit) {
        this.setPopup({
          title: 'Invalid',
          text: 'Product quantity is more than that available in stock.',
          type: 'error',
        });
      } else {
        this.addQuickOrderCreate({
          products: this.convert(this.products),
          customer: this.customer,
          doctor: this.doctor,
          phone: this.phone,
          gstin: this.gstin,
          state: this.state,
        });
      }
    },
    updatedProducts() {
      const initialProductNumber = this.products.length;
      if (this.inStockProducts.length > 0) {
        this.products = this.products.map((prod) => {
          const reloadProds = this.inStockProducts
            .filter(stProd => stProd._id === prod._id);
          if (reloadProds.length > 0) {
            const copyProd = _.cloneDeep(prod);
            copyProd.maxQuantity = reloadProds[0].quantity;
            return copyProd;
          }
          return null;
        })
          .filter(prod => prod);
      }
      const finalProductNumber = this.products.length;
      if (finalProductNumber !== initialProductNumber) {
        this.productIndex = 0;
      }
    },
  },
  computed: {
    ...mapGetters({
      inStockProducts: 'getInStockProducts',
      getSidebarType: 'getSidebarType',
      taxes: 'getGstPercent',
      getIndianStates: 'getIndianStates',
    }),
    cantSubmit() {
      if (this.products.length === 0) {
        return true;
      }
      return this.products.map(prod => (prod.quantity > prod.maxQuantity))
        .reduce((a, c) => a || c);
    },
    getTotal() {
      if (this.products.length === 0) {
        return 0;
      }
      return this.products
        .map(product => parseFloat(product.total, 10))
        .reduce((a, c) => a + c)
        .toFixed(2);
    },
    searchProducts() {
      if (!this.inStockProducts) {
        return this.inStockProducts;
      }
      const r = new RegExp(`${this.search.split(' ').join('.*')}`, 'i');
      if (this.products.length === 0) {
        return this.inStockProducts
          .filter(product => product.name.match(r));
      }
      return this.inStockProducts
        .filter(product => product.name.match(r))
        .filter(stProd => !this.products
          .map(prod => stProd._id === prod._id)
          .reduce((a, c) => a || c));
    },
  },
  watch: {
    inStockProducts() {
      this.updatedProducts();
    },
  },
};
</script>

<style lang="scss" scoped>
  .order-container {
    // margin: 0.7rem;
    width: calc(100% - 1.4rem);
    height: calc(100% - 1.4rem);
    // overflow-y: scroll;
    // overflow-x: hidden;
    height: calc(100vh - 8rem);
    .page-header {
      display: grid;
      grid-template-columns: 1fr auto auto;
      grid-gap: 2rem;
      padding: {
        // top: 0.2rem;
      }
      .title {
        margin: {
          // top: 1rem;
        }
        i{
          // font-weight: 500;
        }
        span {
          // font-weight: 500;
        }
      }
      .all-total {
        font: {
          // size: 3rem;
        }
      }
      .btn-group {
        margin: {
          // top: 0.1rem;
        }
        // .btn {
        //   height: 4rem;
        //   line-height: 3.8rem;
        //   font-size: 1.6rem;
        // }
        i {
          margin: {
            // right: 1rem;
          }
          // vertical-align: middle;
          font: {
            // weight: 700;
          }
        }
      }
    }
    .customer-details {
      // margin: 1.5rem 1rem;
      display: grid;
      grid-template-columns: 2fr 1fr 1.5fr 1fr 2fr;
      grid-gap: .7rem;
      // .title {
      //   font-size: 1.8rem;
      //   margin: {
      //     bottom: 1rem;
      //     left: .5rem;
      //   }
      //   text-transform: uppercase;
      // }
      // .input {
      //   height: 4rem;
      //   font-size: 1.7rem;
      // }
      // .dropdown {
      //   background: white;
      //   border-radius: .5rem;
      //   .list {
      //     height: 3.6rem;
      //     padding: 1rem;
      //     font-size: 1.6rem;
      //   }
      // }
    }
    .product-select-container {
      // overflow-y: scroll;
      // overflow-x: hidden;
      height: calc(100vh - 14rem);
      .btn {
        margin: {
          // top: 2rem;
          left: 45%;
          // bottom: 1rem;
        }

        // height: 4rem;
        // padding-top: 0rem;
        // line-height: 3.8rem;
        // font-size: 1.6rem;
      }
      i {
        // vertical-align: middle;
        // font-weight: 700;
        // margin: {
        //   right: .1rem;
        // }
      }
      span {
        // font-size: 2.1rem;
        // padding-right: 1rem;
        // font-weight: 700;
      }

      .table {
        width: 100%;

        .table-row {
          &.selected .table-cell {
            background: #ebebeb;
          }
          &.red .table-cell {
            background: rgb(255, 200, 200);
          }
        }

        // &-1 {
        //   .table-header {
        //     .table-cell {
        //       padding-bottom: 0rem;
        //     }
        //   }
        // }
        // &-2 {
        //   .table-header {
        //     .table-cell {
        //       padding-bottom: 1rem;
        //     }
        //   }
        // }

        // &-header {
        //   border-bottom: .1rem solid #eee;
        //   .table-cell {
        //     padding: {
        //       left: 1rem;
        //     }
        //   }
        //   .table-cell:nth-child(1) {
        //     padding-left: 2rem;
        //   }

        //   .base-price-header {
        //     min-width: 14rem;
        //   }
        // }
        &-row {
          .table-cell {
            // padding: 1rem .5rem;
          }
          .table-cell:nth-child(1) {
            // padding-left: 2rem;
            // font-weight: 700;
          }
          .table-cell:nth-child(3) {
            // padding-left: 2rem;
            // font-weight: 700;
          }
          .table-cell:nth-child(4) {
            // width: 12rem;
            // text-align: center;
          }
          .table-cell:nth-child(7) {
            // padding-left: 2rem;
          }
          .table-cell:nth-child(8) {
            // font-weight: 700;
            // text-align: center;
          }
          .table-cell:nth-child(9) {
            // font-weight: 700;
            // text-align: center;
          }
        }

        // .input {
        //   height: 4rem;
        // }

        // .product {
        //   min-width: 20rem;
        // }
        // .tax {
        //   min-width: 10rem;
        // }
        // .net-price {
        //   min-width: 15rem;
        // }
        .base-price, .product {
          font: {
            // weight: 500;
            // size: 2rem;
          }
        }
        .icons {
          // font-size: 2.5rem;
          // font-weight: 500;
          // color: #e53935;
        }
      }
    }
    .search-product {
    height: calc(100vh - 74px);
    top: 67px;
    &.big-sidebar {
    width: calc(100vw - 264px);
    }
    &.small-sidebar {
    width: calc(100vw - 74px);
    }
    .table {
      .table-row {
        &.selected .table-cell {
          background: #ebebeb;
        }
      }
    }
  }
  }
</style>
