<template>
  <div class="order-details stnd-font portlet m-7"
  v-shortkey="{enter: ['enter'], left: ['arrowleft']}"
  @shortkey="keyEvents">
    <div class="top p-7">
      <div class="order-id fw-500 fs-20 mt-10 ml-5">
        <i class="icons icon-basket-loaded fs-25">
        </i> ORDER: {{ order.num }} |
        {{ (new Date(order.createdAt)).toLocaleDateString() }}
        {{ (new Date(order.createdAt)).toLocaleTimeString() }}
      </div>
      <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
        <template v-if="!order.payment.closed">
          <input type="number" class="input stnd-font grid-col-3 mt-4" placeholder="Amount"
          v-model="amount">
        </template>
      </template>
      <div class="button-group grid-col-4 mt-1">
        <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
          <template v-if="!order.payment.closed">
            <a class="btn btn-gradient-red"
            @click="pay">
              Pay Now
            </a>
          </template>
        </template>
        <a class="btn btn-gradient-green"
        @click="done">
          <i class="icons icon-check mr-10 va-middle fw-700"></i>
          Done
        </a>
        <template v-if="order.subType === 'create'">
          <a class="btn btn-gradient-red"
          @click="refund()">
            <i class="icons icon-minus mr-10 va-middle fw-700"></i>
            Refund
          </a>
        </template>
        <a class="btn btn-gradient-blue"
        @click="billPrint({ order, config })">
        <i class="icons icon-printer mr-10 va-middle fw-700"></i>
          Print</a>
      </div>
    </div>
    <div class="bottom scroll-bar scroll-y">
      <div class="total-expense mb-10">
        <div class="title pb-5 fs-20">
          <i class="icons icon-wallet">
          </i> <span>Summary</span>
        </div>
        <div class="table full-width">
          <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text fw-500">Type</div>
            <div class="table-cell white-text fw-500">Sub Total</div>
            <div class="table-cell white-text fw-500">Taxes</div>
            <div class="table-cell white-text fw-500">Grand Total</div>
            <div class="table-cell white-text fw-500">Paid</div>
            <div class="table-cell white-text fw-500">Total Due</div>
          </div>
          <div class="table-row">
            <div class="table-cell pv-9 ph-30 fw-600">
              Create<span v-if="order.subType === 'refund'"> / Refund</span>
            </div>
            <div class="table-cell pv-9 ph-30">₹{{ paiseToRupees(order.price) }}</div>
            <div class="table-cell pv-9 ph-30 fw-600">₹{{ paiseToRupees(order.tax) }}</div>
            <div class="table-cell pv-9 ph-30">₹{{ paiseToRupees(order.total) }}</div>
            <div class="table-cell pv-9 ph-30 fw-600">
            ₹{{ paiseToRupees(order.payment.paid) }}</div>
            <div class="table-cell pv-9 ph-30">₹{{ paiseToRupees(order.payment.due) }}</div>
          </div>
          </template>
          <template v-if="order.subType === 'discard'">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text fw-500">Type</div>
            <div class="table-cell white-text fw-500">Order#</div>
            <div class="table-cell white-text fw-500">Grand Total</div>
            <div class="table-cell white-text fw-500">User</div>
          </div>
          <div class="table-row">
            <div class="table-cell pv-9 ph-30 fw-600 fs-20">Discard</div>
            <div class="table-cell pv-9 ph-30">{{ order.num }}</div>
            <div class="table-cell pv-9 ph-30 fw-600 fs-20">{{ paiseToRupees(order.total) }}</div>
            <div class="table-cell pv-9 ph-30">{{ order.username }}</div>
          </div>
          </template>
        </div>
      </div>
      <div class="product-list">
        <div class="title pb-5 fs-20">
          <i class="icons icon-basket-loaded">
          </i> <span>Product List</span>
        </div>
        <div class="table full-width">
          <div class="table-header green lighten-1">
            <div class="table-cell white-text fw-500 pv-15 ph-10">Product</div>
            <div class="table-cell white-text fw-500 pv-15 ph-10">Batch</div>
            <div class="table-cell white-text fw-500 pv-15 ph-10">Expiry</div>
            <div class="table-cell white-text fw-500 pv-15 ph-10">Base Price(₹)</div>
            <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
              <div class="table-cell white-text fw-500 pv-15 ph-10">Tax(%)</div>
              <div class="table-cell white-text fw-500 pv-15 ph-10">Discount(%)</div>
              <div class="table-cell white-text fw-500 pv-15 ph-10">Net Price(₹)</div>
            </template>
            <template v-if="order.subType === 'refund'">
              <div class="table-cell white-text fw-500 pv-15 ph-10">Net Price(₹)</div>
              <div class="table-cell white-text fw-500 pv-15 ph-10">Refund</div>
              <div class="table-cell white-text fw-500 pv-15 ph-10">Discard</div>
            </template>
            <div class="table-cell white-text fw-500 pv-15 ph-10">Quantity</div>
            <div class="table-cell white-text fw-500 pv-15 ph-10">Total(₹)</div>
          </div>
          <div class="table-row"
          v-for="product in order.products"
          :key="product.id">
            <div class="table-cell pv-15 ph-10 fw-600">{{ product.name }}</div>
            <div class="table-cell pv-15 ph-10 ">{{ product.batch }}</div>
            <div class="table-cell pv-15 ph-10 fw-600">{{ product.expiry ?
              (new Date(product.expiry)).toDateString() : '' }}</div>
            <div class="table-cell pv-15 ph-10 fw-600">{{ paiseToRupees(product.basePrice) }}</div>
            <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
              <div class="table-cell pv-15 ph-10 ">{{ paiseToRupees(product.tax) }}</div>
              <div class="table-cell pv-15 ph-10 ">{{ paiseToRupees(product.discount) }}</div>
              <div class="table-cell pv-15 ph-10 ">{{ paiseToRupees(product.netPrice) }}</div>
            </template>
            <template v-if="order.subType === 'refund'">
              <div class="table-cell pv-15 ph-10 ">{{ paiseToRupees(product.netPrice) }}</div>
              <div class="table-cell pv-15 ph-10 ">{{ product.refund.refund }}</div>
              <div class="table-cell pv-15 ph-10 ">{{ product.refund.discard }}</div>
            </template>
            <div class="table-cell pv-15 ph-10 ">{{ product.quantity }}</div>
            <div class="table-cell pv-15 ph-10 fw-600">{{ paiseToRupees(product.total) }}</div>
          </div>
        </div>
      </div>
      <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
        <div class="payment-list mb-20">
          <div class="title pb-5 fs-20">
            <i class="icons icon-notebook">
            </i> <span>Payment List</span>
          </div>
          <div class="table full-width">
            <div class="table-header purple accent-1">
              <div class="table-cell white-text fw-500">Payment</div>
              <div class="table-cell white-text fw-500">Date</div>
              <div class="table-cell white-text fw-500">User</div>
            </div>
            <div class="table-row"
            v-for="(payment, index) in order.payment.history"
            :key="index">
              <div class="table-cell pv-9 ph-30 fw-600">₹{{ paiseToRupees(payment.amount) }}</div>
              <div class="table-cell pv-9 ph-30 fw-600">
              {{ (new Date(payment.date)).toLocaleString() }}</div>
              <div class="table-cell pv-9 ph-30 fw-600">{{ payment.username }}</div>
            </div>
          </div>
        </div>
      <div class="order-detail mb-20">
        <div class="title pb-5 fs-20">
          <i class="icons icon-note">
          </i> <span>Details</span>
        </div>
        <div class="table full-width">
          <div class="table-header red accent-2">
            <div class="table-cell white-text fw-600">Order#</div>
            <div class="table-cell white-text fw-600">Doctor Name</div>
            <div class="table-cell white-text fw-600">Payment Method</div>
            <div class="table-cell white-text fw-600">User</div>
            <div class="table-cell white-text fw-600">Customer Name</div>
            <div class="table-cell white-text fw-600">Phone No</div>
          </div>
          <div class="table-row">
            <div class="table-cell pv-8 ph-30">{{ order.num }}</div>
            <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
            <div class="table-cell pv-8 ph-30 fw-600">
              <template v-if="order.secondPerson">
                <template v-if="order.secondPerson.name !== ''">
                  {{ order.secondPerson.name }}
                </template>
              </template>
            </div>
            <div class="table-cell pv-8 ph-30">
              {{ (order.payment.type || 'Cash').replace(/\b\w/g, l => l.toUpperCase()) }}
            </div>
            </template>
            <div class="table-cell pv-8 ph-30">{{ order.username }}</div>
            <template v-if="['create', 'refund'].indexOf(order.subType) >= 0">
              <div class="table-cell pv-8 ph-30">
                <template v-if="order.person">
                  {{ order.person.name }}
                </template>
              </div>
              <div class="table-cell pv-8 ph-30">
                <template v-if="order.person">
                  <template v-if="order.person.contacts">
                    <template v-if="order.person.contacts.phones.length > 0">
                      {{ order.person.contacts.phones[0]}}
                    </template>
                  </template>
                </template>
              </div>
            </template>
          </div>
        </div>
      </div>
      <template  v-if="order.person">
          <div class="customer-info">
            <div class="title pb-5 fs-20">
              <i class="icons icon-book-open">
              </i> <span>Customer Info</span>
            </div>
            <div class="table table-stripe-pink full-width">
              <div class="table-row">
                <div class="table-cell fw-500">Name</div>
                <div class="table-cell">{{ order.person.name }}</div>
                <div class="table-cell fw-500">Gender</div>
                <div class="table-cell">{{ (order.person.gender) ? 'Female' : 'Male' }}</div>
              </div>
              <template v-if="order.person.age || order.person.birthDate">
                <div class="table-row">
                  <div class="table-cell fw-500">Age</div>
                  <div class="table-cell">{{ order.person.age }}</div>
                  <div class="table-cell fw-500">Date of Birth</div>
                  <div class="table-cell fw-500">{{ order.person.birthDate }}</div>
                </div>
              </template>
              <template v-if="order.person.contacts">
                <div class="table-row">
                  <template v-if="order.person.contacts.emails.length > 0">
                    <div class="table-cell fw-500">Email</div>
                      <div class="table-cell">{{ order.person.contacts.emails[0] }}</div>
                  </template>
                  <template v-if="order.person.contacts.phones.length > 0">
                    <div class="table-cell fw-500">Phone</div>
                      <div class="table-cell">{{ order.person.contacts.phones[0] }}</div>
                  </template>
                </div>
              </template>
              <template v-if="order.person.address">
                <div class="table-row">
                  <div class="table-cell fw-500">Pincode</div>
                  <div class="table-cell">{{ order.person.address.pincode }}</div>
                  <div class="table-cell fw-500">City</div>
                  <div class="table-cell">{{ order.person.address.city }}</div>
                </div>
                <div class="table-row">
                  <div class="table-cell fw-500">State</div>
                  <div class="table-cell">{{ order.person.address.state }}</div>
                  <div class="table-cell fw-500">Country</div>
                  <div class="table-cell">{{ order.person.address.country }}</div>
                </div>
                <template v-if="order.person.address.lines[0] !== ''">
                  <div class="table-row">
                    <div class="table-cell fw-500">Address</div>
                    <div class="table-cell">{{ order.person.address.lines[0] }}</div>
                    <div class="table-cell fw-500">Address</div>
                    <div class="table-cell">{{ order.person.address.lines[1] }}</div>
                  </div>
                </template>
              </template>
            </div>
          </div>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  data() {
    return {
      expand: true,
      amount: '',
    };
  },
  computed: {
    ...mapGetters({
      order: 'getOrderHistoryDetails',
      config: 'getConfig',
      user: 'getUser',
    }),
  },
  methods: {
    ...mapMutations({
      done: 'setOrderHistorySubPageFromDetails',
      openOrderRefund: 'sidebarSubPageChange',
    }),
    ...mapActions(['billPrint', 'paymentOrder', 'loadOrderProducts']),
    paiseToRupees(paise) {
      return (paise / 100).toFixed(2);
    },
    keyEvents({ srcKey }) {
      if (srcKey === 'enter' || srcKey === 'left') {
        this.done();
        return 0;
      }
      return 0;
    },
    refund() {
      this.done();
      this.loadOrderProducts(this.order._id);
      this.openOrderRefund(1);
    },
    pay() {
      if (this.amount > 0) {
        const payment = this.order.payment;
        this.amount = Math.min(parseInt(this.amount * 100, 10), parseInt(payment.due, 10));
        payment.paid += this.amount;
        payment.due -= this.amount;
        if (payment.due < 0.01) {
          payment.due = 0;
        }
        payment.history.push({
          date: new Date().toISOString(),
          amount: this.amount,
          user: this.user._id,
          username: this.user.username,
        });
        if (payment.due === 0) {
          payment.closed = true;
        }
        this.order.payment = payment;
        delete this.order.createdAt;
        this.amount = '';
        this.paymentOrder(this.order);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.order-details {
  width: calc(100% - 1.4rem);
  height: calc(100% - 1.4rem);
  .top {
    border-bottom: 0.1rem solid #dde;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-gap: .7rem;
    .order-id {
      grid-column: 1;
    }
    .button-group {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: .7rem;
    }
  }
  .bottom {
    grid-gap: 1rem;
    margin: 0.7rem;
    height: calc(100vh - 15rem);
    .product-list {
      margin-bottom: 1rem;
    }
    .order-detail {
      grid-column: 1;
    }
  }
}
</style>
