<template>
  <component
  :is="getOrderHistorySubPage">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

import Details from './Details';
import Search from './Search';

export default {
  components: {
    Details,
    Search,
  },
  computed: {
    ...mapGetters([
      'getOrderHistorySubPage',
    ]),
  },
};
</script>

<style lang="scss">
</style>
