<template>
  <div class="order-history-container portlet stnd-font scroll-bar m-7 scroll-y"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'], right: ['arrowright']}"
  @shortkey="keyEvents">
    <div v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy" infinite-scroll-distance="10">
      <div class="table table-raised table-stripe-pink table-hover m-10">
        <div class="table-header indigo accent-4"
        @keyup.enter="search">
          <div class="table-cell pl-10 fs-18 fw-500">
            <input class="input stnd-font white" type="number"
            placeholder="Order #" v-model="searchParameters.id">
          </div>
          <div class="table-cell half-grid">
            <input class="input stnd-font" type="number"
            placeholder="Min Price" v-model="searchParameters.minPrice">
            <input class="input stnd-font" type="number"
            placeholder="Max Price" v-model="searchParameters.maxPrice">
          </div>
          <div class="table-cell">
            <input class="input stnd-font" type="text"
            placeholder="Type" v-model="searchParameters.subType">
          </div>
          <div class="table-cell">
            <input class="input stnd-font"
            placeholder="Username" v-model="searchParameters.username">
          </div>
          <div class="table-cell half-grid pr-10">
            <input class="input stnd-font" type="date"
            placeholder="Start Date" v-model="searchParameters.startDate">
            <input class="input stnd-font" type="date"
            placeholder="End Date" v-model="searchParameters.endDate">
          </div>
        </div>
        <div class="table-row"
        v-for="(order, index) in orders"
        @click="loadOrderDetails(order._id)"
        :class="(orderIndex === index) ? 'selected': ''"
        :key="index">
            <div class="table-cell fs-18 fw-500"># {{ order.num }}</div>
            <div class="table-cell fs-18 fw-700 ta-center">
            ₹ {{ (order.total / 100).toFixed(2) }}</div>
            <div class="table-cell fs-18 fw-500">{{ getType(order.subType) }}</div>
            <div class="table-cell fs-18 fw-700 ta-center">{{ order.username }}</div>
            <div class="table-cell fs-18 fw-500 ta-center">
            {{ (new Date(order.createdAt)).toDateString() }}</div>
          </div>
      </div>
    </div>
    <div class="section mr-30 float-right fs-25 fw-600 ta-right">
      <div class="title">Total</div>
      <div class="value"> {{ getTotal }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  async mounted() {
    this.loadOrderHistory({ limit: 20 });
  },
  data() {
    return {
      searchParameters: {
        id: null,
        minPrice: null,
        maxPrice: null,
        subType: null,
        username: null,
        startDate: null,
        endDate: null,
      },
      busy: false,
      limit: 20,
      change: 10,
      orderIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      orders: 'getOrderHistory',
    }),
    getTotal() {
      if (!Array.isArray(this.orders)) {
        return 0;
      } else if (this.orders.length === 0) {
        return 0;
      }
      return (
        this.orders.map(order => order.total).reduce((a, c) => a + c, 0) / 100
      ).toFixed(2);
    },
  },
  methods: {
    ...mapActions(['loadOrderDetails', 'loadOrderHistory']),
    getType(type) {
      return type.replace(/\b\w/g, l => l.toUpperCase());
    },
    keyEvents({ srcKey }) {
      this.orderArrow(srcKey);
      return 0;
    },
    orderArrow(srcKey) {
      if (srcKey === 'up' && this.orderIndex > 0) {
        this.orderIndex -= 1;
      }
      if (srcKey === 'down' && this.orderIndex < this.orders.length) {
        if (this.orderIndex === this.orders.length - 1) {
          this.orderIndex = this.orderIndex;
        } else {
          this.orderIndex += 1;
        }
      }
      if (srcKey === 'right') {
        this.loadOrderDetails(this.orders[this.orderIndex]._id);
      }
    },
    async loadMore() {
      const initialOrderLength = this.orders.length;
      if (this.change >= 10) {
        this.limit += 10;
        this.busy = true;
        await this.loadOrderHistory({ ...this.searchParameters, limit: this.limit });
        this.busy = false;
      }
      const finalOrderLength = this.orders.length;
      this.change = finalOrderLength - initialOrderLength;
    },
    search() {
      this.limit = 20;
      this.change = 10;
      this.loadOrderHistory({ ...this.searchParameters, limit: this.limit });
    },
  },
};
</script>

<style lang="scss" scoped>
.order-history-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);
  .table {
    width: calc(100% - 2rem);
    .table-row {
      &.selected .table-cell {
        background: #ebebeb;
      }
    }
  }
  .half-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
</style>
