@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Thin 100.woff2");
    font-weight: 100;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Extra-Light 200.woff2");
    font-weight: 200;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Light 300.woff2");
    font-weight: 300;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Normal 400.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Medium 500.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Semi-Bold 600.woff2");
    font-weight: 600;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Bold 700.woff2");
    font-weight: 700;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Extra-Bold 800.woff2");
    font-weight: 800;
}

@font-face {
    font-family: Mosk;
    src: url("/static/fonts/Mosk/Mosk Ultra-Bold 900.woff2");
    font-weight: 900;
}