<template>
  <div
  class="credits-container portlet stnd-font scroll-bar scroll-y m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown']}"
  @shortkey="keyEvents">
    <div v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy" infinite-scroll-distance="10">
      <div class="table table-raised table-stripe-pink table-hover m-10"
      @keyup.enter="search">
        <div class="table-header indigo accent-4">
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font" type="text"
            placeholder="Credit #" v-model="searchParameters.id">
          </div>
          <div class="table-cell half-grid pv-10 ph-5 fs-18 fw-500">
            <input class="input stnd-font" type="text"
            placeholder="Min Price" v-model="searchParameters.minPrice">
            <input class="input stnd-font" type="text"
            placeholder="Max Price" v-model="searchParameters.maxPrice">
          </div>
          <div class="table-cell pv-10 ph-5"
          @click="search">
            <select class="select stnd-font" type="text"
            v-model="searchParameters.subType">
                <option class="list">Credit | Order</option>
                <option class="list">Credit</option>
                <option class="list">Order Create</option>
              </select>
          </div>
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font"
            placeholder="Username" v-model="searchParameters.username">
          </div>
          <div class="table-cell half-grid pv-10 ph-5">
            <input class="input stnd-font" type="date"
            placeholder="Start Date" v-model="searchParameters.startDate">
            <input class="input stnd-font" type="date"
            placeholder="End Date" v-model="searchParameters.endDate">
          </div>
        </div>
        <div class="table-row"
        v-for="(credit, index) in credits"
        :class="(creditIndex === index) ? 'selected': ''"
        :key="index">
          <div class="table-cell fs-18 fw-500"># {{ credit.num }}</div>
          <div class="table-cell fs-18 fw-700 ta-center">
            ₹ {{ (credit.total / 100).toFixed(2) }}</div>
          <div class="table-cell fs-18 fw-500
          ta-center">{{ getType(credit) }}</div>
          <div class="table-cell fs-18 fw-500 ta-center">{{ credit.username }}</div>
          <div class="table-cell fs-18 fw-500 ta-center">
            {{ (new Date(credit.createdAt)).toDateString() }}</div>
        </div>
      </div>
    </div>
    <div class="section m-30 float-right fs-25 fw-600 ta-right">
      <div class="title">Total</div>
      <div class="value"> {{ getTotal }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  async mounted() {
    this.accountCredits({ subType: 'Credit | Order', limit: 20 });
  },
  data() {
    return {
      searchParameters: {
        id: null,
        subType: 'Credit | Order',
        username: null,
        minPrice: null,
        maxPrice: null,
        startDate: null,
        endDate: null,
      },
      busy: false,
      limit: 20,
      change: 10,
      creditIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      credits: 'getAccountsCredits',
    }),
    getTotal() {
      if (!Array.isArray(this.credits)) {
        return 0;
      } else if (this.credits.length === 0) {
        return 0;
      }
      return ((this.credits)
        .map(credit => credit.total)
        .reduce((a, c) => (a + c), 0) / 100).toFixed(2);
    },
  },
  methods: {
    ...mapActions([
      'accountCredits',
    ]),
    async loadMore() {
      const initialCreditsLength = this.credits.length;
      if (this.change >= 10) {
        this.limit += 10;
        this.busy = true;
        await this.accountCredits({ ...this.searchParameters, limit: this.limit });
        this.busy = false;
      }
      const finalCreditsLength = this.credits.length;
      this.change = finalCreditsLength - initialCreditsLength;
    },
    keyEvents({ srcKey }) {
      this.creditArrow(srcKey);
      return 0;
    },
    creditArrow(srcKey) {
      if (srcKey === 'up' && this.creditIndex > 0) {
        this.creditIndex -= 1;
      }
      if (srcKey === 'down' && this.creditIndex < this.credits.length) {
        if (this.creditIndex === this.credits.length - 1) {
          this.creditIndex = this.creditIndex;
        } else {
          this.creditIndex += 1;
        }
      }
    },
    search() {
      this.accountCredits({ ...this.searchParameters, limit: this.limit });
    },
    getType(credit) {
      let creditType = `${credit.type}`;
      if (credit.subType) {
        creditType = `${creditType} ${credit.subType}`;
      }
      return creditType.replace(/\b\w/g, l => l.toUpperCase());
    },
  },
};
</script>

<style lang="scss" scoped>
.credits-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);
  .table {
    width: calc(100% - 2rem);
    .table-row {
        &.selected .table-cell {
         background: #ebebeb;
      }
    }
  }
  .half-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
</style>

