<template>
  <div
  class="debits-container portlet stnd-font scroll-bar scroll-y m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown']}"
  @shortkey="keyEvents">
    <div v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy" infinite-scroll-distance="10">
      <div class="table table-raised table-stripe-pink table-hover m-10"
      @keyup.enter="search">
        <div class="table-header indigo accent-4">
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font" type="text"
            placeholder="Debit #" v-model="searchParameters.id">
          </div>
          <div class="table-cell half-grid pv-10 ph-5 fs-18 fw-500">
            <input class="input stnd-font" type="text"
            placeholder="Min Price" v-model="searchParameters.minPrice">
            <input class="input stnd-font" type="text"
            placeholder="Max Price" v-model="searchParameters.maxPrice">
          </div>
          <div class="table-cell pv-10 ph-5"
          @click="search">
            <select class="select stnd-font" type="text"
            v-model="searchParameters.subType">
                <option class="list">Debit | Stock</option>
                <option class="list">Debit</option>
                <option class="list">Stock Create</option>
              </select>
          </div>
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font"
            placeholder="Username" v-model="searchParameters.username">
          </div>
          <div class="table-cell half-grid pv-10 ph-5">
            <input class="input stnd-font" type="date"
            placeholder="Start Date" v-model="searchParameters.startDate">
            <input class="input stnd-font" type="date"
            placeholder="End Date" v-model="searchParameters.endDate">
          </div>
        </div>
        <div class="table-row"
        v-for="(debit, index) in debits"
        :class="(debitIndex === index) ? 'selected': ''"
        :key="index">
          <div class="table-cell fs-18 fw-500"># {{ debit.num }}</div>
          <div class="table-cell fs-18 fw-700 ta-center">
            ₹ {{ (debit.total / 100).toFixed(2) }}</div>
          <div class="table-cell fs-18 fw-700 ta-center">{{ getType(debit) }}</div>
          <div class="table-cell fs-18 fw-500 ta-center">
            {{ debit.username }}</div>
          <div class="table-cell fs-18 fw-500 ta-center">
            {{ (new Date(debit.createdAt)).toDateString() }}</div>
        </div>
      </div>
    </div>
    <div class="section mr-30 float-right fs-25 fw-600 ta-right">
      <div class="title">Total</div>
      <div class="value"> {{ getTotal }}</div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  async mounted() {
    this.accountDebits({ subType: 'Debit | Stock', limit: 20 });
  },
  data() {
    return {
      searchParameters: {
        id: null,
        subType: 'Debit | Stock',
        username: null,
        minPrice: null,
        maxPrice: null,
        startDate: null,
        endDate: null,
      },
      limit: 20,
      busy: false,
      change: 10,
      debitIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      debits: 'getAccountsDebits',
    }),
    getTotal() {
      if (!Array.isArray(this.debits)) {
        return 0;
      } else if (this.debits.length === 0) {
        return 0;
      }
      return ((this.debits)
        .map(debit => debit.total)
        .reduce((a, c) => (a + c), 0) / 100).toFixed(2);
    },
  },
  methods: {
    ...mapActions([
      'accountDebits',
    ]),
    async loadMore() {
      const initialDebitsLength = this.debits.length;
      if (this.change >= 10) {
        this.limit += 10;
        this.busy = true;
        await this.accountDebits({ ...this.searchParameters, limit: this.limit });
        this.busy = false;
      }
      const finalDebitsLength = this.debits.length;
      this.change = finalDebitsLength - initialDebitsLength;
    },
    keyEvents({ srcKey }) {
      this.debitArrow(srcKey);
      return 0;
    },
    debitArrow(srcKey) {
      if (srcKey === 'up' && this.debitIndex > 0) {
        this.debitIndex -= 1;
      }
      if (srcKey === 'down' && this.debitIndex < this.debits.length) {
        if (this.debitIndex === this.debits.length - 1) {
          this.debitIndex = this.debitIndex;
        } else {
          this.debitIndex += 1;
        }
      }
    },
    search() {
      this.accountDebits({ ...this.searchParameters, limit: this.limit });
    },
    getType(debit) {
      let debitType = `${debit.type}`;
      if (debit.subType) {
        debitType = `${debitType} ${debit.subType}`;
      }
      return debitType.replace(/\b\w/g, l => l.toUpperCase());
    },
  },
};
</script>

<style lang="scss" scoped>
.debits-container {
  // margin: 0.7rem;
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);
  .table {
    width: calc(100% - 2rem);
    .table-row {
        &.selected .table-cell {
         background: #ebebeb;
      }
    }
  }
  .half-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
</style>

