<template>
  <component
  :is="getSubPage"></component>
</template>

<script>
import { mapGetters } from 'vuex';

import Overview from './Overview';
import Timeline from './Timeline';
import Credits from './Credits';
import Debits from './Debits';

export default {
  computed: {
    ...mapGetters([
      'getSubPage',
    ]),
  },
  components: {
    Overview,
    Timeline,
    Credits,
    Debits,
  },
};
</script>
