<template>
  <div class="account-overview-container portlet stnd-font scroll-bar scroll-y m-7"
  v-shortkey="{enter: ['enter']}"
  @shortkey="keyEvents">
    <div class="top-container m-7">
      <div class="card left-card height-200 pt-20 ph-40">
        <div class="card-header fs-30 mb-20">
          Current Balance
        </div>
        <div class="card-body fs-40 ta-center blue-grey-text darken-3">
          ₹ {{ paiseToRupees(currBal) }}
        </div>
      </div>
      <div class="card right-card height-200 pt-20 ph-40">
        <div class="card-header fs-30 mb-20 d-inline">
          <div class="text d-inline">
            Create Transaction
          </div>
          <template v-if="!transactionComplete">
            <div
            class="btn btn-gradient-green d-inline float-right"
            @click="createTransaction()">
              Create
            </div>
          </template>
          <template v-else>
            <div
            class="btn btn-gradient-green
            d-inline float-right"
            @click="transactionComplete = !transactionComplete">
              Done
            </div>
          </template>
        </div>
        <template v-if="!transactionComplete">
          <div class="card-body pt-20 full-width">
            <div class="toggle">
              <span class="fs-20 pt-5 ta-center">Debit</span>
                <label class="switch">
                <input type="checkbox" v-model="transaction.type">
                <span class="slider round"></span>
                </label>
              <span class="fs-20 pt-5 ta-center">Credit</span>
            </div>
            <div class="amount">
              <input type="number" class="input stnd-font"
              placeholder="Amount"
              v-model="transaction.total"
              v-focus>
            </div>
            <div class="description grid-col-1-3 pt-20">
              <input type="text" class="input stnd-font"
              placeholder="Description"
              v-model="transaction.description">
            </div>
          </div>
        </template>
        <template v-else>
          <div class="card-body">
            <img class="mt-30"
            :src="`static/img/sidebar/big/overview.svg`" alt="">
          </div>
        </template>
      </div>
    </div>
    <div class="bottom-container m-7">
      <div class="title fs-22 fw-500 mb-7">Last 5 Credits</div>
      <div class="table full-width table-raised table-stripe-pink">
        <div class="table-header green lighten-1">
          <div class="table-cell white-text">Number</div>
          <div class="table-cell white-text">Type</div>
          <div class="table-cell white-text">Time</div>
          <div class="table-cell white-text">Date</div>
          <div class="table-cell white-text">Amount (₹)</div>
          <div class="table-cell white-text">Description</div>
        </div>
        <div class="table-row"
        v-for="(credit, index) in credits.slice(0, 5)"
        :key="index">
          <div class="table-cell">{{ credit.num }}</div>
          <div class="table-cell">
            {{ `${credit.type} ${credit.subType || ''}` | capitalize }}
          </div>
          <div class="table-cell"> {{ (new Date(credit.createdAt)).toLocaleTimeString() }}</div>
          <div class="table-cell"> {{ (new Date(credit.createdAt)).toLocaleDateString() }} </div>
          <div class="table-cell"> {{ paiseToRupees(credit.total) }} </div>
          <div class="table-cell"> {{ credit.description }}</div>
        </div>
      </div>
      <div class="title fs-22 fw-500 mb-7 mt-10">Last 5 Debits</div>
      <div class="table full-width table-raised table-stripe-pink">
        <div class="table-header red lighten-1">
          <div class="table-cell white-text">Number</div>
          <div class="table-cell white-text">Type</div>
          <div class="table-cell white-text">time</div>
          <div class="table-cell white-text">Date</div>
          <div class="table-cell white-text">Amount (₹)</div>
          <div class="table-cell white-text">Description</div>
        </div>
        <div class="table-row"
        v-for="(debit, index) in debits.slice(0, 5)"
        :key="index">
          <div class="table-cell">{{ debit.num }}</div>
          <div class="table-cell">
            {{ `${debit.type} ${debit.subType || ''}` | capitalize }}
          </div>
          <div class="table-cell"> {{ (new Date(debit.createdAt)).toLocaleTimeString() }}</div>
          <div class="table-cell"> {{ (new Date(debit.createdAt)).toLocaleDateString() }} </div>
          <div class="table-cell"> {{ paiseToRupees(debit.total) }} </div>
          <div class="table-cell"> {{ debit.description }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';

export default {
  data() {
    return {
      transaction: {
        type: false,
        total: '',
        description: '',
      },
      transactionComplete: false,
    };
  },
  computed: {
    ...mapGetters({
      credits: 'getAccountsCredits',
      debits: 'getAccountsDebits',
    }),
    currBal() {
      return this.credits.map(c => c.total).reduce((acc, nxt) => acc + nxt, 0)
      - this.debits.map(d => d.total).reduce((acc, nxt) => acc + nxt, 0);
    },
  },
  methods: {
    ...mapActions([
      'accountCreateTransaction',
      'accountTransactions',
    ]),
    ...mapMutations([
      'setPopup',
    ]),
    keyEvents({ srcKey }) {
      if (srcKey === 'enter') {
        if (this.transactionComplete === false) {
          this.createTransaction();
          return 0;
        }
        this.transactionComplete = !this.transactionComplete;
      }
      return 0;
    },
    paiseToRupees(paise) {
      return (paise / 100).toFixed(2);
    },
    async createTransaction() {
      if (this.transaction.total === '') {
        this.setPopup({
          title: 'Error',
          text: 'Please provide an Amount',
          type: 'error',
        });
      } else {
        const copyTransaction = { ...this.transaction };
        copyTransaction.type = (copyTransaction.type) ? 'credit' : 'debit';
        copyTransaction.total = parseInt(parseFloat(copyTransaction.total, 10) * 100, 10);
        copyTransaction.description = copyTransaction.description.trim();

        const result = (await this.accountCreateTransaction(copyTransaction));
        if (result) {
          this.transactionComplete = !this.transactionComplete;
        }
        this.transaction = {
          type: false,
          total: '',
          description: '',
        };
        this.accountTransactions();
      }
    },
  },
  filters: {
    capitalize(val) {
      return val.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
    },
  },
};
</script>

<style lang="scss" scoped>
.account-overview-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);

  .top-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.7rem;
    .card {
      border: .2rem solid #eee;
      border-radius: .2rem;
    }
    .right-card {
      .card-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .toggle {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
        }
        img {
          width: 8rem;
          margin: {
            left: calc(100% - 4rem);
          }
        }
      }
    }
  }
}
</style>
