<template>
<div
class="timeline-container portlet stnd-font scroll-bar m-7 scroll-y">
  <div v-infinite-scroll="loadMore"
  infinite-scroll-disabled="busy" infinite-scroll-distance="10">
    <div class="header fs-25 fw-500 p-7 mb-3">
      <div class="header-credit ta-right mr-40">Credit</div>
      <div class="header-debit ml-40">Debit</div>
    </div>
    <div class="body">
      <div class="row full-width"
      v-for="(transaction, index) in transactions"
      :key="index">
        <div class="card mb-20 d-inline-block white-text p-10"
        :class="whichCard(transaction.type, transaction.subType)">
          <div class="content fs-20 fw-600">
            <div class="number d-inline white ta-center fw-600 height-30 width-30">
              {{ transaction.num }}
            </div>
            <div class="type">
              {{ `${transaction.type} ${transaction.subType || ''}` | capitalize }}
            </div>
            <div class="amount fs-30 fw-600">
              ₹ {{ paiseToRupees(transaction.total) }}
            </div>
            <div class="date-time fs-15 fw-600">
              {{ (new Date(transaction.createdAt)).toLocaleString() }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="more">
      <div class="circle height-60 width-60 mt-20 pt-20 pl-14">
        <i class="icon-arrow-down white-text fs-30 fw-600"></i>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  mounted() {
    this.accountTransactions({ limit: 10 });
  },
  data() {
    return {
      busy: false,
      limit: 10,
      change: 5,
    };
  },
  methods: {
    ...mapActions(['accountTransactions']),
    async loadMore() {
      const initialTransactionLength = this.transactions.length;
      if (this.change >= 5) {
        this.limit += 10;
        this.busy = true;
        await this.accountTransactions({ limit: this.limit });
        this.busy = false;
      }
      const finalTransactionLength = this.transactions.length;
      this.change = finalTransactionLength - initialTransactionLength;
    },
    paiseToRupees(paise) {
      return (paise / 100).toFixed(2);
    },
    whichCard(type, subType) {
      if (type === 'credit') {
        return 'card-left';
      } else if (type === 'debit') {
        return 'card-right';
      } else if (type === 'stock') {
        return 'card-right';
      } else if (type === 'order' && subType === 'create') {
        return 'card-left';
      } else if (type === 'order' && (subType === 'refund' || subType === 'discard')) {
        return 'card-right';
      }
      return '';
    },
  },
  computed: {
    ...mapGetters({
      transactions: 'getAccountsTransactions',
    }),
  },
  filters: {
    capitalize(val) {
      return val.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
    },
  },
};
</script>

<style lang="scss" scoped>
.timeline-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .body {
    background: linear-gradient(90deg,
    white 50%,
    #ddd 50%,
    #ddd calc(50% + .2rem),
    white calc(50% + .2rem));
    .row {
      .card {
        width: auto;
        border-radius: .3rem;
        box-shadow: .5rem .5rem rgba(200, 200, 200, .3);
        &:hover {
          transform: translateY(.3rem);
          transition: all .2s;
        }
        &:active {
          transform: translateY(0rem);
          transition: all .2s;
        }
        .content {
          .number {
            border-radius: 50%;
          }
        }
        &-left {
          margin: {
            right: calc(50% + 5rem);
          }
          float: right;
          background: linear-gradient(222deg, #85bd3f 0%, #43b163 100%);
          text-align: right;
          .amount {
            padding-left: 10rem;
          }
          .number {
             float: left;
             color: #15b11d;
          }
        }
        &-right {
          margin: {
            left: calc(50% + 5rem);
          }
          background: #ec407a;
          .amount {
            padding-right: 10rem;
          }
          .number {
            float: right;
            color: #ec407a;
          }
        }
      }
    }
  }
  .more {
    .circle {
      border-radius: 50%;
      background: #0a27cc;
      margin-left: calc(50% - 3rem);
      box-shadow: .5rem .5rem rgba(200, 200, 200, .3);
      &:hover {
        transform: translateY(.3rem);
        transition: all .2s;
      }
      &:active {
        transform: translateY(0rem);
        transition: all .2s;
      }
    }
  }
}
</style>
