<template>
  <component
  :is="getSubPage">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

import Overview from './Overview';
import Create from './Create';
import History from './History';
// import Refund from './Refund';

export default {
  components: {
    Create,
    // Refund,
    Overview,
    History,
  },
  computed: {
    ...mapGetters([
      'getSubPage',
    ]),
  },
};
</script>

<style lang="scss">
</style>
