<template>
  <div
  class="overview-container portlet stnd-font p-10 pt-5 m-7">
    <div class="top h-40 pb-45 mb-15">
      <div class="icon-container pb-15">
        <i class="icons va-middle icon-layers fs-30 pl-5"></i>
      </div>
      <div class="fs-25 p-5">Stock Overview</div>
      <div class="btn-group grid-col-4">
        <div class="btn btn-gradient-red"
        @click="expanded = !expanded"
        v-if="expanded">
          <i class="icons va-middle mr-10 fw-700 icon-arrow-up-circle"></i>
          Collapse
        </div>
        <div class="btn btn-gradient-green"
        @click="expanded = !expanded"
        v-else>
          <i class="icons va-middle mr-10 fw-700 icon-arrow-down-circle"></i>
          Expand
        </div>
        <div class="btn btn-gradient-blue ml-20">
          <i class="icons va-middle mr-10 fw-700 icon-printer"></i>
          Print
        </div>
      </div>
    </div>
    <template
    v-if="stockOverview">
      <div class="bottom scroll-bar scroll-y">
        <div
        class="table full-width table-raised table-stripe-pink mb-10">
          <div class="table-header blue accent-4">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Net</div>
            <div class="table-cell white-text">Quantity</div>
            <div class="table-cell white-text">Total</div>
          </div>
          <div class="table-row"
          v-for="(product, index) in stockOverview.total.products" :key="index">
            <div class="table-cell fw-500">
              {{ product.name }}
            </div>
            <div class="table-cell">
              {{ toRupee(product.basePrice) }}
            </div>
            <div class="table-cell">
              {{ toRupee(product.tax) }}
            </div>
            <div class="table-cell">
              {{ toRupee(product.netPrice) }}
            </div>
            <div class="table-cell">
              {{ product.quantity }}
            </div>
            <div class="table-cell fw-500">
              {{ toRupee(product.total) }}
            </div>
          </div>
          <div class="table-row total">
            <div class="table-cell fs-20 fw-600">Total</div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell fs-20 fw-600">
              {{ toRupee(stockOverview.total.total) }}
            </div>
          </div>
        </div>
        <div
        class="table full-width table-raised table-stripe-pink mb-10"
        v-if="expanded"
        v-for="(stock, index) in stockOverview.stocks"
        :key="index">
          <div class="table-header"
          :class="(index % 2) ? 'red lighten-1' : 'green lighten-1'">
            <div class="table-cell white-text">Product</div>
            <div class="table-cell white-text">Batch</div>
            <div class="table-cell white-text">Rate</div>
            <div class="table-cell white-text">Tax</div>
            <div class="table-cell white-text">Net</div>
            <div class="table-cell white-text">Quantity</div>
            <div class="table-cell white-text">Total</div>
          </div>
          <div class="table-row"
          v-for="product in stock.products"
          :key="JSON.stringify(product.id)">
            <div class="table-cell fw-500">{{ product.name }}</div>
            <div class="table-cell">{{ product.batch }}</div>
            <div class="table-cell">{{ toRupee(product.basePrice) }}</div>
            <div class="table-cell">{{ toRupee(product.basePrice * product.tax/10000) }}</div>
            <div class="table-cell">{{ toRupee(product.netPrice) }}</div>
            <div class="table-cell">{{ product.quantity }}</div>
            <div class="table-cell fw-500">{{ toRupee(product.total) }}</div>
          </div>
          <div class="table-row total">
            <div class="table-cell fs-20 fw-600">Total</div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell"></div>
            <div class="table-cell fs-20 fw-600">{{ toRupee(stock.total) }}
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="empty-stock">
        <img src="static/img/stock-overview/empty.svg" alt="">
      </div>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  created() {
    this.loadStockOverview();
  },
  data() {
    return {
      expanded: false,
    };
  },
  computed: {
    ...mapGetters({
      stockOverview: 'getStockOverview',
    }),
  },
  methods: {
    ...mapActions([
      'loadStockOverview',
    ]),
    toRupee(paise) {
      return (paise / 100).toFixed(2);
    },
    getTotal(stocks) {
      return stocks.reduce((stockOne, stockTwo) => {
        const bothStock = stockOne.products
          .map((product) => {
            const newProduct = {};
            for (let i = 0; i < stockTwo.products.length; i += 1) {
              const productDummy = stockTwo.products[i];
              if (product.name === productDummy.name) {
                newProduct.qty = (productDummy.qty + product.qty);
                newProduct.tax = parseInt((product.tax * product.qty)
              + ((productDummy.tax * productDummy.qty) / newProduct.qty), 10);
                newProduct.price = parseInt((product.price * product.qty)
              + ((productDummy.price * productDummy.qty) / newProduct.qty), 10);
                newProduct.total = parseInt(((product.price + product.tax) * (product.qty
              + ((productDummy.price + productDummy.tax) * productDummy.qty))), 10);
                newProduct.name = product.name;
                return newProduct;
              }
            }
            return null;
          }).filter(product => product !== null);
        const onlyStockOne = stockOne.products.filter(product => !bothStock
          .map(productDummy => product.name === productDummy.name)
          .reduce((acc, nxt) => acc || nxt))
          .map((product) => {
            const copyProduct = { ...product };
            copyProduct.total = parseInt((product.price + product.tax) * product.qty, 10);
            return copyProduct;
          });
        const onlyStockTwo = stockTwo.products.filter(product => !bothStock
          .map(productDummy => product.name === productDummy.name)
          .reduce((acc, nxt) => acc || nxt))
          .map((product) => {
            const copyProduct = { ...product };
            copyProduct.total = parseInt((product.price + product.tax) * product.qty, 10);
            return copyProduct;
          });
        return [].concat(bothStock, onlyStockOne, onlyStockTwo);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
  .overview-container {
    // padding: 1rem;
    // padding-top: .5rem;
    // margin: 0.7rem;
    width: calc(100% - 1.4rem);
    height: calc(100% - 1.4rem);
    .top {
      display: grid;
      grid-template-columns: 4rem auto 1fr auto;
      grid-gap: 0.7rem;
      border-bottom: .3rem solid #eed;
      // .title {
      //   font-size: 2.5rem;
      //   padding: {
      //     top: 0.5rem;
      //   }
      // }
    }
    .bottom {
      // overflow-y: scroll;
      // overflow-x: hidden;
      height: calc(100vh - 16rem);
      .table {
        // width: 100%;
        // margin: {
        //   bottom: 1rem;
        // }
        // .overall {
        //   .table-cell:nth-child(1) {
        //     font-weight: 500;
        //   }
        //   .table-cell:nth-child(6) {
        //     font-size: 1.8rem;
        //     font-weight: 500;
        //   }
        // }
        // .bold {
        //   .table-cell:nth-child(1) {
        //     font-weight: 600;
        //   }
        //  .table-cell:nth-child(6) {
        //     font-weight: 600;
        //   }
        // }
        // .total {
        //   .table-cell:nth-child(1) {
        //     font-size: 2rem;
        //     font-weight: 600;
        //   }
        //  .table-cell:nth-child(6) {
        //     font-size: 2rem;
        //     font-weight: 600;
        //   }
        // }
      }
    }
    .empty-stock {
      margin: {
        top: calc(50vh - 25rem);
        left: calc(50vw - 30rem);
      }
      img {
        width: 30rem;
      }
    }
  }
</style>
