<template>
<div class="refund-stock-container stnd-font">
    <div class="left portlet">
      <div class="stock-select-container stnd-font">
        <div class="input-container">
          <input class="input stnd-font" placeholder="search">
        </div>
        <div class="stock-id scroll-bar">
          <div class="table">
            <div class="table-row"
            v-for="(stock, index) in stocks"
            :key="index"
            @click="stockActive(index)">
              <div class="table-cell">
                <div class="id">
                  {{ stock.id }}
                </div>
              </div>
              <div class="table-cell">
                <div class="total">
                  <span>₹</span>{{ stock.total }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right portlet">
      <div class="header">
        <div class="title">
          <i class="icon-minus"></i>
          <span>Refund</span>
        </div>
        <div class="btn-group">
          <a class="btn btn-gradient-blue">
            <i class="icons icon-check"></i>
            Done
          </a>
        </div>
      </div>
      <div class="list scroll-bar">
        <div class="table table-header-blue-white table-stripe-pink">
          <div class="table-header">
            <div class="table-cell">Product</div>
              <div class="table-cell">Quantity</div>
              <div class="table-cell">Price (₹)</div>
              <div class="table-cell">Total (₹)</div>
              <div class="table-cell">Refund qty</div>
              <div class="table-cell">Discard qty</div>
              <div class="table-cell"></div>
            </div>
            <div class="table-row"
            v-for="(product, index) in stock.products"
            :key="index">
              <div class="table-cell">{{ product.name }}</div>
              <div class="table-cell">{{ product.quantity }}</div>
              <div class="table-cell">{{ product.price }}</div>
              <div class="table-cell">{{ product.quantity * product.price }}</div>
              <div class="table-cell">
                <input class="input stnd-font" v-model="stock.products[index].refundQty"
                  type="number">
              </div>
              <div class="table-cell">
                <input class="input stnd-font" v-model="stock.products[index].discardQty"
                  type="number">
              </div>
              <div class="table-cell">
                <i class="icons icon-trash" @click="removeProductRow(index)"></i>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex';

export default {
  data() {
    return {
      refundQty: '',
      discardQty: '',
    };
  },
  computed: {
    ...mapGetters({
      stocks: 'getRefundStocks',
      stock: 'getRefundStock',
    }),
  },
  methods: {
    ...mapMutations({
      stockActive: 'setStockRefundActive',
      removeProductRow: 'deleteRowfromStockRefundProduct',
    }),
  },
};
</script>

<style lang="scss" scoped>
.refund-stock-container {
  margin: 0.7rem;
  display: grid;
  grid-template-columns: 1fr 0.7rem 2fr;

  .left {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto 1fr;

    .table {
      width: 100%;

      &-row {
        border-bottom: .1rem solid rgb(242, 242, 242);
        }

      &-cell {
        .id {
          font-size: 2rem;
          font-weight: 500;
          color: #23527c;
        }

        .total {
          font-size: 1.7rem;
        }
      }
    }

    .input-container {
      grid-row: 1;
      height: 7rem;
      width: 93%;

      .input {
        margin: 1rem;
        margin: {
          left: 4%;
          }
      }
    }
    .stock-id {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 15rem);
    }
  }

  .right {
    grid-column: 3;
    .input {
      height: 3rem;
    }
    .header {
      border-bottom: .5rem solid #eee;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: .7rem;
      .title {
        height: 5rem;
        font-size: 2rem;
        background: white;
        padding: 1.5rem;
        color: rgba(20, 20, 20, 0.952);
        i {
          font-weight: 600;
          padding: {
            right: .5rem;
          }
        }
        span {
          font-size: 2.3rem;
        }
      }
      .btn-group {
        margin: {
          top: 0.5rem;
        }
        .btn {
          height: 4rem;
          line-height: 3.8rem;
          font-size: 1.6rem;
        }
        i {
          margin: {
            right: 1rem;
          }
          vertical-align: middle;
          font: {
            weight: 700;
          }
        }
      }
    }
    .list {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(100vh - 13rem);
      .table {
        &-row {
          .table-cell {
            font-size: 1.6rem;
            font-weight: 500;
            .refund-discard {
              width: 20rem;
              margin-right: 1rem;
              min-width: 12rem;
              display: grid;
              grid-template-columns: auto auto auto;


              span {
                padding-top: 0.5rem;
                padding-left: 1rem;
                color: #88a;
              }

              span:last-child {
                padding-left: .5rem;
              }

              .switch {
                grid-column: 2;
                margin : {
                  left: 1.6rem;
                }
              }
            }
            .icons {
              font-size: 2.5rem;
              font-weight: 500;
              color: #e53935;
            }
          }
          .table-cell:nth-child(5) {
            text-align: center;
          }
          .table-cell:nth-child(6) {
            text-align: center;
          }
        }
        &-header {
          .table-cell {
            font-size: 1.6rem;
            font-weight: 500;
            border: {
              bottom: .3rem solid #eee;
            }
          }
          .table-cell:nth-child(5) {
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
