<template>
  <div class="mainbar stnd-font white p-10 height-60"
  v-shortkey="{quick: ['alt', 'q'], logout: ['alt', 'l'],
  shutdown: ['alt', 's'], profile: ['alt', 'p']}"
  @shortkey="keyEvents">
    <a
    class="btn width-180 btn-gradient-red grid-col-1"
    @click="quickOrder()">
      <span class="fs-21 pr-10 fw-700"><i class="icons icon-plus va-middle fw-700 mr-1"></i></span>
      Quick Order
    </a>
    <a
    class="btn width-180 btn-gradient-green grid-col-3 fw-500">
      <i class="icons icon-cloud-download va-middle fw-700 mr-1 fs-20"></i>
      Update</a>
    <div class="user grey width-40"
    @click="clickUser">
      <img src="static/img/user/user.svg">
      <div class="dropdown width-200 white"
      v-if="clicked">
        <div class="list">
          <div class="profile fs-16 p-10"
          @click="profile">
            <div class="pt-1">
              Profile
            </div>
            <div class="icon">
              <i class="fs-17 fw-600 grey-text
              pl-7 icons-1 icon-user"></i>
            </div>
          </div>
          <div class="logout fs-16 p-10"
          @click="logout">
            <div class="pt-1">
              Log Out
            </div>
            <div class="icon">
              <i class="fs-17 fw-600 grey-text
              pl-7 icons-2 icon-logout"></i>
            </div>
          </div>
          <div class="shutdown fs-16 p-10"
          @click="shutdown">
            <div class="pt-1">
              Shut Down
            </div>
            <div class="icon">
              <i class="fs-17 fw-600 grey-text
              pl-7 icons-3 icon-power"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapMutations,
  mapActions,
} from 'vuex';

export default {
  methods: {
    ...mapMutations({
      quickOrder: 'setPageToQuickOrder',
      logout: 'logoutFromMainbar',
      profile: 'profileFromMainbar',
    }),
    ...mapActions({
      shutdown: 'shutdown',
    }),
    keyEvents({ srcKey }) {
      if (srcKey === 'quick') {
        this.quickOrder();
      } else if (srcKey === 'logout') {
        this.logout();
      } else if (srcKey === 'profile') {
        this.profile();
      }
    },
    clickUser() {
      this.clicked = !this.clicked;
    },
  },
  data() {
    return {
      clicked: false,
    };
  },
};
</script>

<style lang="scss" scoped>
.mainbar {
  display: grid;
  grid-template-columns: auto 1fr auto 2rem auto 2rem;
  .user {
    grid-column: 5;
    border: {
      radius: 100rem;
    }
    .dropdown {
      position: absolute;
      border-radius: .5rem;
      box-shadow: 0 0 4rem rgba(0, 0, 0, .15);
      left: calc(100vw - 24rem);
      top: 5.5rem;
      z-index: 10000;
      .profile, .logout, .shutdown {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 10px;
        height: 3.6rem;
        &:hover {
          background: #eef;
        }
      }
    }
  }
}
</style>
