<template>
  <div class="chart-container stnd-font scroll-bar">
    <div class="chart portlet">
      <highcharts :options="options.first"></highcharts>
    </div>
    <div class="chart portlet">
      <highcharts :options="options.second"></highcharts>
    </div>
    <div class="chart portlet">
      <highcharts :options="options.fourth"></highcharts>
    </div>
    <div class="chart portlet">
      <highcharts :options="options.third"></highcharts>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      options: {
        first: {
          // chart: {
          //   height: 200,
          // },
          title: {
            text: 'Orders (Month)',
          },
          rangeSelector: {
            inputEnabled: false,
            selected: 0,
            enabled: false,
          },

          // exporting: {
          //     enabled: false
          // },
          colors: [
            '#fb8c00',
          ],
          navigator: {
            enabled: false,
          },
          scrollbar: {
            enabled: false,
          },
          credits: {
            enabled: false,
          },
          plotOptions: {
            areaspline: {
              fillOpacity: 0.5,
            },
          },
          yAxis: {
            visible: false,
          },
          xAxis: {
            visible: false,
          },
          series: [
            {
              name: 'Order',
              type: 'areaspline',
              data: (function dataGenerator() {
              // generate an array of random data
                const data = [];
                const time = (new Date()).getTime();

                for (let i = -19; i <= 0; i += 1) {
                  data.push([
                    time + (i * 1000),
                    Math.abs(Math.round(40 + ((Math.random() * 20) + (3 * i)))),
                  ]);
                }
                return data;
              }()),
            },
          ],
        },
        second: {
          // chart: {
          //   height: 200,
          // },
          title: {
            text: 'Profit (Month)',
          },
          rangeSelector: {
            inputEnabled: false,
            selected: 0,
            enabled: false,
          },

          // exporting: {
          //     enabled: false
          // },
          // colors: [
          //   '#fb8c00',
          // ],
          navigator: {
            enabled: false,
          },
          scrollbar: {
            enabled: false,
          },
          credits: {
            enabled: false,
          },
          plotOptions: {
            areaspline: {
              fillOpacity: 0.5,
            },
          },
          yAxis: {
            visible: false,
          },
          xAxis: {
            visible: false,
          },
          series: [
            {
              name: 'Profit',
              type: 'areaspline',
              data: (function dataGenerator() {
                // generate an array of random data
                const data = [];
                const time = (new Date()).getTime();

                for (let i = -19; i <= 0; i += 1) {
                  data.push([
                    time + (i * 1000),
                    Math.abs(Math.round(40 + ((Math.random() * 20) + (3 * i)))),
                  ]);
                }
                return data;
              }()),
            },
          ],
        },
        third: {
          chart: {
            type: 'pie',
            options3d: {
              enabled: true,
              alpha: 45,
              beta: 10,
            },
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              innerSize: 100,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                enabled: true,
                format: '{point.name}',
              },
            },
          },
          credits: {
            enabled: false,
          },
          title: {
            text: 'Medicine Profit Share',
          },
          series: [
            {
              type: 'pie',
              name: 'Medicine Profit Share',
              data: [
                ['Metrozyl', 45.0],
                ['Rantac IP Tablet', 20.8],
                {
                  name: 'Ractac Tablet',
                  y: 12.8,
                  sliced: true,
                  selected: true,
                },
                ['Moxifixicilin', 8.5],
                ['Sefadrox Eye Drop', 6.2],
                ['Calpole Tablet', 6.7],
              ],
            },
          ],
        },
        fourth: {
          credits: {
            enabled: false,
          },
          chart: {
            zoomType: 'xy',
          },
          title: {
            text: '',
          },
          xAxis: [{
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
            crosshair: true,
          }],
          yAxis: [{ // Primary yAxis
            labels: {
            },
            title: {
              text: 'Total Sell (₹)',
            },
          }, { // Secondary yAxis
            title: {
              text: 'Total Profit (₹)',
            },
            labels: {
            },
            opposite: true,
          }],
          tooltip: {
            shared: true,
          },
          legend: {
            layout: 'vertical',
            align: 'center',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: '#FFFFFF',
          },
          series: [{
            name: 'Sell',
            type: 'column',
            yAxis: 0,
            data: [3990000, 4500000, 5640000, 3752000, 4400000, 3760000, 4006000],
            tooltip: {
              valuePrefix: '₹ ',
            },

          }, {
            name: 'Profit',
            type: 'column',
            yAxis: 1,
            data: [70000, 69000, 95000, 87000, 82000, 51000, 39000],
            tooltip: {
              valuePrefix: '₹ ',
            },
          }],
        },
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.chart-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 8rem);
  margin: .7rem;
  display: grid;
  grid-gap: .7rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
</style>
