<template lang="pug">
  .image-capture.position-absolute
    video.full-width(
      ref="video" autoplay
      :class="{'d-none': pic, 'hide': pic}"
    )
    img.full-width.full-height(
      ref="image" src=""
      :class="{'d-none': !pic, 'hide': !pic}"
    )
    .controllers
      i.icons.icon-action-undo.fs-40.white-text.mr-20(
        @click.prevent="skip()"
        :class="{'d-none': pic, 'hide': pic}"
      )
      i.icons.icon-camera.fs-40.white-text(
        @click.prevent="capture()"
        :class="{'d-none': pic, 'hide': pic}"
      )
      i.icons.icon-close.fs-40.white-text(
        @click.prevent="reset()"
        :class="{'d-none': !pic, 'hide': !pic}"
      )
      i.icons.icon-check.fs-40.white-text.ml-20(
        :class="{'d-none': !pic, 'hide': !pic}"
        @click.prevent="done()"
      )
    canvas.d-none.hide(
      ref="canvas"
    )
</template>

<script>
export default {
  mounted() {
    navigator.mediaDevices.enumerateDevices().then((devices) => {
      const videoDevices = devices.filter(v => (v.kind === 'videoinput'));

      const lastDevice = videoDevices[videoDevices.length - 1];
      const backVideodevices = videoDevices.filter(v => (v.label.indexOf('back') > 0));

      let device = null;
      if (backVideodevices.length > 0) {
        device = backVideodevices[backVideodevices.length - 1];
      } else {
        device = lastDevice;
      }

      if (!device) {
        // eslint-disable-next-line
        console.log('No devices!');
        return;
      }

      const constraints = {
        audio: false,
        video: {
          deviceId: { ideal: device.deviceId },
          width: { ideal: window.innerWidth },
          height: { ideal: window.innerHeight },
        },
      };

      navigator.mediaDevices.getUserMedia(constraints)
        .then((stream) => {
          if (!this.$refs.video.srcObject) {
            this.$refs.video.src = URL.createObjectURL(stream);
          } else {
            this.$refs.video.srcObject = stream;
          }
        })
        .catch((err) => {
          // eslint-disable-next-line
          console.log(`${err.name}: ${err.message}`);
        });
    })
      .catch((err) => {
        // eslint-disable-next-line
        console.log(`${err.name}: ${err.message}`);
      });
  },
  data() {
    return {
      pic: null,
    };
  },
  methods: {
    capture() {
      this.pic = this.snap();
      this.$refs.image.setAttribute('src', this.pic);
    },
    snap() {
      const hiddenCanvas = this.$refs.canvas;

      const context = hiddenCanvas.getContext('2d');
      const width = this.$refs.video.videoWidth;
      const height = this.$refs.video.videoHeight;

      if (width && height) {
        hiddenCanvas.width = width;
        hiddenCanvas.height = height;

        context.drawImage(this.$refs.video, 0, 0, width, height);
        return hiddenCanvas.toDataURL('image/jpeg');
      }
      return null;
    },
    reset() {
      this.pic = null;
    },
    done() {
      this.$emit('image-capture', this.pic);
    },
    skip() {
      this.$emit('skip-capture');
    },
  },
};
</script>

<style lang="sass" scoped>
  .image-capture
    .controllers
      position: absolute
      left: 50%
      transform: translate(-50%, -60px)

      i:focus
        transform: scale(1.1)

</style>
