<template>
  <div>
    <div
    class="wrapper"
    @click="globalClick"
    v-if="isLoggedIn">
      <Sidebar></Sidebar>
      <div
      class="main">
        <Mainbar>
        </Mainbar>
        <component :is="getPage">
        </component>
      </div>
    </div>
    <div
    v-else>
      <component :is="'Login'"></component>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

import QuickOrder from './QuickOrder';
import Login from './Login';
import User from './User';
import Notification from './Notification';
import Settings from './Settings';
// import Administrator from './Administrator';
import Sidebar from './Sidebar';
import Mainbar from './Mainbar';
import Dashboard from './Dashboard';
import Orders from './Orders';
import Products from './Products';
import Stocks from './Stocks';
import Accounts from './Accounts';
import Reports from './Reports';
// import Analytics from './Analytics';

export default {
  name: 'App',
  computed: {
    ...mapGetters([
      'getPage',
      'isLoggedIn',
      'getPopup',
    ]),
  },
  methods: {
    ...mapMutations(['globalClick']),
  },
  components: {
    QuickOrder,
    Login,
    User,
    Notification,
    Settings,
    // Administrator,
    Sidebar,
    Mainbar,
    Dashboard,
    Orders,
    Products,
    Stocks,
    Accounts,
    Reports,
    // Analytics,
  },
  watch: {
    getPopup() {
      if (this.getPopup) {
        this.$notify({
          title: this.getPopup.title,
          text: this.getPopup.text,
          group: 'all',
          type: this.getPopup.type,
        });
      }
    },
  },
};
</script>

<style lang="scss">
</style>
