<template>
  <progress-bar class="semicircle" ref="semicircle" type="path"
  :options="options">
    <svg slot="svg"
    version="1.1" x="0px" y="0px" viewBox="0 0 200 100">
      <path fill-opacity="0" stroke-width="2" stroke="#bbb"
      d="M 10 100 A 50 50 0 1 1 190 100"/>
      <path id="heart-path" fill-opacity="0" stroke-width="6"
      stroke="#4272D7" d="M 10 100 A 50 50 0 1 1 190 100"/>
    </svg>
  </progress-bar>
</template>

<script>
export default {
  props: ['percentage'],
  data() {
    return {
      options: {
        easing: 'bounce',
      },
    };
  },
  mounted() {
    const self = this;
    setTimeout(() => {
      self.$refs.semicircle.animate(this.percentage);
    }, 0);
  },
};
</script>
