<template>
  <component
  :is="(getSidebarType) ? 'sidebarSmall' : 'sidebarBig'">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';
import SidebarBig from './SidebarBig';
import SidebarSmall from './SidebarSmall';

export default {
  computed: {
    ...mapGetters([
      'getSidebarType',
    ]),
  },
  components: {
    SidebarBig,
    SidebarSmall,
  },
};
</script>

<style lang="scss" scoped>
</style>

