<template>
   <div class="sidebar-small">
    <div
    class="toggle"
    @click="sidebarChange">
      <img src="static/img/sidebar/right.svg">
    </div>
    <div
    class="sidebar-item"
    v-for="(page, index) in getSidebarPages"
    :key="index"
    v-shortkey="['alt', `${index+1}`]"
    @shortkey="sidebarPageChange(page.index)"
    @click="sidebarPageChange(page.index)">
      <div class="page"
      :class="(getSidebarPageActive === page.index)?'active':''">
        <div class="circle">
          <img :src="`static/img/sidebar/small/${page.icon}.svg`">
        </div>
        <!--  -->
      </div>
      <div class="subpage-container"
      v-if="getSidebarPageActive === page.index">
        <div class="subpage"
        v-for="(subPage, subIndex) in page.subPages"
        v-shortkey="['ctrl', 'alt', `${subIndex+1}`]"
        @shortkey="sidebarSubPageChange(subPage.index)"
        @click="sidebarSubPageChange(subPage.index)"
        :class="(getSidebarSubPageActive === subPage.index)?'active':''"
        :key="subIndex">
          <div class="circle">
            <img :src="`static/img/sidebar/small/${subPage.icon}.svg`">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapGetters([
      'getSidebarPages',
      'getSidebarPageActive',
      'getSidebarSubPageActive',
    ]),
  },
  methods: {
    ...mapMutations([
      'sidebarChange',
      'sidebarPageChange',
      'sidebarSubPageChange',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.sidebar-small {
  background: #0a27cc;
  width: 6rem;

   div {
    font-size: 1.5rem;

    &.toggle {
      height: 6rem;
      padding: 20%;
    }

    &.sidebar-item {
      .page {
        height: 6rem;
        padding: 15%;
        &:hover {
          padding: 10%;
          background: rgba(150, 200, 255, 0.2);
        }
        &.active {
          padding: 5%;
          background: rgba(12, 37, 21, 0.2);
        }
      }
      .subpage {
        height: 4rem;
        padding: {
          left: calc(15% + 1rem);
          right: calc(15% + 1rem);
          top: 15%;
        }
        &:hover {
          background: rgba(150, 200, 255, 0.2);
          padding: {
            left: calc(10% + 1rem);
            right: calc(10% + 1rem);
            top: 10%;
          }
        }
        &.active {
          padding: {
            left: calc(5% + 1rem);
            right: calc(5% + 1rem);
            top: 5%;
          }
          background: rgba(12, 37, 21, 0.2);
        }
      }
    }
   }
}
</style>
