<template>
  <div class="sidebar-big stnd-font">
    <div
    class="toggle"
    @click="sidebarChange">
      <img src="static/img/sidebar/left.svg">
    </div>
    <div
    class="sidebar-item"
    v-for="(page, index) in getSidebarPages"
    :key="index"
    v-shortkey="['alt', `${index+1}`]"
    @shortkey="sidebarPageChange(page.index)"
    @click="sidebarPageChange(page.index)">
      <div class="page"
      :class="(getSidebarPageActive === page.index)?'active':''">
        <div class="icon-container">
          <img :src="`static/img/sidebar/big/${page.icon}.svg`">
        </div>
        <div class="text">
          {{ page.name }}
        </div>
        <div
        :class="(getSidebarPageActive === page.index)?'active':''"></div>
      </div>
      <div class="subpage-container"
      v-if="getSidebarPageActive === page.index">
      <div class="subpage"
        v-for="(subPage, subIndex) in page.subPages"
        v-shortkey="['ctrl', 'alt', `${subIndex+1}`]"
        @shortkey="sidebarSubPageChange(subPage.index)"
        @click.stop="sidebarSubPageChange(subPage.index)"
        :class="(getSidebarSubPageActive === subPage.index)?'active':''"
        :key="subIndex">
          <div class="icon-container">
            <img :src="`static/img/sidebar/big/${subPage.icon}.svg`">
          </div>
          <div class="text">
            {{ subPage.name }}
          </div>
          <div
          :class="(getSidebarSubPageActive === subPage.index)?'active':''"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  computed: {
    ...mapGetters([
      'getSidebarPages',
      'getSidebarPageActive',
      'getSidebarSubPageActive',
    ]),
  },
  methods: {
    ...mapMutations([
      'sidebarChange',
      'sidebarPageChange',
      'sidebarSubPageChange',
    ]),
  },
};
</script>

<style lang="scss" scoped>
.sidebar-big {
  width: 25rem;
  background: linear-gradient(90deg, white 24%, #0a27cc 24%);
  div {
    &.toggle {
      height: 6rem;
      margin-left: 6rem;
      img {
        height: 4rem;
        width: 4rem;
        float: right;
        margin: {
          top: 1rem;
          right: 1rem;
        }
      }
    }

    &.sidebar-item {
      .page {
        display: grid;
        grid-template-columns: 6rem 1fr 3rem;
        height: 6rem;
        .icon-container {
          padding: 20%;
          &:hover {
            padding: 15%;
          }
        }
        .text {
          font: {
            size: 1.7rem;
          }
          color: white;
          padding: {
            top: 2rem;
            left: 2rem;
          }
        }
        &:hover {
          background: rgba(150, 200, 255, 0.2);
          .text {
            font: {
              size: 1.8rem;
            }
          }
        }
        &.active {
          background: rgba(12, 37, 21, 0.1);
          .icon-container {
            padding: 10%;
          }
          .text {
            font: {
              size: 1.8rem;
            }
          }
          .active {
            clip-path: polygon(100% 0%, 100% 49%, 100% 100%, 76% 100%, 0% 50%, 76% 0);
            background: #eeeef2;
            margin: 1rem 0;
          }
        }
      }
      .subpage {
        height: 4rem;
        display: grid;
        grid-template-columns: 6rem 1fr 3rem;
        grid-gap: 1rem;
        .icon-container {
          padding: {
            left: calc(20% + 1rem);
            right: calc(20% + 1rem);
            top: 20%;
          }
          &:hover {
            padding: {
              left: calc(15% + 1rem);
              right: calc(15% + 1rem);
              top: 15%;
            }
          }
        }
        .text {
          font: {
            size: 1.5rem;
          }
          color: white;
          padding: {
            top: 1rem;
            left: 2rem;
          }
        }
        &:hover {
          background: rgba(150, 200, 255, 0.2);
          .text {
            font: {
              size: 1.6rem;
            }
          }
        }
        &.active {
          background: rgba(12, 37, 21, 0.2);
          .icon-container {
            padding: {
              left: calc(13% + 1rem);
              right: calc(13% + 1rem);
              top: 13%;
            }
          }
          .text {
            font: {
              size: 1.6rem;
            }
          }
          .active {
            clip-path: circle(16% at 50% 50%);
            background: white;
          }
        }
      }
    }
  }

}
</style>
