<template>
  <div class="chart-container stnd-font">
    <div class="chart portlet">
      <highcharts :options="options.first"></highcharts>
    </div>
    <div class="chart portlet">
      <highcharts :options="options.second"></highcharts>
    </div>
  </div>
</template>

<script>
export default {
  props: ['chartData'],
  computed: {
    options() {
      return {
        first: {
          chart: {
            type: 'pie',
            options3d: {
              enabled: true,
              alpha: 45,
              beta: 10,
            },
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>',
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              innerSize: 100,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                enabled: true,
                format: '{point.name}',
              },
            },
          },
          credits: {
            enabled: false,
          },
          title: {
            text: 'Medicine Profit Share',
          },
          series: [
            {
              type: 'pie',
              name: 'Medicine Profit Share',
              data: this.pie,
            },
          ],
        },
        second: {
          credits: {
            enabled: false,
          },
          chart: {
            zoomType: 'xy',
          },
          title: {
            text: '',
          },
          xAxis: [{
            categories: this.weekDays,
            crosshair: true,
          }],
          yAxis: [{ // Primary yAxis
            labels: {
            },
            title: {
              text: 'Total Sell (₹)',
            },
          }, { // Secondary yAxis
            title: {
              text: 'Total Profit (₹)',
            },
            labels: {
            },
            opposite: true,
          }],
          tooltip: {
            shared: true,
          },
          legend: {
            layout: 'vertical',
            align: 'center',
            x: 120,
            verticalAlign: 'top',
            y: 100,
            floating: true,
            backgroundColor: '#FFFFFF',
          },
          series: [{
            name: 'Sell',
            type: 'column',
            yAxis: 0,
            data: this.revenue,
            tooltip: {
              valuePrefix: '₹ ',
            },
          }, {
            name: 'Profit',
            type: 'column',
            yAxis: 1,
            data: this.profit,
            tooltip: {
              valuePrefix: '₹ ',
            },
          }],
        },
      };
    },
    weekDays() {
      if (this.chartData) {
        return this.chartData.bar.date;
      }
      return ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    },
    revenue() {
      if (this.chartData) {
        return this.chartData.bar.revenue;
      }
      return Array(7).fill(0);
    },
    profit() {
      if (this.chartData) {
        return this.chartData.bar.profit;
      }
      return Array(7).fill(0);
    },
    pie() {
      if (this.chartData) {
        return this.chartData.pie;
      }
      return [];
    },
  },
};
</script>

<style lang="scss" scoped>
.chart-container {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-gap: .7rem;
  grid-template-columns: repeat(2, 1fr);
}
</style>
