<template>
  <div class="dashboard">
    <Meter :meterData="meterData" v-if="meterData"></Meter>
    <Chart :chartData="chartData" v-if="chartData"></Chart>
    <Stock></Stock>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import Meter from './Meter';
import Stock from './Stock';
import Chart from './Chart';

export default {
  components: {
    Meter,
    Stock,
    Chart,
  },
  computed: {
    ...mapGetters({
      meterData: 'getMeterData',
      chartData: 'getChartData',
    }),
  },
};
</script>

<style lang="scss" scoped>
.dashboard {
  margin: .7rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: .7rem;
}
</style>
