<template>
<div class="meter-container stnd-font" v-if="meterData">
  <div v-for="(meter, index) in meters" :key="index"
  class="meter portlet">
  <template v-if="meterData[meter.property]">
    <div class="top">
      <div class="left">
        <span class="symbol">
        {{ meter.symbol }}</span>
        <div class="title">{{ meter.property | capitalize }}</div>
        <span class="value"
        :class="whichColor(index)">
        {{ meterData[meter.property].val }}</span>
      </div>
      <div class="right">
        <div class="symbol"
        :class="whichIconAndColor(meterData[meter.property].change)[1]">
          <i class="icons"
          :class="`icon-${whichIconAndColor(meterData[meter.property].change)[0]}`">
          </i>
        </div>
        <div class="title">Change</div>
        <span class="value"
        :class="whichIconAndColor(meterData[meter.property].change)[1]">
        {{ meterData[meter.property].change }}%</span>
      </div>
    </div>
    <div class="middle">
      <component :is="`Meter${meter.title}`"
      :percentage="meterData[meter.property].percentage"></component>
    </div>
    <div class="bottom">
      <div class="left">
        <span class="symbol">
        {{ meter.symbol }}</span>
        <div class="title">Target</div>
        <span class="value"
        :class="whichColor(index)">
        {{ meterData[meter.property].target }}</span>
      </div>
      <div class="right">
        <span class="symbol">
        {{ meter.symbol }}</span>
        <div class="title">Projection</div>
        <span class="value"
        :class="whichColor(index)">
        {{ parseInt(meterData[meter.property].projection) }}</span>
      </div>
    </div>
  </template>
  </div>
</div>
</template>

<script>
import MeterProfit from './Meters/Profit';
import MeterRevenue from './Meters/Revenue';
import MeterOrder from './Meters/Order';

export default {
  props: ['meterData'],
  data() {
    return {
      meters: [
        {
          property: 'profit',
          title: 'Profit',
          symbol: '₹',
        },
        {
          property: 'revenue',
          title: 'Revenue',
          symbol: '₹',
        },
        {
          property: 'order',
          title: 'Order',
          symbol: '',
        },
      ],
    };
  },
  methods: {
    whichIconAndColor(change) {
      if (change < 0) {
        return ['arrow-down-circle', 'red-font'];
      } else if (change === 0) {
        return ['arrow-right-circle', 'blue-font'];
      }
      return ['arrow-up-circle', 'green-font'];
    },
    whichColor(index) {
      return ['blue-font', 'red-font', 'green-font'][index];
    },
  },
  components: {
    MeterProfit,
    MeterRevenue,
    MeterOrder,
  },
  filters: {
    capitalize(val) {
      return val.charAt(0).toUpperCase() + val.slice(1);
    },
  },
};
</script>

<style lang="scss" scoped>
.meter-container {
  grid-row: 1;
  grid-column: 1;
  height: 26rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
  .red-font {
    color: #ef5350;
  }
  .green-font {
    color: #43a047;
  }
  .blue-font {
    color: #1565c0;
  }
  .meter {
    .title {
      text-transform: uppercase;
    }
    font-size: 1.5rem;
    font-weight: 700;
    color: #aaa;
    .left, .right {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
    }
    .symbol {
      grid-row: 1/3;
      font: {
        size: 3rem;
        weight: 100;
      }
      padding: {
        right: 1rem;
      }
    }
    .value {
      font: {
        size: 2rem;
      }
      text-align: center;
    }
    .top {
      display: grid;
      grid-template-columns: auto 1fr auto;
      .left {
        grid-column: 1;
        padding: {
          left: .5rem;
          top: 0.5rem;
        }
      }
      .right {
        grid-column: 3;
        padding: {
          right: 0.5rem;
          top: 0.5rem;
        }
      }
    }
    .middle {
      width: 100%;
    }
    .bottom {
      margin: {
        top: 2.5rem;
      }
      display: grid;
      grid-template-columns: auto 1fr auto;
      .left {
        grid-column: 1;
        padding: {
          left: 0.5rem;
          bottom: 0.5rem;
        }
      }
      .right {
        grid-column: 3;
        padding: {
          right: 0.5rem;
          bottom: 0.5rem;
        }
      }
    }
  }
}
</style>
