<template>
<div class="stock-cointainer portlet stnd-font grid-col-2 grid-row-1-3">
  <input class="input stnd-font"
  v-model="search"
  v-focus
  @keyup="searchStock(search)">
  <div class="stock scroll-bar scroll-y">
    <div class="table full-width">
      <template
      v-if="stockOverview">
      <div
      class="table-row"
      v-for="(product, index) in products"
      :key="index">
      <div class="table-cell fw-500">{{product.name}}</div>
      <div class="table-cell">
      <div class="bubble pv-5 ph-10 blue accent-4 ta-center white-text fw-600">
      {{product.quantity}}</div></div>
      </div>
      </template>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      search: '',
      products: [],
    };
  },
  async created() {
    await this.loadStockOverview();
    this.products = this.stockOverview.total.products;
    const reload = () => setTimeout(async () => {
      await this.loadStockOverview();
      this.products = this.stockOverview.total.products;
      await reload();
    }, 2000);
    await reload();
  },
  methods: {
    ...mapActions([
      'loadStockOverview',
    ]),
    searchStock(search) {
      this.products = this.stockOverview.total.products
        .filter(product => (new RegExp(search.split(' ').join('.*'), 'i'))
          .test(product.name));
    },
  },
  computed: {
    ...mapGetters({
      stockOverview: 'getStockOverview',
    }),
  },
};
</script>

<style lang="scss" scoped>
.stock-cointainer {
  .stock {
    height: calc(100vh - 12.5rem);
  }
}
</style>

