<template>
  <component
  :is="getStockHistorySubPage">
  </component>
</template>

<script>
import { mapGetters } from 'vuex';

import Details from './Details';
import Search from './Search';

export default {
  components: {
    Search,
    Details,
  },
  computed: {
    ...mapGetters([
      'getStockHistorySubPage',
    ]),
  },
};
</script>

<style lang="scss">
</style>
