<template>
  <div class="stock-history-container portlet stnd-font scroll-bar scroll-y m-7"
  v-shortkey="{up: ['arrowup'], down: ['arrowdown'], right: ['arrowright']}"
  @shortkey="keyEvents">
    <div v-infinite-scroll="loadMore"
    infinite-scroll-disabled="busy" infinite-scroll-distance="10">
      <div class="table table-raised table-stripe-pink table-hover m-10">
        <div class="table-header indigo accent-4"
        @keyup.enter="search">
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font" type="text"
            placeholder="Stock #" v-model="searchParameters.stockId">
          </div>
          <div class="table-cell pv-10 ph-5" id="price-grid">
            <input class="input1 input" type="text"
            placeholder="Min ₹" v-model="searchParameters.minPrice">
            <input class="input2 input" type="text"
            placeholder="Max ₹" v-model="searchParameters.maxPrice">
          </div>
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font"
            placeholder="Distributor" v-model="searchParameters.distributor">
          </div>
          <div class="table-cell pv-10 ph-5">
            <input class="input stnd-font"
            placeholder="Username" v-model="searchParameters.username">
          </div>
          <div class="table-cell pv-10 ph-5 half-grid">
            <input class="input stnd-font" type="date"
            placeholder="Start Date" v-model="searchParameters.startDate">
            <input class="input stnd-font" type="date"
            placeholder="End Date" v-model="searchParameters.endDate">
          </div>
        </div>
        <div class="table-row"
        v-for="(stock, index) in stocks"
        @click="loadStockDetails(stock._id)"
        :class="(stockIndex === index) ? 'selected': ''"
        :key="index">
            <div class="table-cell fs-18 fw-500"># {{ stock.num }}</div>
            <div class="table-cell fs-18 fw-700 ta-center">
              ₹ {{ (stock.total / 100).toFixed(2) }}</div>
            <div class="table-cell fs-18 fw-700 ta-center" >
              <template v-if="stock.person">{{ stock.person.name }}</template>
            </div>
            <div class="table-cell fs-18 fw-500 ta-center">
              {{ stock.username }}</div>
            <div class="table-cell fs-18 fw-500 ta-center">
              {{ (new Date(stock.createdAt)).toDateString() }}</div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  async mounted() {
    this.loadStockHistory({ limit: 20 });
  },
  data() {
    return {
      searchParameters: {
        stockId: null,
        minPrice: null,
        maxPrice: null,
        distributor: null,
        username: null,
        startDate: null,
        endDate: null,
      },
      busy: false,
      limit: 20,
      change: 10,
      stockIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      stocks: 'getStockHistory',
    }),
  },
  methods: {
    ...mapActions(['loadStockDetails', 'loadStockHistory']),
    async loadMore() {
      const initialStockLength = this.stocks.length;
      if (this.change >= 10) {
        this.limit += 10;
        this.busy = true;
        await this.loadStockHistory({ ...this.searchParameters, limit: this.limit });
        this.busy = false;
      }
      const finalStockLength = this.stocks.length;
      this.change = finalStockLength - initialStockLength;
    },
    keyEvents({ srcKey }) {
      this.stockArrow(srcKey);
      return 0;
    },
    stockArrow(srcKey) {
      if (srcKey === 'up' && this.stockIndex > 0) {
        this.stockIndex -= 1;
      }
      if (srcKey === 'down' && this.stockIndex < this.stocks.length) {
        if (this.stockIndex === this.stocks.length - 1) {
          this.stockIndex = this.stockIndex;
        } else {
          this.stockIndex += 1;
        }
      }
      if (srcKey === 'right') {
        this.loadStockDetails(this.stocks[this.stockIndex]._id);
      }
    },
    search() {
      this.limit = 20;
      this.change = 10;
      this.loadStockHistory({ ...this.searchParameters, limit: this.limit });
    },
  },
};
</script>

<style lang="scss" scoped>
.stock-history-container {
  height: calc(100vh - 8rem);
  width: calc(100% - 1.4rem);
  .table {
    width: calc(100% - 2rem);
    .table-header {
      .half-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
      }
    }
    .table-row {
      &.selected .table-cell {
        background: #ebebeb;
      }
    }
  }
  #price-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
</style>
