<template>
  <div class="admin-container stnd-font portlet">
    <div class="page-header">
      <div class="title">
        <i class="icon-organization"></i>
        <span>Administrator</span>
      </div>
    </div>
    <div class="user-list scroll-bar">
      <div class="user">
        <div class="header">
          <div class="username">
            <div class="title">Username</div>
            <div class="value">Srijita</div>
          </div>
          <div class="profit">
            <div class="title">Profit Today (₹)</div>
            <div class="value">200</div>
          </div>
          <div class="revenue">
            <div class="title">Revenue Today (₹)</div>
            <div class="value">600</div>
          </div>
          <div class="order">
            <div class="title">Order Today</div>
            <div class="value">125</div>
          </div>
          <div class="button-group">
            <a class="disable btn btn-gradient-red"
            @click="changeButton" v-if="change">
            Disable User</a>
            <a class="disable btn btn-gradient-green"
            @click="changeButton" v-if="!change">
            Enable User</a>
            <a class="delete btn btn-gradient-blue">Delete User</a>
          </div>
        </div>
        <div class="middle">
          <div class="left">
            <div class="top">
              <div class="due-today">
                <div class="title">Due Today (₹)</div>
                <div class="value">600</div>
              </div>
              <div class="total-due">
                <div class="title">
                  Total Due (₹)
                </div>
                <div class="value">
                  500
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="payment">
                <div class="title">
                  Payment
                </div>
                <input class="input stnd-font" placeholder="Payment Amount">
                <div class="button-receive">
                  <a class="btn btn-gradient-blue">Receive</a>
                </div>
              </div>
              <div class="salary">
                <div class="title">
                  Salary
                </div>
                <input class="input stnd-font" placeholder="Salary Amount">
                <div class="button-pay">
                  <a class="btn btn-gradient-blue">Pay</a>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="top">
              <div class="total-profit">
                <div class="title">Total Profit (₹)</div>
                <div class="value">2000</div>
              </div>
              <div class="total-revenue">
                <div class="title">Total Revenue (₹)</div>
                <div class="value">4000</div>
              </div>
              <div class="total-orders">
                <div class="title">Total Orders</div>
                <div class="value">34</div>
              </div>
            </div>
            <div class="bottom">
              <div class="table table-header-blue-white">
                <div class="table-header">
                  <div class="table-cell">Payment</div>
                  <div class="table-cell">Date</div>
                </div>
                <div class="table-row">
                  <div class="table-cell">360</div>
                  <div class="table-cell">25/6/19</div>
                </div>
                <div class="table-row">
                  <div class="table-cell">360</div>
                  <div class="table-cell">25/6/19</div>
                </div>
              </div>
              <div class="table table-header-blue-white">
                <div class="table-header">
                  <div class="table-cell">Requests</div>
                  <div class="table-cell">Approve</div>
                </div>
                <div class="table-row">
                  <div class="table-cell">Create Account</div>
                  <div class="table-cell">
                    <a class="btn btn-gradient-green">Approve</a>
                  </div>
                </div>
                <div class="table-row">
                  <div class="table-cell">Generate Password</div>
                  <div class="table-cell">
                    <a class="btn btn-gradient-green">Approve</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      change: true,
    };
  },
  methods: {
    changeButton() {
      this.change = !this.change;
    },
  },
};
</script>

<style lang="scss" scoped>
.admin-container {
  margin: 0.7rem;
  width: calc(100% - 1.4rem);
  height: calc(100vh - 7.4rem);
  .page-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .7rem;
    padding: {
      top: 0.2rem;
    }
    .title {
      font-size: 2.2rem;
      margin: {
        top: 1rem;
      }
      i{
        font-weight: 500;
        margin: {
          right: .3rem;
        }
      }
      span {
        font-weight: 500;
      }
    }
  }
  .user-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 13rem);
    .user {
      box-shadow: 0 0 4rem 0 rgba($color: #000000, $alpha: .15);
      border: .1rem solid #ddd;
      margin: 1rem;
      padding: 1rem;
      .header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
        padding: {
          bottom: 2rem;
        }
        .title {
          font-size: 2rem;
          padding: {
            bottom: .5rem;
          }
        }
        .value {
          font-size: 2.2rem;
          font-weight: 600;
          color: #777;
        }
        .button-group {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 1rem;
          .btn {
            margin: 0rem;
          }
        }
      }
      .middle {
        display: grid;
        grid-template-columns: 1fr 2fr;
        .left {
          .top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: {
              bottom: 2rem;
            }
            .title {
              font-size: 1.8rem;
              padding: {
                bottom: .5rem;
              }
            }
            .value {
              color: #777;
              font-size: 2rem;
              font-weight: 600;
            }
          }
          .bottom {
            .input {
              font-size: 1.6rem;
              height: 3.5rem;
              width: 30rem;
              margin: {
                bottom: .5rem;
              }
            }
            .btn {
              width: 10rem;
              height: 3.5rem;
              line-height: 3.5rem;
            }
            .title {
              font-size: 1.8rem;
            }
            .payment {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-gap: 0.7rem;
              .title {
                grid-column: 1/3;
              }
            }
            .salary {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-gap: 0.7rem;
              .title {
                grid-column: 1/3;
              }
            }
          }
        }
        .right {
          .top {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1rem;
            .title {
              font-size: 1.8rem;
              padding: {
                bottom: .5rem;
              }
            }
            .value {
              color: #777;
              font-size: 2rem;
              font-weight: 600;
              padding: {
                bottom: 1rem;
              }
            }
          }
          .bottom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            .table {
              border: .2rem solid #4272d7;
              .btn {
                height: 2.5rem;
                line-height: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}
</style>
