<template>
  <component
  :is="whichPage"></component>
</template>

<script>
import Administrator from './Administrator';

export default {
  data() {
    return {
      whichPage: 'Administrator',
    };
  },
  components: {
    Administrator,
  },
};
</script>

<style lang="scss" scoped>
</style>
