<template>
  <div class="create-account-container stnd-font scroll-y scroll-bar">
    <div class="hindpos">
      <img class="width-300" src="static/img/logo/logo.png">
    </div>
    <div class="form ph-30 pv-20 grey lighten-3">
      <div class="header">
        <div class="fs-22">
          Create Account
        </div>
        <div class="grid-col-3" @click="openLogInPage">
          <div class="btn btn-gradient-blue width-150">
          <i class="icons icon-arrow-left-circle fs-18 fw-600 mr-7 va-middle"></i>
            Back
          </div>
        </div>
      </div>
      <div class="body">
        <div class="name">
          <div class="fs-18 pt-6 pb-8">Full Name</div>
          <input class="input stnd-font" placeholder="Name" v-model="user.name">
        </div>
        <div class="name">
          <div class="fs-18 pt-6 pb-8">Username</div>
          <input class="input stnd-font" placeholder="Username" v-model="user.username">
        </div>
        <div class="password">
          <div class="fs-18 pt-6 pb-8">
            Password
          </div>
          <input class="input stnd-font" type="password" placeholder="Password"
          v-model="user.password">
          <div class="fs-18 pt-6 pb-8">
            Retype Password
          </div>
          <input class="input stnd-font" type="password" placeholder="Retype Password"
            v-model="retypePassword">
        </div>
        <div class="email">
          <div class="fs-18 pt-6 pb-8">
            Email
          </div>
          <input class="input stnd-font" placeholder="Email" v-model="email">
        </div>
        <div class="phoneNo">
          <div class="fs-18 pt-6 pb-8">
            Phone No
          </div>
          <input class="input stnd-font" placeholder="Phone No" v-model="phone">
        </div>
        <div class="admin">
          <div class="fs-18 pt-6 pb-8 grid-col-1-3">
            Administrator
          </div>
          <div class="toggle">
            <span class="fs-20 pt-5 ta-center">No</span>
            <label class="switch">
              <input type="checkbox" v-model="user.admin">
              <span class="slider round"></span>
            </label>
            <span class="fs-20 pt-5 ta-center">Yes</span>
          </div>
          <template v-if="user.admin">
            <input
            class="input stnd-font grid-col-2" placeholder="Confirm Admin Pass" v-model="pass">
          </template>
        </div>
        <div class="terms">
          <div class="fs-18 pt-6 pb-8 grid-col-1-3">Terms & Conditions</div>
          <div class="toggle">
            <span class="fs-20 pt-5 ta-center">No</span>
            <label class="switch">
              <input type="checkbox" v-model="accept">
              <span class="slider round"></span>
            </label>
            <span class="fs-20 pt-5 ta-center">Yes</span>
          </div>
          <div class="fs-18 pt-10 grid-col-2">
            I accept <a @click="openTerms" class="blue-text">terms and conditons</a>
          </div>
        </div>
        <div class="float-right mt-10">
          <div class="btn btn-gradient-green width-150" @click="register"
            v-if="accept">
            Submit
          </div>
        </div>
      </div>
    </div>
    <div
    class="terms-and-condition position-absolute p-10 grey lighten-3"
      v-if="clicked">
      <div class="fs-18 pt-6 pb-8">Terms and Conditon</div>
      <div
      class="icon ta-right fs-25 fw-800 red-text pt-10 pr-10"><i class="icon-close"
      @click="openTerms"></i></div>
      <div class="scroll-bar scroll-y grid-col-1-3 mt-15 white p-10 fs-13 ta-justify">
        The following License Agreement establishes the terms on which
        Bharat Yantram  grants a license to Company’s applicable
        proprietary application software solely in machine-readable,
        executable, object-code form and related documentation
        (the “Software”) and proprietary system working along
        with it to you the licensee (“You” or “Your company”)
        solely on the condition that You accept all of the terms
        in this License Agreement. By clicking through any
        applicable acceptance screen, or otherwise accessing,
        installing, or using the Software, you are indicating
        your acceptance of this Agreement, and if you do not
        agree to the terms of this Agreement, you may not access,
        install, or use the Software. If You are an employee or
        agent of a company (the “Customer”), You hereby agree that
        You enter into this Agreement on behalf of the Customer
        and that You have the authority to bind the Customer to
        the terms and conditions of this Agreement.<br><br>
        <b>1. LICENSE</b><br><br>
        During the Period (as defined below in the "Validity"
        section), subject to Your full and ongoing compliance
        with all the terms and conditions of this Agreement,
        Company hereby grants You a limited, revocable,
        non-exclusive, non-transferable, non-sublicensable
        license to install and use the Software in your
        internal environment, and solely for the intended
        purpose of the Software.<br><br>
        <b>2. RESTRICTIONS</b><br><br>
        You will not, and will not allow any third party to:
        (i) modify or create derivative works of the Software
        and Hardware; (ii) sell, sublicense, rent, lease,
        distribute, market, or commercialize the Software
        and Hardware; (iii) decompile, disassemble, translate,
        reverse engineer or otherwise attempt to derive source
        code from, any portion of the Software, except and
        solely to the extent that the foregoing restriction
        is impermissible pursuant to applicable law or third
        party license; (iv) remove, alter or obscure any
        proprietary notices of Company, its licensors or
        suppliers included in the Software; or (v) publicly
        disseminate performance information about or analysis
        of the Software, including benchmarking test results.
        No third party may access, view or use the Software
        under this Agreement; (vi) disassemble or reverse
        engineer the Hardware.<br><br>
        <b>3. LICENSING FEES; OPERATING EXPENSES</b><br><br>
        Subject to the terms of this Agreement,
        You and Company agree that license fees or other
        fees shall be payable under this Agreement in exchange
        for the rights granted and/or the use of the Software
        and the Hardware provided under this Agreement.<br><br>
        <b>4. FEEDBACK</b><br><br>
        If you choose to provide us with suggestions, ideas for
        improvement, recommendations or other feedback, we may
        use your feedback without any restriction or payment.
      <br><br>
        <b>5. OWNERSHIP</b><br><br>
        The Software, and all worldwide intellectual property
        rights and proprietary rights to the Software, are the
        exclusive property of Company and its licensors. Company
        and its licensors reserve all rights in and to the Software
        not expressly granted to You in this Agreement, and no other
        licenses or rights are granted by implication, estoppel or
        otherwise.<br><br>
        <b>6. TERM</b><br><br>
        This Agreement shall commence when you start using the
        Software or Hardware and shall continue in force and effect
        until terminated by either party. On failure to pay the
        renewal fee, the software will be terminated.  Either
        party may terminate this Agreement, with or without cause,
        immediately upon written notice to the other party. Company
        may terminate this Agreement by posting a notice on its website,
        and this Agreement will terminate immediately and without notice
        in the event that you breach any term or condition of this
        Agreement. Upon the expiration or any termination of this
        Agreement, the license and all rights granted to You under
        this Agreement will immediately terminate, and You shall
        promptly purge and destroy all copies of the Software in
        Your possession and return the Hardware to the company.
        Provisions intended by their nature to survive termination
        of this Agreement survive termination.<br><br>
        <b>7. USAGE DATA</b><br><br>
        The Software may include features that provide us metadata
        about usage of the Software, and you hereby consent to our
        collection of such data, and to our storage, processing,
        and analysis of such data for our own internal business
        purposes.<br><br>
        <b>8. VALIDITY</b><br><br>
        In terms of the agreement the validity of the software is
        one year from the date of reception. After the aforesaid
        period, A renewal fee will charged as per the  Company
        policies.<br><br>
        <b>9. WARRANTY DISCLAIMER</b><br><br>
        THE SOFTWARE AND HARDWARE IS PROVIDED TO YOU “AS IS” AND
        COMPANY AND LICENSORS EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES
        AND REPRESENTATIONS OF ANY KIND WITH REGARD TO THE SOFTWARE,
        HARDWARE OR THIS AGREEMENT, INCLUDING, WITHOUT LIMITATION,
        ANY WARRANTY OF NON-INFRINGEMENT, TITLE, FITNESS FOR A PARTICULAR
        PURPOSE, FUNCTIONALITY OR MERCHANTABILITY, WHETHER EXPRESS,
        IMPLIED OR STATUTORY.<br><br>
        <b>10. LIMITATION OF REMEDIES</b><br><br>
        IN NO EVENT SHALL COMPANY BE LIABLE FOR ANY INCIDENTAL,
        INDIRECT, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES IN
        CONNECTION WITH THIS AGREEMENT, REGARDLESS OF THE NATURE
        OF THE CLAIM OR THEORY OF LIABILITY, INCLUDING, WITHOUT
        LIMITATION, LOST PROFITS, COSTS OF DELAY, ANY FAILURE OF
        DELIVERY, BUSINESS INTERRUPTION, COSTS OF LOST OR DAMAGED
        DATA OR DOCUMENTATION OR LIABILITIES TO THIRD PARTIES ARISING
        FROM ANY SOURCE, REGARDLESS OF WHETHER THE COMPANY HAS BEEN
        NOTIFIED OF THE POSSIBILITY OF SUCH DAMAGES. WITHOUT LIMITING
        THE FOREGOING, COMPANY’S CUMULATIVE LIABILITY FOR ALL CLAIMS
        ARISING FROM OR RELATING TO THIS AGREEMENT, INCLUDING, WITHOUT
        LIMITATION, ANY CAUSE OF ACTION SOUNDING IN CONTRACT, TORT, OR
        STRICT LIABILITY, SHALL NOT EXCEED ONE THOUSAND INDIAN RUPEES
        (1000 INR). THE FOREGOING LIMITATIONS WILL APPLY NOTWITHSTANDING
        THE FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY PROVIDED
        HEREIN.<br><br>
        <b>11. ESSENTIAL BASIS OF AGREEMENT</b><br><br>
        The Parties acknowledge and agree that the disclaimers,
        exclusions and limitations of liability set forth in Section
        9 form an essential basis of this Agreement, and that, absent
        any of such disclaimers, exclusions or limitations of liability,
        the terms of this Agreement, including, without limitation,
        the economic terms, would be substantially different.<br><br>
        <b>11. GENERAL</b><br><br>
        This Agreement shall be governed by and interpreted in
          accordance with the laws of India, without regard to
          conflicts of law principles thereof or to the United
          Nations Convention on the International Sale of Goods.
          For purposes of all claims brought under this agreement,
          each of the parties hereby irrevocably submits to the
          exclusive jurisdiction of the High Court of Kolkata,
          West Bengal. Company may assign this Agreement, in whole
            or in part, at any time with or without notice to You.
            You may not assign this Agreement, or any part of it,
            to any other party. Any attempt by You to do so is null
            and void. If any provision of this Agreement is held to
            be unenforceable, that provision will be enforced to th
          extent permissible by law and the remaining provisions
          will remain in full force. No waiver under this Agreement
          shall be valid or binding unless set forth in writing and
          duly executed by the party against whom enforcement of
          such waiver is sought. Any such waiver shall constitute
            a waiver only with respect to the specific matter described
            therein and shall in no way impair the rights of the party
            granting such waiver in any other respect or at any other
            time. Any delay or forbearance by either party in exercising
            any right hereunder shall not be deemed a waiver of that right.
            This Agreement is the complete and exclusive statement of the
            agreement between us and supersedes any proposal or prior
            agreement, oral or written, and any other communications
            between You and Company in relation to the subject
            matter of this Agreement.<br><br>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';

const PASS = 'sipwKyiIRJ';

export default {
  data() {
    return {
      pass: '',
      accept: false,
      clicked: false,
      user: {
        username: '',
        name: '',
        admin: false,
        contacts: {
          phones: [],
          emails: [],
        },
        address: {
          city: '',
          country: '',
          landmark: '',
          pincode: '',
          state: '',
          lines: ['', ''],
        },
        birthDate: null,
        gender: false,
      },
      phone: '',
      email: '',
      retypePassword: '',
      emailRe: /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
    };
  },
  computed: {
    invalid() {
      if (!this.user.password.match(/.{8,}/)) {
        return 'Password should be at least 8 characters long.';
      }
      if (this.user.password !== this.retypePassword) {
        return 'Passwords don\'t match';
      }
      if (!this.user.username.match(/^[a-z0-9_-]{3,}$/)) {
        return 'Username should be alphanumeric and at least 3 characters long';
      }
      if (this.user.username.length < 1) {
        return 'Username is required';
      }
      if (this.email && !this.email.match(this.emailRe)) {
        return 'Invalid email';
      }
      if (this.user.admin && (this.pass !== PASS)) {
        return 'Admin password is incorrect';
      }
      return false;
    },
  },
  methods: {
    openTerms() {
      this.clicked = !this.clicked;
    },
    ...mapMutations([
      'openLogInPage',
      'setPopup',
    ]),
    ...mapActions([
      'registerUser',
    ]),
    register() {
      if (this.invalid) {
        this.setPopup({
          title: 'Error in Signup',
          text: this.invalid,
          type: 'error',
        });
      } else {
        if (this.email + this.phone !== '') {
          if (this.email.length > 0) {
            this.user.contacts.emails = [this.email];
          }
          if (this.phone.length > 0) {
            this.user.contacts.phones = [this.phone];
          }
        }
        this.registerUser(this.user);
        this.openLogInPage();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.create-account-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  .toggle {
    max-width: 20rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .hindpos {
    margin: {
    left: 15%;
    top: calc(50vh - 25rem);
    }
  }
  .form {
    margin: {
      top: calc((100vh - 700px) / 2);
      left: 10%;
    }
    width: 500px;
    height: 700px;
    border-radius: .5rem;
    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .body {
      .admin {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
      }
      .terms {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .terms-and-condition {
    top: calc(50vh - 28rem);
    left: calc(50vw - 25rem);
    width: 50rem;
    height: 58rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
</style>
