<template>
  <component
  :is="getLoginSubPage"></component>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import Login from './Login';
import CreateAccount from './CreateAccount';
// import StoreInfo from './StoreInfo';

export default {
  computed: {
    ...mapGetters([
      'getLoginSubPage',
    ]),
  },
  components: {
    Login,
    CreateAccount,
    // StoreInfo,
  },
  async destroyed() {
    this.loadLocalProducts();
    this.loadExpiryNotification();
    this.getConfig();
    this.loadOrderHistory();
    this.loadStockHistory();
    this.loadGlobalProducts();
    this.accountTransactions();
  },
  methods: {
    ...mapActions([
      'loadOrderHistory',
      'loadStockHistory',
      'loadExpiryNotification',
      'loadLocalProducts',
      'loadGlobalProducts',
      'getConfig',
      'accountTransactions',
    ]),
  },
};
</script>
