<template>
  <div class="log-in-container stnd-font">
    <div class="logo mb-40">
      <img src="static/img/logo/logo.png">
    </div>
    <div class="form">
      <div class="username">
        <input class="input stnd-font" placeholder="Username"
        v-model="user.username"
        v-focus>
      </div>
      <div class="password">
        <input type="password" class="input stnd-font" placeholder="Password"
        v-model="user.password">
      </div>
      <div class="btn btn-gradient-green button-1"
      v-shortkey="['enter']"
      @shortkey="login(user)"
      @click="login(user)">Sign In</div>
      <div class="btn btn-gradient-blue button-3"
      v-shortkey="['alt', 'c']"
      @shortkey="createAccount"
      @click="createAccount">Create Account</div>
      <div class="btn btn-gradient-red button-2">Forgot Password</div>
    </div>
    <notifications group="login" />
  </div>
</template>

<script>
import { mapMutations, mapActions } from 'vuex';

export default {
  data() {
    return {
      user: {
        username: '',
        password: '',
      },
    };
  },
  methods: {
    ...mapMutations([
      'createAccount',
    ]),
    ...mapActions([
      'login',
    ]),
  },
};
</script>

<style lang="scss" scoped>
  .log-in-container {
    position: relative;
    width: 20%;
    margin: {
      left: 40%;
      right: 40%;
      top: calc(50vh - 30rem);
    }
    .logo {
      img {
        width: 25rem;
        margin: {
          left: calc(50% - 18rem);
        };
      }
    }
    .form {
      display: grid;
      grid-template-rows: repeat(1fr, 5);
      grid-gap: 0.7rem;
    }
  }
</style>
