<template>
  <div class="store-info-container stnd-font">
    <div class="hindpos">
      <img src="static/img/logIn/hindpos.png">
    </div>
    <div class="form">
      <div class="header">
        Store Info
      </div>
      <div class="body">
        <div class="store-name">
          <div class="title">Store Name</div>
          <input type="text" class="input stnd-font" placeholder="Store Name">
        </div>
        <div class="store-id">
          <div class="title">
            Store Id
          </div>
          <div class="id"
            v-if="clicked">
            <b>mak414</b>
          </div>
          <div class="button">
            <a class="btn btn-gradient-green"
              @click="generateId">Generate Id</a>
          </div>
        </div>
        <div class="Owner-name">
          <div class="title">Owner Name</div>
          <input type="text" class="input stnd-font" placeholder="Owner Name">
        </div>
        <div class="gstin">
          <div class="title">GSTIN</div>
          <input type="text" class="input stnd-font" placeholder="GSTIN">
        </div>
        <div class="license-number">
          <div class="title">License Number</div>
          <input type="text" class="input stnd-font" placeholder="License Number">
        </div>
        <div class="address">
          <div class="title">Address</div>
          <input type="text" class="input stnd-font" placeholder="PinCode">
          <input type="text" class="input stnd-font" placeholder="City">
          <input type="text" class="input stnd-font" placeholder="State">
          <input type="text" class="input stnd-font" placeholder="Country">
          <input type="text" class="input add" placeholder="Address">
        </div>
        <div class="button">
          <div class="btn btn-gradient-blue"
            @click="openCreateAccount">Submit</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  data() {
    return {
      clicked: false,
    };
  },
  methods: {
    ...mapMutations([
      'openCreateAccount',
    ]),
    generateId() {
      this.clicked = true;
    },
  },
};
</script>

<style lang="scss" scoped>
.store-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .hindpos {
    margin: {
    left: 15%;
    top: calc(50vh - 25rem);
    }
    img {
      width: 30rem;
    }
  }
  .form {
    margin: {
      top: 15%;
      left: 10%;
    }
    padding: {
      top: 1.5rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
    width: 50rem;
    height: 58rem;
    background-image:
      linear-gradient(to right, rgba(200, 200, 200, .5),
       rgba(230, 230, 230, .5));
    border-radius: .5rem;
    box-shadow: 0 0 6rem 0 rgba(0, 0, 0, .12);
    .header {
      font-size: 2rem;
      padding:  {
        bottom: .5rem;
      }
    }
    .body {
      .input {
        height: 3.5rem;
        font-size: 1.6rem;
      }
      .title {
        font-size: 1.8rem;
        padding: {
          top: .6rem;
          bottom: .8rem;
        }
      }
      .button {
        float: right;
        .btn {
          font-size: 1.8rem;
          width: 15rem;
          height: 3.5rem;
          line-height: 3.5rem;
        }
      }
      .store-id {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: {
          top: 1rem;
        }
        .id {
          font-size: 1.5rem;
          padding: {
            top: 1rem;
          }
          text-align: center;
        }
        .button {
          grid-column: 3;
        }
      }
      .address {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: .7rem;
        padding: {
          bottom: 1rem;
        }
        .title {
          grid-column: 1/3;
        }
        .add {
          grid-column: 1/3;
        }
      }
    }
  }
}
</style>
