<template>
  <div>
    <div class="preloader" ref="preloader">
      <preloader></preloader>
    </div>
    <div class="invisible" ref="container">
      <popup-wrapper/>
      <notifications class="stnd-font" group="all" />
    </div>
  </div>
</template>

<script>
import Preloader from './components/Preloader';
import PopupWrapper from './components/PopupWrapper';

export default {
  components: {
    PopupWrapper,
    Preloader,
  },
  mounted() {
    setTimeout(() => {
      this.$refs.preloader.classList.add('move');
      setTimeout(() => {
        this.$refs.preloader.classList.add('invisible');
        this.$refs.preloader.innerHTML = '';
      }, 300);
      this.$refs.container.classList = [];
    }, 2000);
  },
};
</script>

<style lang="scss">
@import url('./assets/css/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.preloader {
  &.move {
    transform: translateY(-100vh);
  }
  transition: all .3s ease;
}

.invisible {
  visibility: hidden;
  display: none;
}

.wrapper {
  min-width: 130rem;
  min-height: 40rem;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
}

.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  background: #eeeef2;
}

.stnd-font {
  font-family: Mosk;
  font-weight: 400;
}

select {
  background: white;
  padding-top: 5px !important;
}

.portlet {
  width: 100%;
  border-radius: 0.2rem;
  background: white;
}

.page-header {
  height: 5rem;
  font-size: 2rem;
  background: white;
  padding: 1.5rem;
  color: rgba(20, 20, 20, 0.952);
  border-bottom: 0.1rem solid #eee;
}
.btn {
  height: 4rem;
  padding-top: 0rem;
  line-height: 3.8rem;
  font-size: 1.6rem;
}
.vue-notification {
  padding: 1rem;
  margin: 0 .5rem .5rem;

  font-size: 1.6rem;
  font-weight: 600;

  color: #fff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}
</style>
