<template>
  <component
  :is="whichPage"></component>
</template>

<script>
import Settings from './Settings';

export default {
  data() {
    return {
      whichPage: 'Settings',
    };
  },
  components: {
    Settings,
  },
};
</script>

<style lang="scss" scoped>
</style>
