<template>
  <div class="setting-container portlet stnd-font scroll-bar m-7 scroll-y">
    <div class="settings pt-10 pl-10 pb-5">
      <div class="title fs-22 fw-500 mt-7"><i class="icons icon-settings mr-10"></i>Settings</div>
      <div class="btn-group">
        <a class="btn btn-gradient-blue mr-10"
        @click="save(config)">
          <i class="icons icon-check mr-10 va-middle fw-700"></i>
          Save
        </a>
      </div>
    </div>
    <div class="top mt-10 ml-10">
      <div
      class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text lighten-1 grid-col-1-3">
        Default Sidebar
      </div>
      <div class="toggle grid-col-1 fw-600">
        <span class="fs-20 pt-5 ta-center">Big Sidebar</span>
        <label class="switch">
        <input type="checkbox" v-model="config.smallSidebar">
        <span class="slider round"></span>
        </label>
        <span class="fs-20 pt-5 ta-center ml-8">Small Sidebar</span>
      </div>
      <div class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text grid-col-2-4">
        Product expiration warning (days)
      </div>
      <input type="number" class="input stnd-font grid-col-2-4"
        placeholder="Product Expiry Warning" v-model="config.expiryWarn">
      <div
      class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text lighten-1">
        Bill Print
      </div>
      <div class="fs-18 fw-600 grid-col-1">
        <div class="mb-7">Automatic Bill Print</div>
        <div class="toggle">
          <span class="fs-20 pt-5 ta-center">Disable</span>
          <label class="switch">
            <input type="checkbox" v-model="config.autoBill">
            <span class="slider round"></span>
          </label>
          <span class="fs-20 pt-5 ta-center pr-10">Enable</span>
        </div>
      </div>
      <div class="fs-18 fw-600 grid-col-2">
        <div class="mb-7">Number of Copies</div>
        <input type="number" class="input stnd-font"
        placeholder="Number of Copies" v-model="config.numCopies">
      </div>
      <div class="fs-18 fw-600 grid-col-3">
        <div class="mb-7">Print Type</div>
        <select
        v-model="config.printType"
        class="select stnd-font">
          <option class="list">Thermal</option>
          <option class="list">A4</option>
          <option class="list">A5</option>
        </select>
      </div>
      <div class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text lighten-1">Target</div>
      <div class="fs-18 fw-600 grid-col-1">
        <div class="mb-10">Profit</div>
        <input type="number" class="input stnd-font"
        placeholder="Profit" v-model="config.target.profit">
      </div>
      <div class="fs-18 fw-600 grid-col-2">
        <div class="mb-10">Revenue</div>
        <input type="number" class="input stnd-font"
        placeholder="Revenue" v-model="config.target.revenue">
      </div>
      <div class="fs-18 fw-600 grid-col-3">
        <div class="mb-10">Orders</div>
        <input type="number" class="input stnd-font"
        placeholder="Orders" v-model="config.target.order">
      </div>
      <div class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text lighten-1">Store Info</div>
      <div class="store-name grid-col-1">
        <div class="fs-16 fw-600 mb-7">Store Name</div>
        <input type="text" class="input stnd-font"
        placeholder="Store Name" v-model="config.store.name">
      </div>
      <div class="owner-name grid-col-2">
        <div class="fs-16 fw-600 mb-7">Owner Name</div>
        <input type="text" class="input stnd-font"
        placeholder="Owner Name" v-model="config.store.owner">
      </div>
      <div class="phone grid-col-3">
        <div class="fs-16 fw-600 mb-7">Phone</div>
        <input type="number" class="input stnd-font"
        placeholder="Phone" v-model="config.store.phone">
      </div>
      <div class="store-id grid-col-1">
        <div class="fs-16 fw-600 mb-7">Store Id</div>
        <div class="value">{{ config.store.storeId }}</div>
      </div>
      <div class="gstin grid-col-2">
        <div class="fs-16 fw-600 mb-7">GSTIN</div>
        <input type="text" class="input stnd-font"
        placeholder="GSTIN" v-model="config.store.gstin">
      </div>
      <div class="license-number grid-col-3">
        <div class="fs-16 fw-600 mb-7">License Number</div>
        <input type="text" class="input stnd-font"
        placeholder="License Number" v-model="config.store.license">
      </div>
    </div>
    <div class="bottom m-10">
      <div class="address mb-10">
        <div class="fs-16 fw-600 mb-7">Address</div>
        <input class="input pincode stnd-font" type="text"
         placeholder="Pincode" v-model="config.address.pincode">
        <input class="input city stnd-font"
        placeholder="City" v-model="config.address.city">
        <div class="state">
          <select
          class="select stnd-font" v-model="config.address.state">
            <option class="list" v-for="(state, idx) in getIndianStates" :key="idx">
              {{ state }}
            </option>
          </select>
        </div>
        <div class="country">
          <select
          class="select stnd-font">
            <option class="list">India</option>
          </select>
        </div>
        <input class="input adl1 stnd-font"
        placeholder="Address Line 1" v-model="config.address.lines[0]">
        <input class="input adl2 stnd-font"
        placeholder="Address Line 2" v-model="config.address.lines[1]">
        <input class="input landmark stnd-font"
        placeholder="Landmark" v-model="config.address.landmark">
      </div>
      <div class="fs-20 fw-700 mb-7 text-uppercase blue-grey-text lighten-1">Developer Tools</div>
      <a class="btn btn-gradient-red"
      @click="toggleModal">
      <i class="icon-reload fs-18 fw-600 mr-10"></i>
        Reset
      </a>
      <div class="modal position-absolute p-20" v-if="modal">
        <div class="fs-20 fw-600 mb-7 ta-center">
          All app data will be deleted!
        </div>
        <div class="body">
          <input class="input a password" placeholder="Password"
          type="password" v-model="password">
          <div class="mt-7">
            <a href="#" class="btn btn-gradient-red full-width" @click="reset">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import _ from 'lodash';

export default {
  created() {
    this.config = _.cloneDeep(this.getConfig);
  },
  computed: {
    ...mapGetters([
      'getConfig',
      'getUser',
      'getIndianStates',
    ]),
  },
  methods: {
    ...mapActions({
      save: 'setConfig',
      appReset: 'appReset',
    }),
    toggleModal() {
      this.modal = !this.modal;
    },
    reset() {
      this.toggleModal();
      this.appReset({
        _id: this.getUser._id,
        password: this.password,
      });
    },
  },
  data() {
    return {
      config: {},
      modal: false,
      password: '',
    };
  },
};
</script>

<style lang="scss" scoped>
.setting-container {
  width: calc(100% - 1.4rem);
  height: calc(100vh - 8rem);
  .toggle {
    max-width: 35rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .modal {
    top: 40%;
    left: 40%;
    z-index: 1000;
    width: 50rem;
    background-image:
      linear-gradient(to right, #ddd,
      #eee);
    border-radius: .5rem;
  }
  .settings {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .7rem;
    border-bottom: .2rem solid #eee;
  }
  .top {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-gap: 10px;
  }
  .address {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.7rem;

    * {
      grid-column: 1/5;
    }

    .pincode {
      grid-column: 1;
    }
    .city {
      grid-column: 2;
    }
    .state {
      grid-column: 3;
    }
    .country {
      grid-column: 4;
    }
  }
}
</style>
